workflow/coordinator.json
{"updatedAt":"2026-03-20T15:49:34.764Z","createdAt":"2026-03-20T01:58:12.854Z","id":"fxr0UXKZNsJPZ9Bv","name":"COORDINATOR - Syscom-Odoo Sync Monitor","description":null,"active":true,"isArchived":false,"nodes":[{"id":"node-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 */3 * * *"}]}}},{"id":"node-getExec","name":"HTTP: Get Recent Executions","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,0],"parameters":{"method":"GET","url":"https://n8n.ocean-tech.com.mx/api/v1/executions?workflowId=ylxPHHe9ymC49FTO&limit=20","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwYmJmOWMxNi1iY2QwLTRkZWYtOWJiMy1hZjA0ZjVkNDcyMWQiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiYjc4MjRjMTAtOTQxMS00ZDhmLTgwNTEtMWYzYzYzNmZmYTBkIiwiaWF0IjoxNzcyMjEyMzYwfQ.oFs4zmce5fdQv-hXHuVdt56pBI9i_24EFk_TBE3WNu8"}]},"options":{}}},{"id":"node-getWorkflow","name":"HTTP: Get Workflow StaticData","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,200],"parameters":{"method":"GET","url":"https://n8n.ocean-tech.com.mx/api/v1/workflows/ylxPHHe9ymC49FTO","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwYmJmOWMxNi1iY2QwLTRkZWYtOWJiMy1hZjA0ZjVkNDcyMWQiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiYjc4MjRjMTAtOTQxMS00ZDhmLTgwNTEtMWYzYzYzNmZmYTBkIiwiaWF0IjoxNzcyMjEyMzYwfQ.oFs4zmce5fdQv-hXHuVdt56pBI9i_24EFk_TBE3WNu8"}]},"options":{}}},{"id":"node-getSysToken","name":"HTTP: Get Syscom Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-100],"parameters":{"method":"POST","url":"https://developers.syscom.mx/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"zq2u2Zr1VFGam5IzAg5UolwmeSnsChP7"},{"name":"client_secret","value":"thdUXtjZunSRT4IB1ascUHIZlWsA5PhtIL9mBWVz"}]},"options":{"timeout":15000}}},{"id":"node-checkSysAPI","name":"HTTP: Check Syscom API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,-100],"parameters":{"method":"GET","url":"https://developers.syscom.mx/api/v1/productos?page=1&pagina=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('HTTP: Get Syscom Token').item.json.access_token }}"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"node-checkOdoo","name":"HTTP: Check Odoo Health","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,200],"parameters":{"method":"GET","url":"https://ocean-tech-0326.odoo.com/web/health","options":{"response":{"response":{"neverError":true}}}}},{"id":"node-getProgress","name":"Code: Get Progress Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"\n// Get Progress Summary v2\nconst execData = $('HTTP: Get Recent Executions').first().json;\nconst staticData = $('HTTP: Get Workflow StaticData').first().json;\nconst syscomData = $('HTTP: Check Syscom API').first().json;\nconst odooHealth = $('HTTP: Check Odoo Health').first().json;\n\nconst execs = execData.data || [];\nconst global = (staticData.staticData || {}).global || {};\n\nconst CATS = [\"Videovigilancia\",\"Redes\",\"Radiocomunicación\",\"Automatización e Intrusión\",\n    \"Cableado Estructurado\",\"Control de Acceso\",\"Energía\",\"Detección de Incendio\",\n    \"Sonido y Video\",\"Herramientas\"];\nconst TOTAL_PAGES = 950;\n\nconst catIdx = Number(global.categoryIndex) || 0;\nconst page = Number(global.page) || 1;\n// Approximate: each category has ~95 pages avg\nconst pagesPerCat = TOTAL_PAGES / CATS.length;\nconst approxPagesTotal = catIdx * pagesPerCat + page;\nconst pctComplete = Math.min(100, Math.round(approxPagesTotal / TOTAL_PAGES * 100));\n\nconst last24h = new Date(Date.now() - 24*60*60*1000).toISOString();\nconst recent = execs.slice(0, 20);\nconst errors24h = recent.filter(e => e.status !== 'success' && (e.startedAt || '') > last24h).length;\nconst last5 = recent.slice(0, 5).map(e => ({\n    id: e.id, status: e.status,\n    time: (e.startedAt || '').substring(11, 19)\n}));\n\n// Products processed estimate: pages done * 3 products avg per page\nconst approxProducts = Math.round(approxPagesTotal * 3);\n\n// Syscom health\nconst syscomOk = !!(syscomData.productos || syscomData.access_token || Array.isArray(syscomData));\nconst odooOk = odooHealth.status === 'pass' || JSON.stringify(odooHealth).includes('ok');\n\n// ETA: remaining pages * 5 min each / 60 = hours\nconst remaining = TOTAL_PAGES - approxPagesTotal;\nconst etaHours = Math.round(remaining * 5 / 60);\n\nreturn [{ json: {\n    catIdx, catName: CATS[catIdx] || 'Desconocida', page,\n    pctComplete, approxPagesTotal, remaining,\n    approxProducts, etaHours,\n    errors24h, last5,\n    syscomOk, odooOk,\n    lastSave: global.lastSave || 'N/A',\n    timestamp: new Date().toISOString()\n}}];\n"}},{"id":"node-buildReport","name":"Code: Build Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $input.item.json;\nconst p = d.progress;\nconst e = d.executions;\nconst h = d.health;\nconst eta = d.eta;\n\nconst syscomIcon = h.syscom === 'OK' ? '[OK]' : '[DOWN]';\nconst odooIcon   = h.odoo   === 'OK' ? '[OK]' : '[DOWN]';\nconst statusIcon = (s) => { if (s === 'success') return '[OK]'; if (s === 'error' || s === 'crashed') return '[ERR]'; if (s === 'running') return '[...]'; return '[?]'; };\n\nconst lastFiveHtml = e.lastFive.map(ex => { const started = ex.startedAt ? new Date(ex.startedAt).toISOString().slice(0,16).replace('T',' ') : 'N/A'; return '<tr><td style=\"padding:4px 8px;\">' + statusIcon(ex.status) + ' ' + ex.status + '</td><td style=\"padding:4px 8px;\">' + started + '</td><td style=\"padding:4px 8px;font-family:monospace;font-size:11px;\">' + ex.id + '</td></tr>'; }).join('');\n\nconst alertColor = e.errorCount24h > 0 ? '#ff5252' : '#4CAF50';\nconst alertMsg = e.errorCount24h > 0 ? 'WARNING: ' + e.errorCount24h + ' error(s) in last 24h - review executions!' : 'OK - No errors in last 24h';\n\nconst progressWidth = Math.min(p.progressPct, 100);\n\nconst html = '<!DOCTYPE html><html><head><meta charset=\"utf-8\"><style>body{font-family:Arial,sans-serif;color:#333;max-width:640px;margin:0 auto;padding:20px;}h1{color:#1a73e8;border-bottom:2px solid #1a73e8;padding-bottom:8px;}h2{color:#555;font-size:16px;margin-top:24px;}table{border-collapse:collapse;width:100%;}th{background:#f5f5f5;padding:6px 8px;text-align:left;font-size:13px;}td{border-bottom:1px solid #eee;font-size:13px;}.card{background:#f9f9f9;border-radius:8px;padding:16px;margin:12px 0;border:1px solid #ddd;}.alert{background:' + alertColor + ';color:#fff;border-radius:6px;padding:10px 16px;margin:12px 0;}.stat{display:inline-block;text-align:center;padding:8px 16px;margin:6px;background:#e8f0fe;border-radius:6px;min-width:100px;}.stat-val{font-size:22px;font-weight:bold;color:#1a73e8;}.stat-lbl{font-size:11px;color:#888;}</style></head><body>'\n  + '<h1>Syscom-Odoo Sync — Coordinator Report</h1>'\n  + '<p style=\"color:#888;font-size:12px;\">Generated: ' + new Date(d.timestamp).toISOString().slice(0,16).replace('T',' ') + ' UTC</p>'\n  + '<div class=\"alert\">' + alertMsg + '</div>'\n  + '<h2>Sync Progress</h2>'\n  + '<div class=\"card\">'\n  + '<div style=\"background:#e0e0e0;border-radius:4px;height:20px;width:100%;\"><div style=\"background:#4CAF50;border-radius:4px;height:20px;width:' + progressWidth + '%;\"></div></div>'\n  + '<p style=\"text-align:center;margin:4px 0;font-size:13px;\">' + p.progressPct + '%</p>'\n  + '<div style=\"text-align:center;margin-top:12px;\">'\n  + '<div class=\"stat\"><div class=\"stat-val\">' + p.progressPct + '%</div><div class=\"stat-lbl\">Complete</div></div>'\n  + '<div class=\"stat\"><div class=\"stat-val\">' + p.productsSynced.toLocaleString() + '</div><div class=\"stat-lbl\">Products Synced</div></div>'\n  + '<div class=\"stat\"><div class=\"stat-val\">' + p.totalPagesProcessed + '/' + p.totalPages + '</div><div class=\"stat-lbl\">Pages Done</div></div>'\n  + '<div class=\"stat\"><div class=\"stat-val\">' + eta.hoursLeft + 'h</div><div class=\"stat-lbl\">Est. Remaining</div></div>'\n  + '</div>'\n  + '<table style=\"margin-top:12px;\"><tr><th>Field</th><th>Value</th></tr>'\n  + '<tr><td>Current Category</td><td>' + p.categoryName + ' (index ' + p.categoryIndex + ')</td></tr>'\n  + '<tr><td>Current Page</td><td>' + p.currentPage + '</td></tr>'\n  + '<tr><td>Remaining Pages</td><td>' + eta.remainingPages + '</td></tr>'\n  + '<tr><td>Est. Completion</td><td>' + eta.estimatedCompletion + '</td></tr>'\n  + '<tr><td>Last StaticData Save</td><td>' + (p.lastSave || 'N/A') + '</td></tr>'\n  + '</table></div>'\n  + '<h2>API Health</h2>'\n  + '<div class=\"card\"><p>' + syscomIcon + ' <strong>Syscom API:</strong> ' + h.syscom + '</p><p>' + odooIcon + ' <strong>Odoo:</strong> ' + h.odoo + '</p></div>'\n  + '<h2>Last 5 Executions</h2>'\n  + '<div class=\"card\"><table><tr><th>Status</th><th>Started At</th><th>Execution ID</th></tr>' + (lastFiveHtml || '<tr><td colspan=\"3\">No executions found</td></tr>') + '</table></div>'\n  + '<h2>Error Summary</h2>'\n  + '<div class=\"card\"><p>Errors in last 24h: <strong style=\"color:' + (e.errorCount24h > 0 ? '#f44336' : '#4CAF50') + '\">' + e.errorCount24h + '</strong></p><p>Executions checked: <strong>' + e.totalChecked + '</strong></p></div>'\n  + '<hr style=\"margin-top:32px;border:none;border-top:1px solid #eee;\">'\n  + '<p style=\"font-size:11px;color:#aaa;\">Coordinator Agent — Syscom-Odoo Sync System | Ocean Tech</p>'\n  + '</body></html>';\n\nconst subject = '[' + (e.errorCount24h > 0 ? 'ERRORS' : 'OK') + '] Syscom-Odoo Sync: ' + p.progressPct + '% complete - ' + new Date().toISOString().slice(0,10);\n\nreturn [{ json: { subject, html, reportData: d } }];"}},{"id":"node-sendEmail","name":"Send Email Report","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1680,0],"credentials":{"smtp":{"id":"8Sh1bZ6TghVIY8JW","name":"Gmail SMTP - pipess21"}},"parameters":{"fromEmail":"pipess21@gmail.com","toEmail":"pipess21@gmail.com","subject":"={{ $json.subject }}","emailFormat":"html","html":"={{ $json.html }}","options":{}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP: Get Recent Executions","type":"main","index":0},{"node":"HTTP: Get Workflow StaticData","type":"main","index":0},{"node":"HTTP: Get Syscom Token","type":"main","index":0},{"node":"HTTP: Check Odoo Health","type":"main","index":0}]]},"HTTP: Get Syscom Token":{"main":[[{"node":"HTTP: Check Syscom API","type":"main","index":0}]]},"HTTP: Get Recent Executions":{"main":[[{"node":"Code: Get Progress Summary","type":"main","index":0}]]},"HTTP: Get Workflow StaticData":{"main":[[{"node":"Code: Get Progress Summary","type":"main","index":0}]]},"HTTP: Check Syscom API":{"main":[[{"node":"Code: Get Progress Summary","type":"main","index":0}]]},"HTTP: Check Odoo Health":{"main":[[{"node":"Code: Get Progress Summary","type":"main","index":0}]]},"Code: Get Progress Summary":{"main":[[{"node":"Code: Build Report","type":"main","index":0}]]},"Code: Build Report":{"main":[[{"node":"Send Email Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"414977c9-1d56-4678-aa63-638b1f62297c","activeVersionId":"414977c9-1d56-4678-aa63-638b1f62297c","versionCounter":10,"triggerCount":1,"shared":[{"updatedAt":"2026-03-20T01:58:12.860Z","createdAt":"2026-03-20T01:58:12.860Z","role":"workflow:owner","workflowId":"fxr0UXKZNsJPZ9Bv","projectId":"1ugGQHoQVF6DXsWx","project":{"updatedAt":"2025-07-21T19:08:05.727Z","createdAt":"2025-07-21T19:06:54.563Z","id":"1ugGQHoQVF6DXsWx","name":"Felipe De Alba <pipess21@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-20T15:49:34.765Z","createdAt":"2026-03-20T15:49:34.765Z","versionId":"414977c9-1d56-4678-aa63-638b1f62297c","workflowId":"fxr0UXKZNsJPZ9Bv","nodes":[{"id":"node-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 */3 * * *"}]}}},{"id":"node-getExec","name":"HTTP: Get Recent Executions","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,0],"parameters":{"method":"GET","url":"https://n8n.ocean-tech.com.mx/api/v1/executions?workflowId=ylxPHHe9ymC49FTO&limit=20","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwYmJmOWMxNi1iY2QwLTRkZWYtOWJiMy1hZjA0ZjVkNDcyMWQiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiYjc4MjRjMTAtOTQxMS00ZDhmLTgwNTEtMWYzYzYzNmZmYTBkIiwiaWF0IjoxNzcyMjEyMzYwfQ.oFs4zmce5fdQv-hXHuVdt56pBI9i_24EFk_TBE3WNu8"}]},"options":{}}},{"id":"node-getWorkflow","name":"HTTP: Get Workflow StaticData","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,200],"parameters":{"method":"GET","url":"https://n8n.ocean-tech.com.mx/api/v1/workflows/ylxPHHe9ymC49FTO","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwYmJmOWMxNi1iY2QwLTRkZWYtOWJiMy1hZjA0ZjVkNDcyMWQiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiYjc4MjRjMTAtOTQxMS00ZDhmLTgwNTEtMWYzYzYzNmZmYTBkIiwiaWF0IjoxNzcyMjEyMzYwfQ.oFs4zmce5fdQv-hXHuVdt56pBI9i_24EFk_TBE3WNu8"}]},"options":{}}},{"id":"node-getSysToken","name":"HTTP: Get Syscom Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-100],"parameters":{"method":"POST","url":"https://developers.syscom.mx/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"zq2u2Zr1VFGam5IzAg5UolwmeSnsChP7"},{"name":"client_secret","value":"thdUXtjZunSRT4IB1ascUHIZlWsA5PhtIL9mBWVz"}]},"options":{"timeout":15000}}},{"id":"node-checkSysAPI","name":"HTTP: Check Syscom API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,-100],"parameters":{"method":"GET","url":"https://developers.syscom.mx/api/v1/productos?page=1&pagina=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('HTTP: Get Syscom Token').item.json.access_token }}"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"node-checkOdoo","name":"HTTP: Check Odoo Health","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,200],"parameters":{"method":"GET","url":"https://ocean-tech-0326.odoo.com/web/health","options":{"response":{"response":{"neverError":true}}}}},{"id":"node-getProgress","name":"Code: Get Progress Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"\n// Get Progress Summary v2\nconst execData = $('HTTP: Get Recent Executions').first().json;\nconst staticData = $('HTTP: Get Workflow StaticData').first().json;\nconst syscomData = $('HTTP: Check Syscom API').first().json;\nconst odooHealth = $('HTTP: Check Odoo Health').first().json;\n\nconst execs = execData.data || [];\nconst global = (staticData.staticData || {}).global || {};\n\nconst CATS = [\"Videovigilancia\",\"Redes\",\"Radiocomunicación\",\"Automatización e Intrusión\",\n    \"Cableado Estructurado\",\"Control de Acceso\",\"Energía\",\"Detección de Incendio\",\n    \"Sonido y Video\",\"Herramientas\"];\nconst TOTAL_PAGES = 950;\n\nconst catIdx = Number(global.categoryIndex) || 0;\nconst page = Number(global.page) || 1;\n// Approximate: each category has ~95 pages avg\nconst pagesPerCat = TOTAL_PAGES / CATS.length;\nconst approxPagesTotal = catIdx * pagesPerCat + page;\nconst pctComplete = Math.min(100, Math.round(approxPagesTotal / TOTAL_PAGES * 100));\n\nconst last24h = new Date(Date.now() - 24*60*60*1000).toISOString();\nconst recent = execs.slice(0, 20);\nconst errors24h = recent.filter(e => e.status !== 'success' && (e.startedAt || '') > last24h).length;\nconst last5 = recent.slice(0, 5).map(e => ({\n    id: e.id, status: e.status,\n    time: (e.startedAt || '').substring(11, 19)\n}));\n\n// Products processed estimate: pages done * 3 products avg per page\nconst approxProducts = Math.round(approxPagesTotal * 3);\n\n// Syscom health\nconst syscomOk = !!(syscomData.productos || syscomData.access_token || Array.isArray(syscomData));\nconst odooOk = odooHealth.status === 'pass' || JSON.stringify(odooHealth).includes('ok');\n\n// ETA: remaining pages * 5 min each / 60 = hours\nconst remaining = TOTAL_PAGES - approxPagesTotal;\nconst etaHours = Math.round(remaining * 5 / 60);\n\nreturn [{ json: {\n    catIdx, catName: CATS[catIdx] || 'Desconocida', page,\n    pctComplete, approxPagesTotal, remaining,\n    approxProducts, etaHours,\n    errors24h, last5,\n    syscomOk, odooOk,\n    lastSave: global.lastSave || 'N/A',\n    timestamp: new Date().toISOString()\n}}];\n"}},{"id":"node-buildReport","name":"Code: Build Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $input.item.json;\nconst p = d.progress;\nconst e = d.executions;\nconst h = d.health;\nconst eta = d.eta;\n\nconst syscomIcon = h.syscom === 'OK' ? '[OK]' : '[DOWN]';\nconst odooIcon   = h.odoo   === 'OK' ? '[OK]' : '[DOWN]';\nconst statusIcon = (s) => { if (s === 'success') return '[OK]'; if (s === 'error' || s === 'crashed') return '[ERR]'; if (s === 'running') return '[...]'; return '[?]'; };\n\nconst lastFiveHtml = e.lastFive.map(ex => { const started = ex.startedAt ? new Date(ex.startedAt).toISOString().slice(0,16).replace('T',' ') : 'N/A'; return '<tr><td style=\"padding:4px 8px;\">' + statusIcon(ex.status) + ' ' + ex.status + '</td><td style=\"padding:4px 8px;\">' + started + '</td><td style=\"padding:4px 8px;font-family:monospace;font-size:11px;\">' + ex.id + '</td></tr>'; }).join('');\n\nconst alertColor = e.errorCount24h > 0 ? '#ff5252' : '#4CAF50';\nconst alertMsg = e.errorCount24h > 0 ? 'WARNING: ' + e.errorCount24h + ' error(s) in last 24h - review executions!' : 'OK - No errors in last 24h';\n\nconst progressWidth = Math.min(p.progressPct, 100);\n\nconst html = '<!DOCTYPE html><html><head><meta charset=\"utf-8\"><style>body{font-family:Arial,sans-serif;color:#333;max-width:640px;margin:0 auto;padding:20px;}h1{color:#1a73e8;border-bottom:2px solid #1a73e8;padding-bottom:8px;}h2{color:#555;font-size:16px;margin-top:24px;}table{border-collapse:collapse;width:100%;}th{background:#f5f5f5;padding:6px 8px;text-align:left;font-size:13px;}td{border-bottom:1px solid #eee;font-size:13px;}.card{background:#f9f9f9;border-radius:8px;padding:16px;margin:12px 0;border:1px solid #ddd;}.alert{background:' + alertColor + ';color:#fff;border-radius:6px;padding:10px 16px;margin:12px 0;}.stat{display:inline-block;text-align:center;padding:8px 16px;margin:6px;background:#e8f0fe;border-radius:6px;min-width:100px;}.stat-val{font-size:22px;font-weight:bold;color:#1a73e8;}.stat-lbl{font-size:11px;color:#888;}</style></head><body>'\n  + '<h1>Syscom-Odoo Sync — Coordinator Report</h1>'\n  + '<p style=\"color:#888;font-size:12px;\">Generated: ' + new Date(d.timestamp).toISOString().slice(0,16).replace('T',' ') + ' UTC</p>'\n  + '<div class=\"alert\">' + alertMsg + '</div>'\n  + '<h2>Sync Progress</h2>'\n  + '<div class=\"card\">'\n  + '<div style=\"background:#e0e0e0;border-radius:4px;height:20px;width:100%;\"><div style=\"background:#4CAF50;border-radius:4px;height:20px;width:' + progressWidth + '%;\"></div></div>'\n  + '<p style=\"text-align:center;margin:4px 0;font-size:13px;\">' + p.progressPct + '%</p>'\n  + '<div style=\"text-align:center;margin-top:12px;\">'\n  + '<div class=\"stat\"><div class=\"stat-val\">' + p.progressPct + '%</div><div class=\"stat-lbl\">Complete</div></div>'\n  + '<div class=\"stat\"><div class=\"stat-val\">' + p.productsSynced.toLocaleString() + '</div><div class=\"stat-lbl\">Products Synced</div></div>'\n  + '<div class=\"stat\"><div class=\"stat-val\">' + p.totalPagesProcessed + '/' + p.totalPages + '</div><div class=\"stat-lbl\">Pages Done</div></div>'\n  + '<div class=\"stat\"><div class=\"stat-val\">' + eta.hoursLeft + 'h</div><div class=\"stat-lbl\">Est. Remaining</div></div>'\n  + '</div>'\n  + '<table style=\"margin-top:12px;\"><tr><th>Field</th><th>Value</th></tr>'\n  + '<tr><td>Current Category</td><td>' + p.categoryName + ' (index ' + p.categoryIndex + ')</td></tr>'\n  + '<tr><td>Current Page</td><td>' + p.currentPage + '</td></tr>'\n  + '<tr><td>Remaining Pages</td><td>' + eta.remainingPages + '</td></tr>'\n  + '<tr><td>Est. Completion</td><td>' + eta.estimatedCompletion + '</td></tr>'\n  + '<tr><td>Last StaticData Save</td><td>' + (p.lastSave || 'N/A') + '</td></tr>'\n  + '</table></div>'\n  + '<h2>API Health</h2>'\n  + '<div class=\"card\"><p>' + syscomIcon + ' <strong>Syscom API:</strong> ' + h.syscom + '</p><p>' + odooIcon + ' <strong>Odoo:</strong> ' + h.odoo + '</p></div>'\n  + '<h2>Last 5 Executions</h2>'\n  + '<div class=\"card\"><table><tr><th>Status</th><th>Started At</th><th>Execution ID</th></tr>' + (lastFiveHtml || '<tr><td colspan=\"3\">No executions found</td></tr>') + '</table></div>'\n  + '<h2>Error Summary</h2>'\n  + '<div class=\"card\"><p>Errors in last 24h: <strong style=\"color:' + (e.errorCount24h > 0 ? '#f44336' : '#4CAF50') + '\">' + e.errorCount24h + '</strong></p><p>Executions checked: <strong>' + e.totalChecked + '</strong></p></div>'\n  + '<hr style=\"margin-top:32px;border:none;border-top:1px solid #eee;\">'\n  + '<p style=\"font-size:11px;color:#aaa;\">Coordinator Agent — Syscom-Odoo Sync System | Ocean Tech</p>'\n  + '</body></html>';\n\nconst subject = '[' + (e.errorCount24h > 0 ? 'ERRORS' : 'OK') + '] Syscom-Odoo Sync: ' + p.progressPct + '% complete - ' + new Date().toISOString().slice(0,10);\n\nreturn [{ json: { subject, html, reportData: d } }];"}},{"id":"node-sendEmail","name":"Send Email Report","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1680,0],"credentials":{"smtp":{"id":"8Sh1bZ6TghVIY8JW","name":"Gmail SMTP - pipess21"}},"parameters":{"fromEmail":"pipess21@gmail.com","toEmail":"pipess21@gmail.com","subject":"={{ $json.subject }}","emailFormat":"html","html":"={{ $json.html }}","options":{}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP: Get Recent Executions","type":"main","index":0},{"node":"HTTP: Get Workflow StaticData","type":"main","index":0},{"node":"HTTP: Get Syscom Token","type":"main","index":0},{"node":"HTTP: Check Odoo Health","type":"main","index":0}]]},"HTTP: Get Syscom Token":{"main":[[{"node":"HTTP: Check Syscom API","type":"main","index":0}]]},"HTTP: Get Recent Executions":{"main":[[{"node":"Code: Get Progress Summary","type":"main","index":0}]]},"HTTP: Get Workflow StaticData":{"main":[[{"node":"Code: Get Progress Summary","type":"main","index":0}]]},"HTTP: Check Syscom API":{"main":[[{"node":"Code: Get Progress Summary","type":"main","index":0}]]},"HTTP: Check Odoo Health":{"main":[[{"node":"Code: Get Progress Summary","type":"main","index":0}]]},"Code: Get Progress Summary":{"main":[[{"node":"Code: Build Report","type":"main","index":0}]]},"Code: Build Report":{"main":[[{"node":"Send Email Report","type":"main","index":0}]]}},"authors":"Felipe De Alba","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-20T15:49:34.802Z","id":241,"workflowId":"fxr0UXKZNsJPZ9Bv","versionId":"414977c9-1d56-4678-aa63-638b1f62297c","event":"activated","userId":"0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"},{"createdAt":"2026-03-20T15:49:34.789Z","id":240,"workflowId":"fxr0UXKZNsJPZ9Bv","versionId":"414977c9-1d56-4678-aa63-638b1f62297c","event":"deactivated","userId":"0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"}]}}