workflow/promos_syscom_email.json
{
    "updatedAt": "2026-03-30T17:40:35.591Z",
    "createdAt": "2026-03-30T17:23:15.456Z",
    "id": "kU9S5PSxUT9QFu7y",
    "name": "PROMOS Syscom - Email Diario",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "id": "schedule-1",
            "name": "Diario 8am CST",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                300
            ],
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 14 * * *"
                        }
                    ]
                }
            }
        },
        {
            "id": "webhook-1",
            "name": "Webhook Manual",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                500
            ],
            "parameters": {
                "path": "syscom-promos",
                "httpMethod": "POST",
                "options": {}
            },
            "webhookId": "syscom-promos"
        },
        {
            "id": "code-fetch",
            "name": "Fetch Promos Syscom",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                300,
                400
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "\nconst CATS = [\n  { id: 22, name: \"Videovigilancia\" },\n  { id: 37, name: \"Control de Acceso\" },\n  { id: 30, name: \"Energia\" },\n  { id: 38, name: \"Deteccion de Fuego\" },\n  { id: 32, name: \"Automatizacion e Intrusion\" },\n  { id: 25, name: \"Radiocomunicacion\" },\n  { id: 26, name: \"Redes\" },\n  { id: 27, name: \"IoT / GPS / Telemetria\" },\n];\nconst MIN_DESCUENTO = 20;\nconst PAGES_PER_CAT = 5;\nconst TOP_PER_CAT = 13;\n\nlet token;\ntry {\n  const tokenResp = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://developers.syscom.mx/oauth/token\",\n    headers: { \"Content-Type\": \"application/x-www-form-urlencoded\" },\n    body: \"client_id=zq2u2Zr1VFGam5IzAg5UolwmeSnsChP7&client_secret=thdUXtjZunSRT4IB1ascUHIZlWsA5PhtIL9mBWVz&grant_type=client_credentials\"\n  });\n  token = tokenResp.access_token;\n} catch(e) {\n  return [{ json: { error: \"Token fallo: \" + e.message } }];\n}\n\nconst allPromos = [];\nfor (const cat of CATS) {\n  const catPromos = [];\n  for (let page = 1; page <= PAGES_PER_CAT; page++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: \"GET\",\n        url: `https://developers.syscom.mx/api/v1/productos?categoria=${cat.id}&pagina=${page}&moneda=MXN`,\n        headers: { \"Authorization\": \"Bearer \" + token },\n        json: true,\n        options: { timeout: 20000 }\n      });\n      const productos = resp.productos || [];\n      if (productos.length === 0) break;\n      for (const p of productos) {\n        const lista = parseFloat(p.precios?.precio_lista || 0);\n        const desc = parseFloat(p.precios?.precio_descuento || lista);\n        if (lista > 0 && desc < lista) {\n          const pct = Math.round((1 - desc / lista) * 100);\n          if (pct >= MIN_DESCUENTO) {\n            catPromos.push({\n              sku: String(p.modelo || \"\").trim(),\n              nombre: String(p.titulo || \"Sin nombre\"),\n              marca: String(p.marca || \"\"),\n              categoria: cat.name,\n              precio_lista: lista,\n              precio_promo: desc,\n              descuento_pct: pct,\n              ahorro: Math.round((lista - desc) * 100) / 100,\n              existencia: p.total_existencia || 0,\n              imagen: p.img_portada || \"\"\n            });\n          }\n        }\n      }\n      if (catPromos.length >= TOP_PER_CAT * 4) break;\n    } catch(e) {\n      console.log(`Error cat ${cat.name} pag ${page}:`, e.message);\n      break;\n    }\n  }\n  catPromos.sort((a, b) => b.descuento_pct - a.descuento_pct);\n  allPromos.push(...catPromos.slice(0, TOP_PER_CAT));\n}\n\nconst totalPromos = allPromos.length;\nconst mejorDescuento = totalPromos > 0 ? Math.max(...allPromos.map(p => p.descuento_pct)) : 0;\nconst mayorAhorro = totalPromos > 0 ? Math.max(...allPromos.map(p => p.ahorro)) : 0;\n\nreturn [{ json: { promos: allPromos, totalPromos, mejorDescuento, mayorAhorro, fecha: new Date().toLocaleDateString('es-MX', {weekday:'long', year:'numeric', month:'long', day:'numeric'}) } }];\n"
            }
        },
        {
            "id": "code-email",
            "name": "Build Email HTML",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                580,
                400
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "\nconst { promos, totalPromos, mejorDescuento, mayorAhorro, fecha } = $input.first().json;\n\nif (!promos || promos.length === 0) {\n  return [{ json: { subject: '[Syscom] Sin promos hoy', html: '<p>No se encontraron promociones hoy.</p>' } }];\n}\n\nconst porCategoria = {};\nfor (const p of promos) {\n  if (!porCategoria[p.categoria]) porCategoria[p.categoria] = [];\n  porCategoria[p.categoria].push(p);\n}\n\nconst catColors = {\n  'Videovigilancia': '#1e40af',\n  'Control de Acceso': '#065f46',\n  'Energia': '#92400e',\n  'Deteccion de Fuego': '#991b1b',\n  'Automatizacion e Intrusion': '#4c1d95',\n  'Radiocomunicacion': '#0e7490',\n  'Redes': '#1d4ed8',\n  'IoT / GPS / Telemetria': '#166534'\n};\n\nlet sectionsHtml = '';\nfor (const [catName, items] of Object.entries(porCategoria)) {\n  const color = catColors[catName] || '#374151';\n  const cards = items.map(p => {\n    const imgHtml = p.imagen\n      ? `<img src=\"${p.imagen}\" style=\"width:80px;height:80px;object-fit:contain;background:#f9fafb;border-radius:6px;\" />`\n      : `<div style=\"width:80px;height:80px;background:#e5e7eb;border-radius:6px;\"></div>`;\n    return `<tr>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f3f4f6;vertical-align:middle;width:90px;text-align:center\">${imgHtml}</td>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f3f4f6;vertical-align:middle\">\n        <div style=\"font-weight:600;font-size:13px;color:#111827\">${p.nombre.substring(0,80)}</div>\n        <div style=\"font-size:11px;color:#6b7280\">SKU: ${p.sku} | ${p.marca} | Stock: ${p.existencia}</div>\n      </td>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f3f4f6;vertical-align:middle;text-align:right;white-space:nowrap\">\n        <div style=\"font-size:11px;color:#9ca3af;text-decoration:line-through\">Lista: $${p.precio_lista.toFixed(2)}</div>\n        <div style=\"font-size:18px;font-weight:700;color:#dc2626\">$${p.precio_promo.toFixed(2)}</div>\n        <div style=\"display:inline-block;background:#dc2626;color:white;font-weight:700;font-size:12px;padding:2px 10px;border-radius:12px\">-${p.descuento_pct}% OFF</div>\n        <div style=\"font-size:11px;color:#059669;margin-top:3px\">Ahorro: $${p.ahorro.toFixed(2)} MXN</div>\n      </td>\n    </tr>`;\n  }).join('');\n\n  sectionsHtml += `<div style=\"margin-bottom:24px\">\n    <div style=\"background:${color};color:white;padding:10px 16px;border-radius:8px 8px 0 0;font-weight:700;font-size:15px\">${catName} - ${items.length} promo(s)</div>\n    <table style=\"width:100%;border-collapse:collapse;background:white;border:1px solid #e5e7eb;border-top:0\">${cards}</table>\n  </div>`;\n}\n\nconst html = `<html><body style=\"font-family:Arial,sans-serif;max-width:700px;margin:0 auto;padding:20px;background:#f8fafc\">\n<div style=\"background:linear-gradient(135deg,#dc2626,#991b1b);color:white;padding:24px 20px;border-radius:12px;margin-bottom:24px;text-align:center\">\n  <div style=\"font-size:28px;font-weight:800\">SUPER PRECIO SYSCOM</div>\n  <div style=\"font-size:14px;opacity:0.9;margin-top:4px\">${fecha}</div>\n  <div style=\"margin-top:16px;font-size:20px\">${totalPromos} ofertas | Hasta -${mejorDescuento}% | Ahorro max $${Math.round(mayorAhorro).toLocaleString('es-MX')} MXN</div>\n</div>\n<p style=\"color:#374151;font-size:14px\">Mejores promociones del dia (descuento mayor a 20%). Ver todas: <a href=\"https://www.syscom.mx/superprecio\">syscom.mx/superprecio</a></p>\n${sectionsHtml}\n<p style=\"font-size:11px;color:#9ca3af;text-align:center\">Ocean Tech - Reporte automatico - Precios MXN sin IVA</p>\n</body></html>`;\n\nconst emoji = mejorDescuento >= 40 ? 'GRAN' : mejorDescuento >= 30 ? 'BUENA' : 'NUEVA';\nreturn [{ json: { html, subject: `[${emoji} PROMO] Syscom: ${totalPromos} ofertas | Hasta -${mejorDescuento}% | ${fecha}` } }];\n"
            }
        },
        {
            "id": "send-email",
            "name": "Enviar Email Promos",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                860,
                400
            ],
            "parameters": {
                "fromEmail": "pipess21@gmail.com",
                "toEmail": "pipess21@gmail.com, comercial@oceantech.com.mx, german@oceantech.com.mx, heber@oceantech.com.mx, felipe.dealba@oceantech.com.mx",
                "subject": "={{ $json.subject }}",
                "emailType": "html",
                "html": "={{ $json.html }}",
                "options": {}
            },
            "credentials": {
                "smtp": {
                    "id": "8Sh1bZ6TghVIY8JW",
                    "name": "Gmail SMTP - pipess21"
                }
            }
        }
    ],
    "connections": {
        "Diario 8am CST": {
            "main": [
                [
                    {
                        "node": "Fetch Promos Syscom",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Manual": {
            "main": [
                [
                    {
                        "node": "Fetch Promos Syscom",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Promos Syscom": {
            "main": [
                [
                    {
                        "node": "Build Email HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Email HTML": {
            "main": [
                [
                    {
                        "node": "Enviar Email Promos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": {
        "node:Diario 8am CST": {
            "recurrenceRules": []
        }
    },
    "meta": null,
    "pinData": null,
    "versionId": "2b88200b-fc3b-4a19-85b4-5ee84e38cff4",
    "activeVersionId": "2b88200b-fc3b-4a19-85b4-5ee84e38cff4",
    "versionCounter": 8,
    "triggerCount": 2,
    "shared": [
        {
            "updatedAt": "2026-03-30T17:23:15.458Z",
            "createdAt": "2026-03-30T17:23:15.458Z",
            "role": "workflow:owner",
            "workflowId": "kU9S5PSxUT9QFu7y",
            "projectId": "1ugGQHoQVF6DXsWx",
            "project": {
                "updatedAt": "2025-07-21T19:08:05.727Z",
                "createdAt": "2025-07-21T19:06:54.563Z",
                "id": "1ugGQHoQVF6DXsWx",
                "name": "Felipe De Alba <pipess21@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-30T17:40:35.592Z",
        "createdAt": "2026-03-30T17:40:35.592Z",
        "versionId": "2b88200b-fc3b-4a19-85b4-5ee84e38cff4",
        "workflowId": "kU9S5PSxUT9QFu7y",
        "nodes": [
            {
                "id": "schedule-1",
                "name": "Diario 8am CST",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    0,
                    300
                ],
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 14 * * *"
                            }
                        ]
                    }
                }
            },
            {
                "id": "webhook-1",
                "name": "Webhook Manual",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    0,
                    500
                ],
                "parameters": {
                    "path": "syscom-promos",
                    "httpMethod": "POST",
                    "options": {}
                },
                "webhookId": "syscom-promos"
            },
            {
                "id": "code-fetch",
                "name": "Fetch Promos Syscom",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    300,
                    400
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "jsCode": "\nconst CATS = [\n  { id: 22, name: \"Videovigilancia\" },\n  { id: 37, name: \"Control de Acceso\" },\n  { id: 30, name: \"Energia\" },\n  { id: 38, name: \"Deteccion de Fuego\" },\n  { id: 32, name: \"Automatizacion e Intrusion\" },\n  { id: 25, name: \"Radiocomunicacion\" },\n  { id: 26, name: \"Redes\" },\n  { id: 27, name: \"IoT / GPS / Telemetria\" },\n];\nconst MIN_DESCUENTO = 20;\nconst PAGES_PER_CAT = 5;\nconst TOP_PER_CAT = 13;\n\nlet token;\ntry {\n  const tokenResp = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://developers.syscom.mx/oauth/token\",\n    headers: { \"Content-Type\": \"application/x-www-form-urlencoded\" },\n    body: \"client_id=zq2u2Zr1VFGam5IzAg5UolwmeSnsChP7&client_secret=thdUXtjZunSRT4IB1ascUHIZlWsA5PhtIL9mBWVz&grant_type=client_credentials\"\n  });\n  token = tokenResp.access_token;\n} catch(e) {\n  return [{ json: { error: \"Token fallo: \" + e.message } }];\n}\n\nconst allPromos = [];\nfor (const cat of CATS) {\n  const catPromos = [];\n  for (let page = 1; page <= PAGES_PER_CAT; page++) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: \"GET\",\n        url: `https://developers.syscom.mx/api/v1/productos?categoria=${cat.id}&pagina=${page}&moneda=MXN`,\n        headers: { \"Authorization\": \"Bearer \" + token },\n        json: true,\n        options: { timeout: 20000 }\n      });\n      const productos = resp.productos || [];\n      if (productos.length === 0) break;\n      for (const p of productos) {\n        const lista = parseFloat(p.precios?.precio_lista || 0);\n        const desc = parseFloat(p.precios?.precio_descuento || lista);\n        if (lista > 0 && desc < lista) {\n          const pct = Math.round((1 - desc / lista) * 100);\n          if (pct >= MIN_DESCUENTO) {\n            catPromos.push({\n              sku: String(p.modelo || \"\").trim(),\n              nombre: String(p.titulo || \"Sin nombre\"),\n              marca: String(p.marca || \"\"),\n              categoria: cat.name,\n              precio_lista: lista,\n              precio_promo: desc,\n              descuento_pct: pct,\n              ahorro: Math.round((lista - desc) * 100) / 100,\n              existencia: p.total_existencia || 0,\n              imagen: p.img_portada || \"\"\n            });\n          }\n        }\n      }\n      if (catPromos.length >= TOP_PER_CAT * 4) break;\n    } catch(e) {\n      console.log(`Error cat ${cat.name} pag ${page}:`, e.message);\n      break;\n    }\n  }\n  catPromos.sort((a, b) => b.descuento_pct - a.descuento_pct);\n  allPromos.push(...catPromos.slice(0, TOP_PER_CAT));\n}\n\nconst totalPromos = allPromos.length;\nconst mejorDescuento = totalPromos > 0 ? Math.max(...allPromos.map(p => p.descuento_pct)) : 0;\nconst mayorAhorro = totalPromos > 0 ? Math.max(...allPromos.map(p => p.ahorro)) : 0;\n\nreturn [{ json: { promos: allPromos, totalPromos, mejorDescuento, mayorAhorro, fecha: new Date().toLocaleDateString('es-MX', {weekday:'long', year:'numeric', month:'long', day:'numeric'}) } }];\n"
                }
            },
            {
                "id": "code-email",
                "name": "Build Email HTML",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    580,
                    400
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "jsCode": "\nconst { promos, totalPromos, mejorDescuento, mayorAhorro, fecha } = $input.first().json;\n\nif (!promos || promos.length === 0) {\n  return [{ json: { subject: '[Syscom] Sin promos hoy', html: '<p>No se encontraron promociones hoy.</p>' } }];\n}\n\nconst porCategoria = {};\nfor (const p of promos) {\n  if (!porCategoria[p.categoria]) porCategoria[p.categoria] = [];\n  porCategoria[p.categoria].push(p);\n}\n\nconst catColors = {\n  'Videovigilancia': '#1e40af',\n  'Control de Acceso': '#065f46',\n  'Energia': '#92400e',\n  'Deteccion de Fuego': '#991b1b',\n  'Automatizacion e Intrusion': '#4c1d95',\n  'Radiocomunicacion': '#0e7490',\n  'Redes': '#1d4ed8',\n  'IoT / GPS / Telemetria': '#166534'\n};\n\nlet sectionsHtml = '';\nfor (const [catName, items] of Object.entries(porCategoria)) {\n  const color = catColors[catName] || '#374151';\n  const cards = items.map(p => {\n    const imgHtml = p.imagen\n      ? `<img src=\"${p.imagen}\" style=\"width:80px;height:80px;object-fit:contain;background:#f9fafb;border-radius:6px;\" />`\n      : `<div style=\"width:80px;height:80px;background:#e5e7eb;border-radius:6px;\"></div>`;\n    return `<tr>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f3f4f6;vertical-align:middle;width:90px;text-align:center\">${imgHtml}</td>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f3f4f6;vertical-align:middle\">\n        <div style=\"font-weight:600;font-size:13px;color:#111827\">${p.nombre.substring(0,80)}</div>\n        <div style=\"font-size:11px;color:#6b7280\">SKU: ${p.sku} | ${p.marca} | Stock: ${p.existencia}</div>\n      </td>\n      <td style=\"padding:10px 8px;border-bottom:1px solid #f3f4f6;vertical-align:middle;text-align:right;white-space:nowrap\">\n        <div style=\"font-size:11px;color:#9ca3af;text-decoration:line-through\">Lista: $${p.precio_lista.toFixed(2)}</div>\n        <div style=\"font-size:18px;font-weight:700;color:#dc2626\">$${p.precio_promo.toFixed(2)}</div>\n        <div style=\"display:inline-block;background:#dc2626;color:white;font-weight:700;font-size:12px;padding:2px 10px;border-radius:12px\">-${p.descuento_pct}% OFF</div>\n        <div style=\"font-size:11px;color:#059669;margin-top:3px\">Ahorro: $${p.ahorro.toFixed(2)} MXN</div>\n      </td>\n    </tr>`;\n  }).join('');\n\n  sectionsHtml += `<div style=\"margin-bottom:24px\">\n    <div style=\"background:${color};color:white;padding:10px 16px;border-radius:8px 8px 0 0;font-weight:700;font-size:15px\">${catName} - ${items.length} promo(s)</div>\n    <table style=\"width:100%;border-collapse:collapse;background:white;border:1px solid #e5e7eb;border-top:0\">${cards}</table>\n  </div>`;\n}\n\nconst html = `<html><body style=\"font-family:Arial,sans-serif;max-width:700px;margin:0 auto;padding:20px;background:#f8fafc\">\n<div style=\"background:linear-gradient(135deg,#dc2626,#991b1b);color:white;padding:24px 20px;border-radius:12px;margin-bottom:24px;text-align:center\">\n  <div style=\"font-size:28px;font-weight:800\">SUPER PRECIO SYSCOM</div>\n  <div style=\"font-size:14px;opacity:0.9;margin-top:4px\">${fecha}</div>\n  <div style=\"margin-top:16px;font-size:20px\">${totalPromos} ofertas | Hasta -${mejorDescuento}% | Ahorro max $${Math.round(mayorAhorro).toLocaleString('es-MX')} MXN</div>\n</div>\n<p style=\"color:#374151;font-size:14px\">Mejores promociones del dia (descuento mayor a 20%). Ver todas: <a href=\"https://www.syscom.mx/superprecio\">syscom.mx/superprecio</a></p>\n${sectionsHtml}\n<p style=\"font-size:11px;color:#9ca3af;text-align:center\">Ocean Tech - Reporte automatico - Precios MXN sin IVA</p>\n</body></html>`;\n\nconst emoji = mejorDescuento >= 40 ? 'GRAN' : mejorDescuento >= 30 ? 'BUENA' : 'NUEVA';\nreturn [{ json: { html, subject: `[${emoji} PROMO] Syscom: ${totalPromos} ofertas | Hasta -${mejorDescuento}% | ${fecha}` } }];\n"
                }
            },
            {
                "id": "send-email",
                "name": "Enviar Email Promos",
                "type": "n8n-nodes-base.emailSend",
                "typeVersion": 2.1,
                "position": [
                    860,
                    400
                ],
                "parameters": {
                    "fromEmail": "pipess21@gmail.com",
                    "toEmail": "pipess21@gmail.com, comercial@oceantech.com.mx, german@oceantech.com.mx, heber@oceantech.com.mx, felipe.dealba@oceantech.com.mx",
                    "subject": "={{ $json.subject }}",
                    "emailType": "html",
                    "html": "={{ $json.html }}",
                    "options": {}
                },
                "credentials": {
                    "smtp": {
                        "id": "8Sh1bZ6TghVIY8JW",
                        "name": "Gmail SMTP - pipess21"
                    }
                }
            }
        ],
        "connections": {
            "Diario 8am CST": {
                "main": [
                    [
                        {
                            "node": "Fetch Promos Syscom",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Webhook Manual": {
                "main": [
                    [
                        {
                            "node": "Fetch Promos Syscom",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Fetch Promos Syscom": {
                "main": [
                    [
                        {
                            "node": "Build Email HTML",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Email HTML": {
                "main": [
                    [
                        {
                            "node": "Enviar Email Promos",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Felipe De Alba",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-30T17:40:35.628Z",
                "id": 394,
                "workflowId": "kU9S5PSxUT9QFu7y",
                "versionId": "2b88200b-fc3b-4a19-85b4-5ee84e38cff4",
                "event": "activated",
                "userId": "0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"
            },
            {
                "createdAt": "2026-03-30T17:40:35.618Z",
                "id": 393,
                "workflowId": "kU9S5PSxUT9QFu7y",
                "versionId": "2b88200b-fc3b-4a19-85b4-5ee84e38cff4",
                "event": "deactivated",
                "userId": "0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"
            }
        ]
    }
}
