workflow/syscom_odoo_sync.json
{"updatedAt":"2026-03-20T18:36:03.886Z","createdAt":"2025-08-01T23:46:43.263Z","id":"ylxPHHe9ymC49FTO","name":"Odoo/syscom- depurado","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"dfea67db-ffff-4948-abf7-6c02489123e8","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[2592,-320]},{"parameters":{"requestMethod":"POST","url":"https://developers.syscom.mx/oauth/token","options":{"timeout":15000},"bodyParametersUi":{"parameter":[{"name":"client_id","value":"zq2u2Zr1VFGam5IzAg5UolwmeSnsChP7"},{"name":"client_secret","value":"thdUXtjZunSRT4IB1ascUHIZlWsA5PhtIL9mBWVz"},{"name":"grant_type","value":"client_credentials"}]}},"id":"c36f0ae4-dd7d-4ea5-ad69-93381542e8d4","name":"Get Syscom Token","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[2816,-224]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const p = $input.item.json;\n\n// util\nconst num = (v, d = 0) => Number.isFinite(Number(v)) ? Number(v) : d;\nconst str = (v, d = '') => String(v ?? d);\n\n// precios\nconst costo = num(p.precios?.precio_descuento ?? p.precio, 0);\nconst costoConIva = costo * 1.16;\nconst listPriceCalc = costo > 0 ? costoConIva / 0.7 : 0;\n\n// categoría: toma la de mayor nivel; si no hay, default\nlet categoria_nombre = 'Syscom General';\nlet familia_nombre = '';\nif (Array.isArray(p.categorias) && p.categorias.length) {\n  const ordenadas = [...p.categorias].sort((a,b) => (a.nivel ?? 0) - (b.nivel ?? 0));\n  categoria_nombre = ordenadas[0]?.nombre ?? 'Syscom General';\n  familia_nombre = ordenadas[2]?.nombre ?? ordenadas[1]?.nombre ?? categoria_nombre;\n}\n\nconst newItem = {\n  // identificadores robustos\n  barcode: str(p.producto_id ?? p.sku ?? p.modelo ?? ''),\n  default_code: str(p.modelo ?? p.sku ?? p.producto_id ?? ''),\n  name: str(p.titulo, 'Producto sin nombre'),\n\n  // precios\n  list_price: num(p.precios?.precio_especial, listPriceCalc),\n  standard_price: costo,\n\n  // otros campos con fallback\n  categoria_nombre,\n  familia_nombre,\n  unidad_de_medida_nombre: str(p.unidad_de_medida?.nombre, 'Unidad(es)'),\n  total_existencia: num(p.total_existencia, 0),\n  sat_key: str(p.sat_key ?? p.clave_sat ?? null, ''),\n  img_portada: str(p.img_portada, ''),\n  marca: str(p.marca, ''),\n\n  // metadatos\n  producto_id_syscom: p.producto_id ?? null,\n  property_account_income_id: 1,\n  property_account_expense_id: 2,\n};\n\nreturn { json: newItem };\n"},"id":"338ef925-9ae3-4610-b02b-8415559d680d","name":"Map Syscom Odoo","type":"n8n-nodes-base.code","typeVersion":2,"position":[4160,-296]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 17,18,19,20,21,22,23,0,1,2,3,4 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2592,-128],"id":"8e5c9c65-456e-4b67-aeef-ae7576f849a1","name":"Schedule Trigger","notesInFlow":true,"notes":"Timezone: \"America/Mexico_City\" o \"UTC-6\""},{"parameters":{"jsCode":"\n// Init Search Terms v9 - NO pre-guarda la página (evita avance fantasma en errores)\nconst CATS = [\"Videovigilancia\",\"Redes\",\"Radiocomunicación\",\"Automatización e Intrusión\",\"Cableado Estructurado\",\"Control de Acceso\",\"Energía\",\"Detección de Incendio\",\"Sonido y Video\",\"Herramientas\"];\nconst PAGES_PER_RUN = 20;\nconst state = $getWorkflowStaticData('global');\n\n// Avanzar categoría si el run anterior encontró página vacía\nif (state._foundEmptyPage === true) {\n    const prevCat = state.categoryIndex || 0;\n    const nextCat = (prevCat + 1) % CATS.length;\n    state.categoryIndex = nextCat;\n    state.page = 1;\n    state._foundEmptyPage = false;\n    if (nextCat === 0) {\n        state.lastCompletedCycle = new Date().toISOString();\n        console.log('🏁 CATÁLOGO COMPLETO - reiniciando ciclo');\n    } else {\n        console.log('➡️  Cat[' + prevCat + '] → Cat[' + nextCat + '] ' + CATS[nextCat]);\n    }\n}\n\nconst catIdx = Math.max(0, Math.min(Number(state.categoryIndex) || 0, CATS.length - 1));\nconst startPage = Math.max(1, Number(state.page) || 1);\n\n// Guardar referencia para que Guardar Estado sepa hasta dónde avanzar\nstate._startPage = startPage;\nstate._savedThisRun = false;\n\nconsole.log('▶️  Cat[' + catIdx + '] \"' + CATS[catIdx] + '\" páginas ' + startPage + '–' + (startPage + PAGES_PER_RUN - 1));\n\nconst access_token = $('Get Syscom Token').first().json.access_token;\nconst items = [];\nfor (let p = startPage; p < startPage + PAGES_PER_RUN; p++) {\n    items.push({ json: {\n        page: p,\n        access_token,\n        categoria_actual: { nombre: CATS[catIdx] },\n        categoria_actual_index: catIdx,\n        categorias: CATS,\n        productos_por_pagina: 20,\n        start_page: startPage\n    }});\n}\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3264,-224],"id":"6a121728-aaea-4aac-8eb3-ab6aa892fd66","name":"Init Search Terms"},{"parameters":{"url":"https://developers.syscom.mx/api/v1/productos","sendQuery":true,"queryParameters":{"parameters":[{"name":"busqueda","value":"={{ $json.categoria_actual.nombre }}"},{"name":"page","value":"={{ $json.page }}"},{"name":"moneda","value":"MXN"},{"name":"per_page","value":"={{ $json.productos_por_pagina }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"},{"name":"Content-Type","value":"application/json"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":500}},"timeout":30000,"retry":{"maxTries":3,"waitBetweenTries":5000}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3488,-224],"id":"fa693676-409d-42dd-a9c4-39db6516af78","name":"HTTP Syscom Products"},{"parameters":{"jsCode":"\n// Process Pagination v10 - runOnceForAllItems, procesa todas las respuestas HTTP\nconst state = $getWorkflowStaticData('global');\nconst allHttpResponses = $input.all();           // 20 respuestas HTTP (una por página)\nconst allPageItems    = $('Init Search Terms').all(); // 20 items originales (page, cat, token)\n\nconst results = [];\n\nfor (let i = 0; i < allHttpResponses.length; i++) {\n    const respuesta  = allHttpResponses[i].json;\n    const pageItem   = allPageItems[i] ? allPageItems[i].json : allPageItems[0].json;\n    const productos  = respuesta.productos || [];\n    const pageNum    = pageItem.page;\n    const catObj     = pageItem.categoria_actual;  // { nombre: '...' }\n    const catIdx     = pageItem.categoria_actual_index;\n    const token      = pageItem.access_token;\n\n    if (productos.length === 0) {\n        state._foundEmptyPage = true;\n        console.log('⚠️  Pág vacía: ' + pageNum);\n        continue;  // no agregar items al resultado\n    }\n\n    console.log('📥 Pág ' + pageNum + ': ' + productos.length + ' productos');\n    for (const p of productos) {\n        results.push({\n            json: {\n                ...p,\n                categoria_actual: catObj,\n                categoria_actual_index: catIdx,\n                access_token: token,\n                _pagina: pageNum\n            }\n        });\n    }\n}\n\nif (results.length === 0) {\n    console.log('⚠️  Todas las páginas vacías en este batch');\n    // Retornar item dummy para que el flujo no colapse\n    return [{ json: { _empty_batch: true, _pages: allHttpResponses.length } }];\n}\n\nconsole.log('✅ Total productos en batch: ' + results.length);\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3712,-296],"id":"9d94f4f4-b5b3-460e-ade7-f339ac0d23a3","name":"Process Pagination"},{"parameters":{"method":"POST","url":"https://ocean-tech-0326.odoo.com/jsonrpc","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"ocean-tech-0326\",\n      2,\n      \"M1ercole$\",\n      \"product.unspsc.code\",\n      \"search_read\",\n      [\n        [\n          [\"code\", \"=\",{{ $json.sat_key_to_search }} ]\n        ]\n      ],\n      {\n        \"fields\": [\"id\"],\n        \"limit\": 1\n      }\n    ]\n  },\n  \"id\": null\n}","options":{"batching":{"batch":{"batchSize":5,"batchInterval":2000}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4608,-464],"id":"e65933e0-0a40-4801-87b8-f27b0f7e1f7b","name":"Search SAT Code","continueOnFail":true},{"parameters":{"resource":"custom","customResource":"product.template","operation":"update","customResourceId":"={{ $('Get many items').item.json.id }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"standard_price","fieldValue":"={{ $json.standard_price }}"},{"fieldName":"=list_price","fieldValue":"={{ $json.list_price }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[7072,-512],"id":"115c40ff-8bca-446c-82a1-63a7574de172","name":"Update an item","credentials":{"odooApi":{"id":"b3HchFCz6DvJpSyB","name":"Odoo account"}},"continueOnFail":true},{"parameters":{"resource":"custom","customResource":"product.template","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $json._original_syscom.name }}"},{"fieldName":"default_code","fieldValue":"={{ $json['default code'] }}"},{"fieldName":"barcode","fieldValue":"={{ $('Store Original State').item.json._original_syscom.barcode }}"},{"fieldName":"list_price","fieldValue":"={{ $json['List price'] }}"},{"fieldName":"standard_price","fieldValue":"={{ $json['Standard price'] }}"},{"fieldName":"x_studio_marca","fieldValue":"={{ $json.Marca }}"},{"fieldName":"categ_id","fieldValue":"={{ 503 }}"},{"fieldName":"uom_id","fieldValue":"=1"},{"fieldName":"unspsc_code_id","fieldValue":"={{ $json._search_results[0].id }}"},{"fieldName":"property_account_income_id","fieldValue":"={{ 145 }}"},{"fieldName":"property_account_expense_id","fieldValue":"={{ 128 }}"},{"fieldName":"image_1920","fieldValue":"={{ $json.image_base64 }}"},{"fieldName":"uom_po_id","fieldValue":"={{ $json.uom_po_id || 1 }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[7072,-200],"id":"5da37bf6-1df4-4840-8e52-812fc2b8ca22","name":"Create an item","credentials":{"odooApi":{"id":"b3HchFCz6DvJpSyB","name":"Odoo account"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5329d39-f6db-471a-8ce9-d60e447c0fc8","leftValue":"={{ $json['Imagen Portada'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6176,-128],"id":"4210f917-fb49-4343-8cd1-372d2ed81485","name":"has Image URL?"},{"parameters":{"url":"={{ $json['Imagen Portada'] }}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6400,-224],"id":"cab9cfeb-f6c9-409c-bcda-9a4a151c7044","name":"Download Image"},{"parameters":{"operation":"binaryToPropery","destinationKey":"image_base64","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[6624,-224],"id":"a3f7a4e8-a6fa-4260-aeb8-0d7eb6a4f1d7","name":"Convert to base64"},{"parameters":{"jsCode":"// Sin imagen — toma datos del item actual (Edit Fields)\nconst productData = $input.item.json;\n\nconst finalProduct = {\n    name: productData.name,\n    default_code: productData.default_code,\n    barcode: productData.barcode,\n    list_price: productData.list_price,\n    standard_price: productData.standard_price,\n    marca: productData.marca,\n    categoria_nombre: productData.categoria_nombre,\n    unidad_de_medida_nombre: productData.unidad_de_medida_nombre,\n    total_existencia: productData.total_existencia,\n    sat_key: productData.sat_key,\n    producto_id_syscom: productData.producto_id_syscom,\n    property_account_income_id: productData.property_account_income_id,\n    property_account_expense_id: productData.property_account_expense_id,\n    l10n_mx_edi_unspsc_code_id: productData.l10n_mx_edi_unspsc_code_id,\n    image_1920: null\n};\n\nconsole.log('Producto sin imagen:', finalProduct.default_code);\nreturn { json: finalProduct };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6848,-56],"id":"c906345c-d5fe-4321-85d0-bbf68581ca3a","name":"No Image Data"},{"parameters":{"jsCode":"// Store Original State - Preserva TODO el estado original\n// Este es el nodo más importante del flujo\n\nreturn items.map((item, index) => {\n    // Capturamos absolutamente TODO lo que viene de Syscom\n    const syscomData = {\n        // Identificadores principales\n        barcode: item.json.barcode,\n        default_code: item.json.default_code,\n        name: item.json.name,\n        \n        // Información de precios\n        list_price: item.json.list_price,\n        standard_price: item.json.standard_price,\n        \n        // Categorización y clasificación\n        categoria_nombre: item.json.categoria_nombre,\n        familia_nombre: item.json.familia_nombre,\n        unidad_de_medida_nombre: item.json.unidad_de_medida_nombre,\n        \n        // Inventario\n        total_existencia: item.json.total_existencia,\n        \n        // Información fiscal\n        sat_key: item.json.sat_key,\n        \n        // Multimedia\n        img_portada: item.json.img_portada,\n        \n        // Marca y metadatos\n        marca: item.json.marca,\n        producto_id_syscom: item.json.producto_id_syscom,\n        \n        // Cuentas contables\n        property_account_income_id: item.json.property_account_income_id,\n        property_account_expense_id: item.json.property_account_expense_id\n    };\n    \n    // Creamos una estructura que preservará todo durante el flujo\n    const stateContainer = {\n        // Los datos originales van en un contenedor protegido\n        _original_syscom: syscomData,\n        \n        // Campo para el código SAT a buscar\n        sat_key_to_search: item.json.sat_key,\n        \n        // Campo para el SKU a buscar en Odoo\n        sku_to_search: item.json.default_code,\n        \n        // Metadata del procesamiento\n        _processing: {\n            timestamp: new Date().toISOString(),\n            item_index: index,\n            current_step: 'original_stored'\n        },\n        \n        // Contenedor para resultados de búsquedas\n        _search_results: {}\n    };\n    \n    console.log(`✅ Estado original guardado para SKU: ${syscomData.default_code}`);\n    console.log(`   Campos preservados: ${Object.keys(syscomData).length}`);\n    \n    return { json: stateContainer };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4384,-296],"id":"04b800c2-f53a-49c4-8c76-1b2943c16918","name":"Store Original State"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Enrich with SAT — seguro contra null y formatos distintos\nconst item = $json;                 // item actual\nconst res  = item.result ?? item._search_results ?? null;\n\nlet sat_id = null;\n\nif (res !== null && res !== undefined) {\n  if (typeof res === 'number' || typeof res === 'string') {\n    // La API devolvió el ID directo (p.ej. 43201803)\n    sat_id = res;\n  } else if (typeof res === 'object') {\n    // La API devolvió objeto; prueba rutas posibles sin romper si son null\n    const candidate =\n      (res.sat_code ?? res.data?.sat_code ?? res.id ?? res.data?.id ?? null);\n\n    if (candidate !== null && candidate !== undefined) {\n      sat_id = (typeof candidate === 'object')\n        ? (candidate?.id ?? null)\n        : candidate;\n    }\n  }\n}\n\n// Fallbacks si no vino nada en result\nif (!sat_id) sat_id = item.sat_key_to_search ?? item.sat_key ?? null;\n\nconsole.log(\n  `[SAT] default_code=${item.default_code || item._original_syscom?.default_code || 's/i'} -> sat_id=${sat_id ?? 'NONE'}`\n);\n\nreturn {\n  json: {\n    ...item,\n    _search_results: res ?? null,\n    sat_key: sat_id ?? null,\n    sat_found: Boolean(sat_id),\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4832,-464],"id":"53d23bc0-cac5-45b3-8693-984f050bb2fe","name":"Enrich with SAT"},{"parameters":{"jsCode":"// Control de Lotes Mejorado\nconst items_procesados = [];\nconst TAMANO_LOTE = 15; // Reducido para servidor 2GB RAM // Procesar 60 productos a la vez\n\n// Procesar items en lotes\nfor (let i = 0; i < items.length; i += TAMANO_LOTE) {\n    const lote = items.slice(i, i + TAMANO_LOTE);\n    const numeroLote = Math.floor(i / TAMANO_LOTE) + 1;\n    \n    console.log(`📦 Procesando lote ${numeroLote} con ${lote.length} productos`);\n    \n    // Agregar metadata a cada producto del lote\n    const loteConMetadata = lote.map((item, indexEnLote) => ({\n        json: {\n            ...item.json,\n            _batch_info: {\n                lote_numero: numeroLote,\n                posicion_en_lote: indexEnLote + 1,\n                tamano_lote: lote.length,\n                indice_global: i + indexEnLote + 1,\n                total_items: items.length\n            }\n        }\n    }));\n    \n    items_procesados.push(...loteConMetadata);\n    \n    // Log de progreso\n    const porcentaje = ((i + lote.length) / items.length * 100).toFixed(1);\n    console.log(`✅ Progreso: ${porcentaje}% completado`);\n}\n\nreturn items_procesados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3936,-296],"id":"93b09fe6-c038-43b2-9aa2-bf5435438d01","name":"Control por lotes"},{"parameters":{"jsCode":"// Error Handler - Maneja errores sin detener todo el flujo\n// Coloca este nodo para capturar errores de Update/Create\n\nreturn items.map(item => {\n    const producto = item.json;\n    const error = item.error;\n    \n    // Si no hay error, el producto se procesó exitosamente\n    if (!error) {\n        console.log(`✅ Producto procesado: ${producto.default_code}`);\n        return { \n            json: {\n                ...producto,\n                _status: 'success',\n                _processed_at: new Date().toISOString()\n            }\n        };\n    }\n    \n    // Si hay error, lo registramos pero no detenemos el flujo\n    console.error(`❌ Error procesando ${producto.default_code}:`, error.message);\n    \n    // Determinar el tipo de error y si es recuperable\n    const esErrorRecuperable = \n        error.message.includes('timeout') ||\n        error.message.includes('ECONNRESET') ||\n        error.message.includes('429');  // Rate limit\n    \n    // Registrar el error para análisis posterior\n    const registroError = {\n        ...producto,\n        _status: 'error',\n        _error: {\n            mensaje: error.message,\n            tipo: error.name,\n            recuperable: esErrorRecuperable,\n            timestamp: new Date().toISOString(),\n            detalles_completos: error.stack\n        },\n        _batch_info: producto._batch_info,\n        _retry_count: (producto._retry_count || 0) + 1\n    };\n    \n    // Si es recuperable y no hemos excedido los reintentos, marcarlo para reintento\n    if (esErrorRecuperable && registroError._retry_count <= 3) {\n        console.log(`🔄 Marcando para reintento (intento ${registroError._retry_count}/3)`);\n        registroError._status = 'pending_retry';\n    }\n    \n    return { json: registroError };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7296,-512],"id":"b573616b-7889-4920-ab89-20ed816cbcaa","name":"Error handler"},{"parameters":{"jsCode":"// Error Handler - Maneja errores sin detener todo el flujo\n// Coloca este nodo para capturar errores de Update/Create\n\nreturn items.map(item => {\n    const producto = item.json;\n    const error = item.error;\n    \n    // Si no hay error, el producto se procesó exitosamente\n    if (!error) {\n        console.log(`✅ Producto procesado: ${producto.default_code}`);\n        return { \n            json: {\n                ...producto,\n                _status: 'success',\n                _processed_at: new Date().toISOString()\n            }\n        };\n    }\n    \n    // Si hay error, lo registramos pero no detenemos el flujo\n    console.error(`❌ Error procesando ${producto.default_code}:`, error.message);\n    \n    // Determinar el tipo de error y si es recuperable\n    const esErrorRecuperable = \n        error.message.includes('timeout') ||\n        error.message.includes('ECONNRESET') ||\n        error.message.includes('429');  // Rate limit\n    \n    // Registrar el error para análisis posterior\n    const registroError = {\n        ...producto,\n        _status: 'error',\n        _error: {\n            mensaje: error.message,\n            tipo: error.name,\n            recuperable: esErrorRecuperable,\n            timestamp: new Date().toISOString(),\n            detalles_completos: error.stack\n        },\n        _batch_info: producto._batch_info,\n        _retry_count: (producto._retry_count || 0) + 1\n    };\n    \n    // Si es recuperable y no hemos excedido los reintentos, marcarlo para reintento\n    if (esErrorRecuperable && registroError._retry_count <= 3) {\n        console.log(`🔄 Marcando para reintento (intento ${registroError._retry_count}/3)`);\n        registroError._status = 'pending_retry';\n    }\n    \n    return { json: registroError };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7296,-200],"id":"3b6cdb76-25f9-4768-adf5-ea8c81498297","name":"Error handler1"},{"parameters":{"jsCode":"// Checkpoint Recovery - pasa datos al siguiente nodo sin modificar\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7520,-512],"id":"76237542-1d8b-4318-a004-4054e5fb63c7","name":"Check point Recovery"},{"parameters":{"jsCode":"// Checkpoint Recovery1 - pasa datos al siguiente nodo sin modificar\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7520,-200],"id":"3c5ae06d-9c54-4404-b1a5-b366638128aa","name":"Check point Recovery1"},{"parameters":{"jsCode":"// Nodo: Process Summary\nconst estadisticas = {\n    inicio: $('Init Search Terms').item.json.timestamp_inicio,\n    fin: new Date().toISOString(),\n    productos_procesados: 0,\n    productos_creados: 0,\n    productos_actualizados: 0,\n    productos_con_error: 0,\n    productos_con_imagen: 0,\n    productos_sin_imagen: 0\n};\n\n// Contar resultados\nitems.forEach(item => {\n    if (item.json._status === 'success') {\n        estadisticas.productos_procesados++;\n        if (item.json.operation === 'create') {\n            estadisticas.productos_creados++;\n        } else {\n            estadisticas.productos_actualizados++;\n        }\n        if (item.json.has_image) {\n            estadisticas.productos_con_imagen++;\n        } else {\n            estadisticas.productos_sin_imagen++;\n        }\n    } else if (item.json._status === 'error') {\n        estadisticas.productos_con_error++;\n    }\n});\n\n// Calcular tiempo transcurrido\nconst tiempoTotal = (new Date(estadisticas.fin) - new Date(estadisticas.inicio)) / 1000 / 60;\nestadisticas.tiempo_minutos = tiempoTotal.toFixed(2);\nestadisticas.productos_por_minuto = (estadisticas.productos_procesados / tiempoTotal).toFixed(1);\n\nconsole.log(\"📊 RESUMEN DE PROCESAMIENTO:\");\nconsole.log(`✅ Procesados: ${estadisticas.productos_procesados}`);\nconsole.log(`🆕 Creados: ${estadisticas.productos_creados}`);\nconsole.log(`🔄 Actualizados: ${estadisticas.productos_actualizados}`);\nconsole.log(`❌ Errores: ${estadisticas.productos_con_error}`);\nconsole.log(`⏱️ Tiempo: ${estadisticas.tiempo_minutos} minutos`);\nconsole.log(`⚡ Velocidad: ${estadisticas.productos_por_minuto} productos/minuto`);\n\nreturn [{ json: estadisticas }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7744,-200],"id":"dcea5282-82c6-43d1-b8ce-150c0f10775f","name":"Code"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Normaliza el default_code del ÍTEM ACTUAL (sin clonar el 0)\nconst idx = $itemIndex;                          // índice del ítem actual\nconst mapItems   = $items(\"Map Syscom Odoo\") || [];\nconst storeItems = $items(\"Store Original State\") || [];\n\nconst fromMap   = mapItems[idx]?.json?.default_code;\nconst fromStore = storeItems[idx]?.json?._original_syscom?.default_code;\n\nconst dcode =\n  $json.default_code ??\n  fromMap ??\n  fromStore ??\n  \"\";\n\nconsole.log(`[Code1] idx=${idx} default_code=${dcode}`);\n\nreturn {\n  json: {\n    ...$json,\n    default_code: String(dcode || \"\")\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5056,-464],"id":"09ddd785-fbd3-4637-b2e8-8370665d887e","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c540add-815b-47d6-8177-36601121f61a","leftValue":"={{ $('Get many items').item.json?.id }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5504,-464],"id":"cfe8391a-e797-4866-b4ce-10adcc3b33b9","name":"If"},{"parameters":{"resource":"custom","customResource":"product.template","operation":"getAll","options":{},"filterRequest":{"filter":[{"fieldName":"=default_code","value":"={{ $json.default_code }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[5280,-464],"id":"58640098-9575-40ac-b3a8-bb74878e7f62","name":"Get many items","alwaysOutputData":true,"executeOnce":false,"credentials":{"odooApi":{"id":"b3HchFCz6DvJpSyB","name":"Odoo account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"4b1217d1-a57d-4fca-8912-76940d185db0","name":"Nombre","value":"=","type":"string"},{"id":"458b982d-122c-4878-9c38-364d61a16d9f","name":"default code","value":"={{ $json._original_syscom.default_code }}","type":"string"},{"id":"34e9665e-64b5-4754-bbe1-2ee8ab648e4b","name":"Existencia","value":"={{ $json._original_syscom.total_existencia }}","type":"string"},{"id":"a2037461-7aed-4a44-bafc-3ec531d37daa","name":"Nombre","value":"={{ $json._original_syscom.name }}","type":"string"},{"id":"9ca4db00-beba-4552-8bad-45f36e3e4faf","name":"Imagen Portada","value":"={{ $json._original_syscom.img_portada }}","type":"string"},{"id":"a820659c-f9fe-4fa5-95d7-fb93e0d630f0","name":"Categoria","value":"={{ $json._original_syscom.categoria_nombre }}","type":"string"},{"id":"dea4f0e1-7fd6-453c-97d2-ce718fca9b07","name":"Familia","value":"={{ $json._original_syscom.familia_nombre }}","type":"string"},{"id":"ab6a3ea0-e52a-4d26-b334-516bf16abc35","name":"Barcode","value":"={{ $json._original_syscom.barcode }}","type":"string"},{"id":"6582af88-cd9e-440f-8cd8-d70635782ffa","name":"Standard price","value":"={{ $json._original_syscom.standard_price }}","type":"string"},{"id":"5e6c4fba-cbb8-408f-b1e9-c50f59c121c6","name":"Sat key","value":"={{ $json.sat_key_to_search }}","type":"string"},{"id":"d8bad3f8-af33-4c73-8fe2-fb5d972c26fa","name":"List price","value":"={{ $json._original_syscom.list_price }}","type":"string"},{"id":"753c50ee-99f3-49bc-868a-7fc7c6f119f4","name":"Marca","value":"={{ $json._original_syscom.marca }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5952,-200],"id":"0bcc1219-a2d6-4978-9ac3-25277e215db8","name":"Edit Fields"},{"parameters":{"mode":"passThrough","combineBy":"combineByPosition","options":{},"numberInputs":1},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5728,-200],"id":"ef725d9f-1fdb-4bcf-8c8b-52b512def8d2","name":"Merge"},{"parameters":{"mode":"passThrough","combineBy":"combineByPosition","options":{},"numberInputs":1},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[6848,-296],"id":"b53ae539-ed4c-4291-8ae4-0d4a6b0d838b","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"91f959c2-09c2-4d40-8075-83018ddf5ab2","leftValue":"={{ $('HTTP Syscom Products').all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7968,-296],"id":"21a55bf8-de22-43e9-991d-6eed31cbf117","name":"If1"},{"parameters":{"jsCode":"\n// Incrementar Pagina - v3: memory-safe\nconst httpResp = $('HTTP Syscom Products').item.json;\nconst initState = $('Init Search Terms').first().json;\nconst globalState = $getWorkflowStaticData('global');\n\nconst currentPage = Number(httpResp.pagina) || 1;\nconst nextPage = currentPage + 1;\n\nconst pagesThisRun = (globalState._pagesThisRun || 0) + 1;\nglobalState._pagesThisRun = pagesThisRun;\nconst maxPages = initState.max_pages_per_run || 50;\n\nconsole.log(`📄 Página ${currentPage} → ${nextPage} | Run: ${pagesThisRun}/${maxPages}`);\n\nreturn [{\n  json: {\n    page: nextPage,\n    access_token: $('Get Syscom Token').first().json.access_token,\n    categoria_actual: initState.categoria_actual,\n    categoria_actual_index: initState.categoria_actual_index ?? 0,\n    categorias: initState.categorias,\n    productos_por_pagina: 20,\n    pages_this_run: pagesThisRun,\n    max_pages_per_run: maxPages\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8192,-224],"id":"aeca6a9d-b464-49e7-8bea-c0598fd6414d","name":"Incremetar Pagina"},{"parameters":{"assignments":{"assignments":[{"id":"3a2b18be-c435-48ca-899c-ad20be777313","name":"access_token","value":"={{ $('Init Search Terms').first().json.access_token }}","type":"string"},{"id":"97ece655-cdf0-49d1-a448-49cbedc560f3","name":"page","value":"={{ $('Init Search Terms').first().json.page }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7744,-512],"id":"d9b29bf5-1296-4720-8752-3ced43737d83","name":"Unir Ramas"},{"parameters":{"assignments":{"assignments":[{"id":"dfc3604c-1a38-4bde-957b-45c9cc104a99","name":"access_token","value":"={{ $json.access_token }}","type":"string"},{"id":"60dc4e30-bd52-4ebb-9f98-9cbf7905dfd1","name":"page","value":"1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,-224],"id":"a7f15610-8541-4943-b279-ffdf249405f8","name":"Crear Estado Inicial"},{"parameters":{"unit":"seconds","amount":3},"id":"352fdc70-2903-4dc1-b5eb-83fe568bf94f","name":"Wait entre paginas","type":"n8n-nodes-base.wait","typeVersion":1,"position":[8400,-224],"webhookId":"03c41d72-fcfc-4716-91ea-bd970c1a4466"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3760724-6f38-4272-a461-88e2058371ef","leftValue":"={{ $json._avanzar_categoria }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"7bb64863-7a68-4ebd-a0d5-8d37deccf38b","name":"IF: ¿Avanzar categoria?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3712,-100]},{"parameters":{"jsCode":"\nconst allCats = $('Init Search Terms').first().json.categorias;\nconst currentIdx = Number($input.item.json.categoria_actual_index) || 0;\nconst nextIdx = currentIdx + 1;\nconst access_token = $('Get Syscom Token').first().json.access_token;\nconst maxPages = $('Init Search Terms').first().json.max_pages_per_run || 50;\n\n// Guardar estado en staticData\nconst state = $getWorkflowStaticData('global');\n\nif (nextIdx >= allCats.length) {\n    // Ciclo completo - resetear para próxima noche\n    state.categoryIndex = 0;\n    state.page = 1;\n    state.lastCompletedCycle = new Date().toISOString();\n    console.log(`🏁 Catálogo completo sincronizado. Próximo ciclo empezará desde el inicio.`);\n    return [{ json: { _fin_catalogo: true, total_categorias: allCats.length } }];\n}\n\n// Avanzar a siguiente categoría\nstate.categoryIndex = nextIdx;\nstate.page = 1;\nstate.lastSave = new Date().toISOString();\n\nconsole.log(`🔄 [${currentIdx}] ${allCats[currentIdx]?.nombre} → [${nextIdx}] ${allCats[nextIdx]?.nombre}`);\n\nreturn [{ json: {\n    _fin_catalogo: false,\n    categoria_actual_index: nextIdx,\n    categoria_actual: allCats[nextIdx],\n    page: 1,\n    access_token: access_token,\n    productos_por_pagina: 20,\n    pages_this_run: 0,\n    max_pages_per_run: maxPages\n}}];\n"},"id":"e4c08089-1c6a-421e-a71f-4e34a6b42326","name":"Avanzar Categoria","type":"n8n-nodes-base.code","typeVersion":2,"position":[3936,-100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3de0d325-12af-4aa7-9ac7-cded3abdcad7","leftValue":"={{ $json._fin_catalogo }}","rightValue":false,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"1c78873f-6630-4b8d-9f9a-086a3446ab06","name":"¿Mas categorias?","type":"n8n-nodes-base.if","typeVersion":2,"position":[4160,-100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"543390ee-b463-4826-9650-56b829bbdc50","leftValue":"={{ $json.pages_this_run }}","rightValue":"={{ $json.max_pages_per_run }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"3d672ab6-e828-462b-9355-9b0d0d7eccb3","name":"IF: ¿Límite de páginas?","type":"n8n-nodes-base.if","typeVersion":2,"position":[8430,-350]},{"parameters":{"jsCode":"\n// Guardar Estado v9 - AQUÍ se avanza la página (no en Init)\nconst state = $getWorkflowStaticData('global');\nif (state._savedThisRun === true) {\n    return [{ json: { logged: false }}];\n}\nstate._savedThisRun = true;\nconst startPage = state._startPage || 1;\nconst PAGES_PER_RUN = 20;\nstate.page = startPage + PAGES_PER_RUN;\nstate.lastSave = new Date().toISOString();\nconsole.log('💾 Guardado: cat[' + state.categoryIndex + '] → pág ' + state.page);\nreturn [{ json: { logged: true, nextPage: state.page, categoryIndex: state.categoryIndex }}];\n"},"id":"40ba7c3c-a6f6-422f-8933-2f5100bdc3dc","name":"Guardar Estado","type":"n8n-nodes-base.code","typeVersion":2,"position":[8650,-350]},{"id":"f2936b66-824b-4407-bc47-159375cfc420","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,200],"parameters":{"path":"syscom-trigger-run","httpMethod":"POST","responseMode":"onReceived","options":{}},"webhookId":"4879fabb-9de9-4b22-9152-1ffba2f2b8af"}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Syscom Token","type":"main","index":0}]]},"Get Syscom Token":{"main":[[{"node":"Crear Estado Inicial","type":"main","index":0}]]},"Map Syscom Odoo":{"main":[[{"node":"Store Original State","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Syscom Token","type":"main","index":0}]]},"Init Search Terms":{"main":[[{"node":"HTTP Syscom Products","type":"main","index":0}]]},"HTTP Syscom Products":{"main":[[{"node":"Process Pagination","type":"main","index":0}]]},"Process Pagination":{"main":[[{"node":"Control por lotes","type":"main","index":0}]]},"Search SAT Code":{"main":[[{"node":"Enrich with SAT","type":"main","index":0}]]},"Update an item":{"main":[[{"node":"Error handler","type":"main","index":0}]]},"Create an item":{"main":[[{"node":"Error handler1","type":"main","index":0}]]},"has Image URL?":{"main":[[{"node":"Download Image","type":"main","index":0}],[{"node":"No Image Data","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Convert to base64","type":"main","index":0}]]},"Convert to base64":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"No Image Data":{"main":[[{"node":"Create an item","type":"main","index":0}]]},"Store Original State":{"main":[[{"node":"Search SAT Code","type":"main","index":0}]]},"Enrich with SAT":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Control por lotes":{"main":[[{"node":"Map Syscom Odoo","type":"main","index":0}]]},"Error handler":{"main":[[{"node":"Check point Recovery","type":"main","index":0}]]},"Error handler1":{"main":[[{"node":"Check point Recovery1","type":"main","index":0}]]},"Check point Recovery1":{"main":[[{"node":"Guardar Estado","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Get many items","type":"main","index":0}]]},"If":{"main":[[{"node":"Update an item","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"Get many items":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"has Image URL?","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Create an item","type":"main","index":0}]]},"Check point Recovery":{"main":[[{"node":"Guardar Estado","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Incremetar Pagina","type":"main","index":0}]]},"Incremetar Pagina":{"main":[[{"node":"IF: ¿Límite de páginas?","type":"main","index":0}]]},"Unir Ramas":{"main":[[{"node":"If1","type":"main","index":0}]]},"Crear Estado Inicial":{"main":[[{"node":"Init Search Terms","type":"main","index":0}]]},"IF: ¿Avanzar categoria?":{"main":[[{"node":"Avanzar Categoria","type":"main","index":0}],[{"node":"Control por lotes","type":"main","index":0}]]},"Avanzar Categoria":{"main":[[{"node":"¿Mas categorias?","type":"main","index":0}]]},"IF: ¿Límite de páginas?":{"main":[[{"node":"Guardar Estado","type":"main","index":0}],[]]},"Guardar Estado":{"main":[[]]},"Webhook Trigger":{"main":[[{"node":"Get Syscom Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"global":{"categoryIndex":5,"page":281,"_savedThisRun":true,"_foundEmptyPage":false,"_startPage":261,"lastSave":"2026-03-20T21:54:49.539Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-08-28T12:35:04.508-05:00","Readable date":"August 28th 2025, 12:35:04 pm","Readable time":"12:35:04 pm","Day of week":"Thursday","Year":"2025","Month":"August","Day of month":"28","Hour":"12","Minute":"35","Second":"04","Timezone":"America/Mexico_City (UTC-05:00)"}}],"Get Syscom Token":[{"json":{"token_type":"Bearer","expires_in":31536000,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjdjYjE0OGY3NjE1Yzk0NDEwNDA5NTA0YmMwNDNmOWQ5NjAzMWFkMGIwNzFkMmFmMjRlNjExODhhZTA0MmZjMjA1ZmNjZTg4NWYyZTU2ZTZlIn0.eyJhdWQiOiJ6cTJ1MlpyMVZGR2FtNUl6QWc1VW9sd21lU25zQ2hQNyIsImp0aSI6IjdjYjE0OGY3NjE1Yzk0NDEwNDA5NTA0YmMwNDNmOWQ5NjAzMWFkMGIwNzFkMmFmMjRlNjExODhhZTA0MmZjMjA1ZmNjZTg4NWYyZTU2ZTZlIiwiaWF0IjoxNzU2NDAyNTA0LCJuYmYiOjE3NTY0MDI1MDQsImV4cCI6MTc4NzkzODUwNCwic3ViIjoiIiwic2NvcGVzIjpbXX0.efRF0pejpgfo_VCyrlzyDYeqjX2xpdDU8WeF07hY0NbV_j5g27PahTGTJGU0bQGRIjJHbpMnSHK15FXyiYXwe7pbMTHuJ8UhfOiiYR8Y9FZCZxg3HaMEB3f0Dg-mVt8D_WicauCF6Lki1YYiAhrFuyXxzT_MrnfdT-GD7Z1bKGS-tTC6eE3KBMlTaZT0Odh7YdItYGSfYalOj_HqA3zFWRxO6lZM4La2v29In_UzlDLoF3uSuNbenX81zQlbTOXRJZltPSgvL8DYbpLEg62d5OQCZPusVOPX_y4UR2LN9RD7zFZYb676uieaFjqYSPYtoqS0P2o0Wnom-orOzLqOJRd2YNSYed3w_tNFmhpp2e0KcYqAIKNki2d4wjdtaGU1_ryaeatEaGwX6RUTx50KcDAFhYF12_x6BkC2Fn88h3QQnbk-kUlnB1-GofDeG2pGXqVP4ifik8LGaHjxcdt1-srIGoY8UOQzZKiOwfqPkK0I3IhD2sBzfQcO21-RrOh5vsHIjecALFygYSjzrIh7qWTk_dWhOqMA_eA4gG8jQHk3UaZSveICQn_tnNlhC_Hc7MTIpF9Q9wmrJ7N3p8YEZuUeFY6xWc3Y8yZMm3JR5ZV3NT9jMMlTArEUi81ISYRVnb59xfsQvjVeElJr7hRZAGrhtSqbWf3QzETHYO_A33E"}}],"Init Search Terms":[{"json":{"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjdjYjE0OGY3NjE1Yzk0NDEwNDA5NTA0YmMwNDNmOWQ5NjAzMWFkMGIwNzFkMmFmMjRlNjExODhhZTA0MmZjMjA1ZmNjZTg4NWYyZTU2ZTZlIn0.eyJhdWQiOiJ6cTJ1MlpyMVZGR2FtNUl6QWc1VW9sd21lU25zQ2hQNyIsImp0aSI6IjdjYjE0OGY3NjE1Yzk0NDEwNDA5NTA0YmMwNDNmOWQ5NjAzMWFkMGIwNzFkMmFmMjRlNjExODhhZTA0MmZjMjA1ZmNjZTg4NWYyZTU2ZTZlIiwiaWF0IjoxNzU2NDAyNTA0LCJuYmYiOjE3NTY0MDI1MDQsImV4cCI6MTc4NzkzODUwNCwic3ViIjoiIiwic2NvcGVzIjpbXX0.efRF0pejpgfo_VCyrlzyDYeqjX2xpdDU8WeF07hY0NbV_j5g27PahTGTJGU0bQGRIjJHbpMnSHK15FXyiYXwe7pbMTHuJ8UhfOiiYR8Y9FZCZxg3HaMEB3f0Dg-mVt8D_WicauCF6Lki1YYiAhrFuyXxzT_MrnfdT-GD7Z1bKGS-tTC6eE3KBMlTaZT0Odh7YdItYGSfYalOj_HqA3zFWRxO6lZM4La2v29In_UzlDLoF3uSuNbenX81zQlbTOXRJZltPSgvL8DYbpLEg62d5OQCZPusVOPX_y4UR2LN9RD7zFZYb676uieaFjqYSPYtoqS0P2o0Wnom-orOzLqOJRd2YNSYed3w_tNFmhpp2e0KcYqAIKNki2d4wjdtaGU1_ryaeatEaGwX6RUTx50KcDAFhYF12_x6BkC2Fn88h3QQnbk-kUlnB1-GofDeG2pGXqVP4ifik8LGaHjxcdt1-srIGoY8UOQzZKiOwfqPkK0I3IhD2sBzfQcO21-RrOh5vsHIjecALFygYSjzrIh7qWTk_dWhOqMA_eA4gG8jQHk3UaZSveICQn_tnNlhC_Hc7MTIpF9Q9wmrJ7N3p8YEZuUeFY6xWc3Y8yZMm3JR5ZV3NT9jMMlTArEUi81ISYRVnb59xfsQvjVeElJr7hRZAGrhtSqbWf3QzETHYO_A33E","categorias":[{"nombre":"Videovigilancia","productos_esperados":5420},{"nombre":"Redes","productos_esperados":2878},{"nombre":"Radiocomunicación","productos_esperados":1833},{"nombre":"Automatización e Intrusión","productos_esperados":1659},{"nombre":"Cableado Estructurado","productos_esperados":1496},{"nombre":"Control de Acceso","productos_esperados":1477},{"nombre":"Energía","productos_esperados":1152},{"nombre":"Detección de Incendio","productos_esperados":647},{"nombre":"Herramientas y Equipo de Medición","productos_esperados":511},{"nombre":"Soportes y Gabinetes","productos_esperados":382},{"nombre":"Iluminación LED","productos_esperados":239},{"nombre":"GPS","productos_esperados":211},{"nombre":"Solar","productos_esperados":206},{"nombre":"Audio y Video Profesional","productos_esperados":185},{"nombre":"Voip","productos_esperados":179},{"nombre":"Redes Inalámbricas","productos_esperados":162},{"nombre":"Sitio","productos_esperados":127},{"nombre":"Cables de Red y Conectores","productos_esperados":98},{"nombre":"Cómputo","productos_esperados":51},{"nombre":"Conectividad","productos_esperados":44},{"nombre":"Accesorios","productos_esperados":40},{"nombre":"OUTLET","productos_esperados":25},{"nombre":"Almacenamiento","productos_esperados":19},{"nombre":"Seguridad en Nube","productos_esperados":18},{"nombre":"Accesorios para CCTV","productos_esperados":15},{"nombre":"Protección contra Descargas","productos_esperados":15},{"nombre":"Software","productos_esperados":13},{"nombre":"Tierras Físicas y Pararrayos","productos_esperados":8},{"nombre":"Cables y Conectores","productos_esperados":1}],"categoria_actual_index":0,"categoria_actual":{"nombre":"Videovigilancia","productos_esperados":5420},"pagina_actual":1,"productos_por_pagina":100,"total_productos_procesados":0,"total_productos_creados":0,"total_productos_actualizados":0,"total_productos_error":0,"lote_actual":1,"configuracion":{"TAMANO_LOTE":100,"PRODUCTOS_POR_PAGINA":100,"DELAY_ENTRE_LOTES":2000,"DELAY_ENTRE_CATEGORIAS":5000,"MAX_REINTENTOS":3,"DELAY_REINTENTO":10000,"MODO":"PRODUCCION","LIMITE_PRUEBA":100,"VERBOSE":true,"GUARDAR_PROGRESO":true},"timestamp_inicio":"2025-08-28T17:35:04.906Z","productos_procesados_ids":[],"errores":[],"continuar_procesamiento":true,"razon_detencion":null}}],"HTTP Syscom Products":[{"json":{"cantidad":282,"pagina":1,"paginas":5,"productos":[{"producto_id":"218714","modelo":"WD23PURZ","total_existencia":500,"titulo":"Disco Duro PURPLE de 2TB / 3 AÑOS DE GARANTÍA / Para Videovigilancia","marca":"Western Digital (WD)","garantia":"3 años","sat_key":"43201803","sat_description":"Unidades de disco duro","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/WESTERNDIGITAL(WD)/WD23PURZ/WD23PURZ-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/WD23PURZ-Western+Digital+%28WD%29-218714.html","categorias":[{"id":"1340","nombre":"Discos Duros Mecánicos (HDD)","nivel":3},{"id":"65963","nombre":"Servidores / Almacenamiento","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.736","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/western_digital_(wd).png","link":"/producto/WD23PURZ-Western-Digital-(WD)-218714.html","imagen_360":["360_GRADOS/WESTERNDIGITAL(WD)/WD23PURZ/2023_12_02_12_36"],"iconos":[],"peso":"0.83","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"12","largo":"20","ancho":"16","precios":{"precio_1":"2230.06","precio_especial":"2052.03","precio_descuento":"1280.46","volumen":{"400":"66.96"},"precio_lista":"2230.06"},"existencia":{"nuevo":500,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"232951","modelo":"DTKHDMI1","total_existencia":4,"titulo":"Protector Contra Sobretensiones para Cable HDMI Compatible con HDMI 2.0a Y HDCP 2.2, Soporta hasta 4k UHD","marca":"DITEK","garantia":"3 años","sat_key":"39121634","sat_description":"Protector de sobretensiones","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/DITEK/DTKHDMI1/DTKHDMI1-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/DTKHDMI1-DITEK-232951.html","categorias":[{"id":"1365","nombre":"Montajes y Brackets para Cámaras","nivel":3},{"id":"218","nombre":"Accesorios Generales","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.045","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ditek.png","link":"/producto/DTKHDMI1-DITEK-232951.html","imagen_360":[],"iconos":[],"peso":"0.09","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"5","largo":"9","ancho":"5","precios":{"precio_1":"3129.58","precio_especial":"2978.91","precio_descuento":"1882.67","precio_lista":"3129.58"},"existencia":{"nuevo":4,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"71801","modelo":"TT-BNC-BNC-0.6M","total_existencia":500,"titulo":"Cable Coaxial Armado con Conector BNC (Video) / Longitud de 0.6 mts / Optimizado para Cámaras 4K / Uso en Interior","marca":"EPCOM TITANIUM","garantia":"3 años","sat_key":"26121606","sat_description":"Cable coaxial","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/EPCOMTITANIUM/TTBNCBNC0.6M/TTBNCBNC0.6M-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/TT-BNC-BNC-0.6M-EPCOM+TITANIUM-71801.html","categorias":[{"id":"65868","nombre":"Cables Armados - Coaxial","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.01","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/epcom_titanium.png","link":"/producto/TT-BNC-BNC-0.6M-EPCOM-TITANIUM-71801.html","imagen_360":["360_GRADOS/EPCOMTITANIUM/TTBNCBNC0.6M/2023_04_03_04_50"],"iconos":[],"peso":"0.01","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"84.33","precio_especial":"42.35","precio_descuento":"26.76","volumen":{"10":"1.38"},"precio_lista":"84.33"},"existencia":{"nuevo":500,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"211677","modelo":"DS-9664NI-M8","total_existencia":119,"titulo":"[Doble Poder de Decodificación] NVR 32 Megapixel (8K) / 64 Canales IP / AcuSense / ANPR / Conteo de Personas / Heat Map / 8 Bahías de Disco Duro  / Soporta RAID con Hot Swap / 2 HDMI en 8K / Soporta POS / Alarmas I/O  / Smart Search","marca":"HIKVISION","garantia":"5 años","sat_key":"46171621","sat_description":"Grabadoras de video o audio de vigilancia","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/DS9664NIM8/DS9664NIM8-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/DS-9664NI-M8-HIKVISION-211677.html","categorias":[{"id":"1383","nombre":"NVRs Network Video Recorders","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"12.768","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/DS-9664NI-M8-HIKVISION-211677.html","proyecto":true,"imagen_360":["360_GRADOS/HIKVISION/DS9664NIM8/2024_01_24_01_30"],"iconos":[],"peso":"11.00","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"20","largo":"57","ancho":"56","precios":{"precio_1":"56988.34","precio_especial":"56988.34","precio_descuento":"26442.58","precio_lista":"56988.34"},"existencia":{"nuevo":119,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"223367","modelo":"EP175J","total_existencia":24,"titulo":"Sistema Profesional Inalámbrico de Cámara de Reversa Infrarroja y Monitor Touch de 7\" para Vehículos de Trabajo y Montacargas ","marca":"EPCOM","garantia":"5 años","sat_key":"46171621","sat_description":"Grabadoras de video o audio de vigilancia","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/EPCOM/EP175J/EP175J-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/EP175J-EPCOM-223367.html","categorias":[{"id":"1323","nombre":"Bala","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"1.09099","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/epcom.png","link":"/producto/EP175J-EPCOM-223367.html","imagen_360":["360_GRADOS/EPCOM/EP175J/2024_09_11_09_03"],"iconos":[],"peso":"2.13","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"9","largo":"34","ancho":"19","precios":{"precio_1":"5837.51","precio_especial":"5085.47","precio_descuento":"3254.70","precio_lista":"5837.51"},"existencia":{"nuevo":24,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"163346","modelo":"DSPLUGEXT","total_existencia":500,"titulo":"Protector para Exterior IP68 / Adaptador para el Conector Tipo Plug (12 Vcc) en Cámaras epcom / Color Negro / HIKVISION / HiLook","marca":"HIKVISION","garantia":"5 años","sat_key":"39121719","sat_description":"Protectores","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/DSPLUGEXT/DSPLUGEXT-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/DSPLUGEXT-HIKVISION-163346.html","categorias":[{"id":"1295","nombre":"Para Alimentación y Electricidad","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.01","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/DSPLUGEXT-HIKVISION-163346.html","imagen_360":[],"iconos":[],"peso":"0.01","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"1","largo":"10","ancho":"5","precios":{"precio_1":"31.85","precio_especial":"14.99","precio_descuento":"9.59","precio_lista":"31.85"},"existencia":{"nuevo":500,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"203601","modelo":"LPWR50304U","total_existencia":88,"titulo":"Gabinete para Montaje en Pared liviano, 4 Unidades de rack, Profundidad máxima de trabajo 250 mm, Se envía el Gabinete Armado.","marca":"LINKEDPRO BY EPCOM","garantia":"3 años","sat_key":"43223306","sat_description":"Gabinete o cerramiento para sistemas de red","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/LINKEDPRO/LPWR50304U/LPWR50304U-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/LPWR50304U-LINKEDPRO+BY+EPCOM-203601.html","categorias":[{"id":"65621","nombre":"Racks Cerrados","nivel":3},{"id":"509","nombre":"Racks y Gabinetes","nivel":2},{"id":"26","nombre":"Redes e IT","nivel":1}],"pvol":"6.71","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/linkedpro_by_epcom.png","link":"/producto/LPWR50304U-LINKEDPRO-BY-EPCOM-203601.html","imagen_360":["360_GRADOS/LINKEDPROBYEPCOM/LPWR50304U/2022_07_11_07_27"],"iconos":[],"peso":"15.00","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"10","largo":"61","ancho":"55","precios":{"precio_1":"2035.91","precio_especial":"1791.54","precio_descuento":"1146.58","precio_lista":"2035.91"},"existencia":{"nuevo":88,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"198688","modelo":"LP-DVR-RA20-31","total_existencia":110,"titulo":"Adaptador Universal para rack 19\" para Videograbadoras de Ancho de 20 a 31 cm.","marca":"LINKEDPRO BY EPCOM","garantia":"3 años","sat_key":"31162313","sat_description":"Kits de montaje","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/LINKEDPROBYEPCOM/LPDVRRA2031/LPDVRRA2031-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/LP-DVR-RA20-31-LINKEDPRO+BY+EPCOM-198688.html","categorias":[{"id":"1965","nombre":"Gabinetes de Acero para DVR y NVR","nivel":3},{"id":"218","nombre":"Accesorios Generales","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.1248","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/linkedpro_by_epcom.png","link":"/producto/LP-DVR-RA20-31-LINKEDPRO-BY-EPCOM-198688.html","imagen_360":["360_GRADOS/LINKEDPROBYEPCOM/LPDVRRA2031/2023_03_31_03_59"],"iconos":[],"peso":"0.26","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"2","largo":"24","ancho":"13","precios":{"precio_1":"386.41","precio_especial":"340.13","precio_descuento":"214.96","precio_lista":"386.41"},"existencia":{"nuevo":110,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"214974","modelo":"IDS-2CD7547G0-XZHS","total_existencia":84,"titulo":"Domo IP 4 Megapixel / Lente Mot. 2.8 - 12 mm / Luz Dual (IR y Luz Blanca) / Reconocimiento Facial / Heat Map / ACUSENSE / Metadata / Micrófono Integrado / IK10 / IP67 / WDR 140 dB / DeepinView","marca":"HIKVISION","garantia":"5 años","sat_key":"46171610","sat_description":"C?maras de seguridad","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/IDS2CD7547G0XZHS/IDS2CD7547G0XZHS-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/IDS-2CD7547G0-XZHS-HIKVISION-214974.html","categorias":[{"id":"1325","nombre":"Domo / Eyeball / Turret","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"2.03988","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/IDS-2CD7547G0-XZHS-HIKVISION-214974.html","proyecto":true,"imagen_360":["360_GRADOS/HIKVISION/IDS2CD7547G0XZHS/2024_05_07_05_10"],"iconos":[],"peso":"1.58","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"19","largo":"25","ancho":"22","precios":{"precio_1":"24383.55","precio_especial":"24383.55","precio_descuento":"11313.96","precio_lista":"24383.55"},"existencia":{"nuevo":84,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"214976","modelo":"IDS-2CD7587G0-XZHS","total_existencia":30,"titulo":"Domo IP 8 Megapixel / Lente Mot. 2.8 - 12 mm / Dual Light (30 mts IR + 30 mts Luz Blanca) / IK10 / IP67 / Reconocimiento Facial / WDR 140 dB / DeepinView / Búsqueda por Atributos / Heat Map / ACUSENSE / DARKFIGHTER S / Audio de Dos Vías","marca":"HIKVISION","garantia":"5 años","sat_key":"46171610","sat_description":"C?maras de seguridad","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/IDS2CD7587G0XZHS/IDS2CD7587G0XZHS-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/IDS-2CD7587G0-XZHS-HIKVISION-214976.html","categorias":[{"id":"1325","nombre":"Domo / Eyeball / Turret","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"2.03988","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/IDS-2CD7587G0-XZHS-HIKVISION-214976.html","proyecto":true,"imagen_360":[],"iconos":[],"peso":"1.58","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"19","largo":"25","ancho":"22","precios":{"precio_1":"27563.54","precio_especial":"27563.54","precio_descuento":"12789.48","precio_lista":"27563.54"},"existencia":{"nuevo":30,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"205667","modelo":"VM55BU","total_existencia":72,"titulo":"Pantalla Profesional LED de 55\" para Video Wall, Full HD (1080p), HDMI/DVI-D/DP, Bisel Ultra Delgado de 2.3mm. Compatible VESA","marca":"SAMSUNG ELECTRONICS","garantia":"3 años","sat_key":"43211909","sat_description":"Pantallas emisoras de diodos de poli luz","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/SAMSUNGELECTRONICS/VM55BU/VM55BU-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/VM55BU-SAMSUNG+ELECTRONICS-205667.html","categorias":[{"id":"65969","nombre":"Videowall Seguridad","nivel":3},{"id":"65968","nombre":"Monitores Pantallas y Mobiliario","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"12.0704","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/samsung_electronics.png","link":"/producto/VM55BU-SAMSUNG-ELECTRONICS-205667.html","imagen_360":[],"iconos":[],"peso":"21.20","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"68","largo":"7","ancho":"121","precios":{"precio_1":"69806.50","precio_especial":"33638.30","precio_descuento":"21259.40","volumen":{"30":"1077.71"},"precio_lista":"69806.50"},"existencia":{"nuevo":72,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"15149","modelo":"DTK-MRJPOE","total_existencia":424,"titulo":"Protector Contra Sobretensiones PoE/HiPoE Hasta 10 GbE, Para Cámaras IP PoE, WAP, Control de Acceso, Iluminación PoE","marca":"DITEK","garantia":"3 años","sat_key":"39121634","sat_description":"Protector de sobretensiones","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/DITEK/DTKMRJPOE/DTKMRJPOE-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/DTK-MRJPOE-DITEK-15149.html","categorias":[{"id":"3016","nombre":"Redes","nivel":3},{"id":"518","nombre":"Protección Contra Descargas","nivel":2},{"id":"26","nombre":"Redes e IT","nivel":1}],"pvol":"0.045","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ditek.png","link":"/producto/DTK-MRJPOE-DITEK-15149.html","imagen_360":["360_GRADOS/DITEK/DTKMRJPOE/2021_09_06_09_12"],"iconos":{"sup_der":"https://ftp3.syscom.mx/usuarios/fotos/syscom_mx/icono/made_in_usa.png"},"peso":"0.09","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"5","largo":"9","ancho":"5","precios":{"precio_1":"2042.66","precio_especial":"2005.18","precio_descuento":"1267.27","volumen":{"100":"66.27","240":"64.24"},"precio_lista":"2042.66"},"existencia":{"nuevo":423,"asterisco":{"a":1,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"71803","modelo":"TT-BNC-BNC-2.20M","total_existencia":502,"titulo":"Cable Coaxial Armado con Conector BNC (Video) / Longitud de 2.2 mts / Optimizado para Cámaras 4K / Uso en Interior","marca":"EPCOM TITANIUM","garantia":"3 años","sat_key":"26121606","sat_description":"Cable coaxial","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/EPCOMTITANIUM/TTBNCBNC2.20M/TTBNCBNC2.20M-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/TT-BNC-BNC-2.20M-EPCOM+TITANIUM-71803.html","categorias":[{"id":"65868","nombre":"Cables Armados - Coaxial","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.01","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/epcom_titanium.png","link":"/producto/TT-BNC-BNC-2.20M-EPCOM-TITANIUM-71803.html","imagen_360":["360_GRADOS/EPCOMTITANIUM/TTBNCBNC2.20M/2021_10_20_10_07"],"iconos":[],"peso":"0.01","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"95.57","precio_especial":"66.33","precio_descuento":"41.92","precio_lista":"95.57"},"existencia":{"nuevo":500,"asterisco":{"a":0,"b":2,"c":0,"d":0},"detalle":[]}},{"producto_id":"71802","modelo":"TT-BNC-BNC-1.5M","total_existencia":500,"titulo":"Cable Coaxial Armado con Conector BNC (Video) / Longitud de 1.5 mts / Optimizado para Cámaras 4K / Uso en Interior","marca":"EPCOM TITANIUM","garantia":"3 años","sat_key":"26121606","sat_description":"Cable coaxial","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/EPCOMTITANIUM/TTBNCBNC1.5M/TTBNCBNC1.5M-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/TT-BNC-BNC-1.5M-EPCOM+TITANIUM-71802.html","categorias":[{"id":"65868","nombre":"Cables Armados - Coaxial","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.01","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/epcom_titanium.png","link":"/producto/TT-BNC-BNC-1.5M-EPCOM-TITANIUM-71802.html","imagen_360":["360_GRADOS/EPCOMTITANIUM/TTBNCBNC1.5M/2023_04_03_04_31"],"iconos":[],"peso":"0.01","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"93.70","precio_especial":"77.95","precio_descuento":"49.26","volumen":{"10":"2.55","50":"2.49"},"precio_lista":"93.70"},"existencia":{"nuevo":500,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"200582","modelo":"IDS-2CD7A46G0-IZHS(C)","total_existencia":10,"titulo":"Bala IP 4 Megapixel / Lente Mot. 2.8 - 12 mm / 50 mts IR EXIR / IK10 / Reconocimiento Facial / WDR 140 dB / DeepinView / Búsqueda por Atributos / Heat Map / ACUSENSE / Micro SD","marca":"HIKVISION","garantia":"5 años","sat_key":"46171610","sat_description":"C?maras de seguridad","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/IDS2CD7A46G0IZHS(C)/IDS2CD7A46G0IZHS(C)-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/IDS-2CD7A46G0-IZHS%28C%29-HIKVISION-200582.html","categorias":[{"id":"1323","nombre":"Bala","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/IDS-2CD7A46G0-IZHS(C)-HIKVISION-200582.html","proyecto":true,"imagen_360":["360_GRADOS/HIKVISION/IDS2CD7A46G0IZHS(C)/2022_10_07_10_37"],"iconos":[],"peso":"3.06","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"20142.68","precio_especial":"20142.68","precio_descuento":"9346.20","precio_lista":"20142.68"},"existencia":{"nuevo":2,"asterisco":{"a":3,"b":5,"c":0,"d":0},"detalle":[]}},{"producto_id":"209826","modelo":"IDS-2CD7146G0-IZS(D)","total_existencia":226,"titulo":"Domo IP 4 Megapixel / Lente Mot. 2.8 a 12 mm / 40 mts IR EXIR / IK10 / IP67 / H.265+ / WDR 140 dB / Captura Facial / DeepinView / Búsqueda por Atributos / 2 Micrófonos Integrados / Micro SD","marca":"HIKVISION","garantia":"5 años","sat_key":"46171610","sat_description":"C?maras de seguridad","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/IDS2CD7146G0IZS(D)/IDS2CD7146G0IZS(D)-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/IDS-2CD7146G0-IZS%28D%29-HIKVISION-209826.html","categorias":[{"id":"1325","nombre":"Domo / Eyeball / Turret","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/IDS-2CD7146G0-IZS(D)-HIKVISION-209826.html","proyecto":true,"imagen_360":["360_GRADOS/HIKVISION/IDS2CD7146G0IZS(D)/2024_03_19_03_00"],"iconos":[],"peso":"1.41","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"16959.70","precio_especial":"12369.33","precio_descuento":"7916.37","precio_lista":"16959.70"},"existencia":{"nuevo":216,"asterisco":{"a":6,"b":4,"c":0,"d":0},"detalle":[]}},{"producto_id":"207945","modelo":"EP790J","total_existencia":97,"titulo":"Sistema Profesional de Cámara de Reversa y Monitor Alámbrico para Vehículos de Trabajo y Montacargas","marca":"EPCOM","garantia":"5 años","sat_key":"46171621","sat_description":"Grabadoras de video o audio de vigilancia","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/EPCOM/EP790J/EP790J-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/EP790J-EPCOM-207945.html","categorias":[{"id":"65665","nombre":"Accesorios","nivel":3},{"id":"525","nombre":"Videograbadoras Móviles, Dash Cams y Body Cams","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"3.76","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/epcom.png","link":"/producto/EP790J-EPCOM-207945.html","imagen_360":["360_GRADOS/EPCOM/EP790J/2023_07_18_07_48"],"iconos":[],"peso":"2.11","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"10","largo":"94","ancho":"20","precios":{"precio_1":"3035.88","precio_especial":"2617.41","precio_descuento":"1675.14","precio_lista":"3035.88"},"existencia":{"nuevo":96,"asterisco":{"a":1,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"219810","modelo":"DS-96128NI-M8","total_existencia":18,"titulo":"[Doble Poder de Decodificación] NVR 32 Megapixel (8K) / 128 Canales IP / AcuSense / ANPR / Conteo de Personas / Heat Map / 8 Bahías de Disco Duro / Soporta RAID con Hot Swap / 2 HDMI en 8K / Soporta POS / Alarmas I/O / Smart Search","marca":"HIKVISION","garantia":"5 años","sat_key":"46171621","sat_description":"Grabadoras de video o audio de vigilancia","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/DS96128NIM8/DS96128NIM8-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/DS-96128NI-M8-HIKVISION-219810.html","categorias":[{"id":"1383","nombre":"NVRs Network Video Recorders","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"8","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/DS-96128NI-M8-HIKVISION-219810.html","proyecto":true,"imagen_360":[],"iconos":[],"peso":"18.10","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"50","largo":"16","ancho":"50","precios":{"precio_1":"90186.62","precio_especial":"90186.62","precio_descuento":"41846.59","precio_lista":"90186.62"},"existencia":{"nuevo":18,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"215764","modelo":"IDS-2CD7186G0-IZS(D)","total_existencia":31,"titulo":"Domo IP 8 Megapixel / Lente Mot. 2.8 a 12 mm /  DARKFIGHTER / WDR 120 dB / IK10 / 30 mts IR / Conteo Facial / Detección Facial / Interior / PoE / Búsqueda por Atributos / Micrófono Integrado / Micro SD","marca":"HIKVISION","garantia":"5 años","sat_key":"46171610","sat_description":"C?maras de seguridad","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/IDS2CD7186G0IZS(D)/IDS2CD7186G0IZS(D)-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/IDS-2CD7186G0-IZS%28D%29-HIKVISION-215764.html","categorias":[{"id":"1325","nombre":"Domo / Eyeball / Turret","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"1.46898","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/IDS-2CD7186G0-IZS(D)-HIKVISION-215764.html","proyecto":true,"imagen_360":[],"iconos":[],"peso":"0.90","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"17","largo":"24","ancho":"17","precios":{"precio_1":"21202.99","precio_especial":"21202.99","precio_descuento":"9838.18","precio_lista":"21202.99"},"existencia":{"nuevo":31,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"195481","modelo":"LP-CAST-72-SET","total_existencia":92,"titulo":"Juego de 4 Ruedas para Gabinetes Linkedpro Terminación R2 (2 con freno, 2 libres)","marca":"LINKEDPRO BY EPCOM","garantia":"3 años","sat_key":"43201618","sat_description":"Componente de rack de computador","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/LINKEDPRO/LPCAST72SET/LPCAST72SET-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/LP-CAST-72-SET-LINKEDPRO+BY+EPCOM-195481.html","categorias":[{"id":"2979","nombre":"Accesorios para Racks y Gabinetes","nivel":3},{"id":"509","nombre":"Racks y Gabinetes","nivel":2},{"id":"26","nombre":"Redes e IT","nivel":1}],"pvol":"0.3328","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/linkedpro_by_epcom.png","link":"/producto/LP-CAST-72-SET-LINKEDPRO-BY-EPCOM-195481.html","imagen_360":["360_GRADOS/LINKEDPROBYEPCOM/LPCAST72SET/2024_05_29_05_12"],"iconos":[],"peso":"2.60","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"8","largo":"16","ancho":"13","precios":{"precio_1":"1166.37","precio_especial":"1026.38","precio_descuento":"656.88","precio_lista":"1166.37"},"existencia":{"nuevo":92,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"160321","modelo":"TTPL100","total_existencia":508,"titulo":"Cable divisor PoE pasivo de 48-55 Vcc @ 12 Vcc, 2 A. Aplicaciones como adaptar micrófonos en cámaras IP","marca":"EPCOM POWERLINE","garantia":"3 años","sat_key":"45111714","sat_description":"Convertidor de audio de an?logo a digital ad","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/EPCOMPOWERLINE/TTPL100/TTPL100-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/TTPL100-EPCOM+POWERLINE-160321.html","categorias":[{"id":"1323","nombre":"Bala","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.0075","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/epcom_powerline.png","link":"/producto/TTPL100-EPCOM-POWERLINE-160321.html","imagen_360":["360_GRADOS/EPCOMPOWERLINE/TTPL100/2021_12_27_12_36"],"iconos":[],"peso":"0.05","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"2","largo":"8","ancho":"3","precios":{"precio_1":"267.04","precio_especial":"184.96","precio_descuento":"116.89","precio_lista":"267.04"},"existencia":{"nuevo":500,"asterisco":{"a":2,"b":6,"c":0,"d":0},"detalle":[]}},{"producto_id":"232981","modelo":"IDS-2CD7146G2-IZS","total_existencia":207,"titulo":"Domo IP 4 Megapixel / Lente Mot. 2.8 a 12 mm 2 / 40 mts IR EXIR / 2 Analiticos Simultaneos / DeepinView / 2 Micrófonos Integrados  / IP67 / IK10 / H.265+ / WDR 150 dB / Captura Facial / Búsqueda por Atributos / ","marca":"HIKVISION","garantia":"5 años","sat_key":"46171610","sat_description":"C?maras de seguridad","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/IDS2CD7146G2IZS/IDS2CD7146G2IZS-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/IDS-2CD7146G2-IZS-HIKVISION-232981.html","categorias":[{"id":"1325","nombre":"Domo / Eyeball / Turret","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/IDS-2CD7146G2-IZS-HIKVISION-232981.html","proyecto":true,"imagen_360":[],"iconos":[],"peso":"1.41","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"19082.19","precio_especial":"19082.19","precio_descuento":"8854.13","precio_lista":"19082.19"},"existencia":{"nuevo":204,"asterisco":{"a":2,"b":1,"c":0,"d":0},"detalle":[]}},{"producto_id":"232980","modelo":"IDS-2CD7146G2-IZS(1T)","total_existencia":77,"titulo":"Domo IP 4 Megapixel / Lente Mot. 2.8 a 12 mm 2 / 40 mts IR EXIR / 2 Analiticos Simultaneos / SSD Integrado 1 TB / DeepinView / 2 Micrófonos Integrados / IP67 / IK10 / H.265+ / WDR 150 dB / Captura Facial / Búsqu","marca":"HIKVISION","garantia":"5 años","sat_key":"46171610","sat_description":"C?maras de seguridad","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/IDS2CD7146G2IZS(1T)/IDS2CD7146G2IZS(1T)-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/IDS-2CD7146G2-IZS%281T%29-HIKVISION-232980.html","categorias":[{"id":"1325","nombre":"Domo / Eyeball / Turret","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/IDS-2CD7146G2-IZS(1T)-HIKVISION-232980.html","proyecto":true,"imagen_360":[],"iconos":[],"peso":"1.41","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"24418.22","precio_especial":"24418.22","precio_descuento":"11330.05","precio_lista":"24418.22"},"existencia":{"nuevo":77,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"191821","modelo":"POSTEINT-KIT","total_existencia":228,"titulo":"Poste y Cubierta industrial para montaje de Porteros IP Fanvil y Grandstream, altura de 1.2 metros, pintura electrostática color gris.","marca":"EPCOM INDUSTRIAL","garantia":"3 años","sat_key":"43223306","sat_description":"Gabinete o cerramiento para sistemas de red","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/EPCOMINDUSTRIAL/POSTEINTKIT/POSTEINTKIT-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/POSTEINT-KIT-EPCOM+INDUSTRIAL-191821.html","categorias":[{"id":"1411","nombre":"Interfones","nivel":3},{"id":"226","nombre":"Videoporteros e Interfonos","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"1.2","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/epcom_industrial.png","link":"/producto/POSTEINT-KIT-EPCOM-INDUSTRIAL-191821.html","imagen_360":[],"iconos":[],"peso":"0.10","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"60","largo":"10","ancho":"10","precios":{"precio_1":"3789.60","precio_especial":"3260.76","precio_descuento":"2086.88","precio_lista":"3789.60"},"existencia":{"nuevo":228,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"170978","modelo":"ALCOHOLS","total_existencia":500,"titulo":"Alcohol Isopropilico en Aerosol para limpieza de equipos de vídeo, fibra óptica, cómputo, y equipo telefónico 250 ml","marca":"SILIMEX","garantia":"3 años","sat_key":"12163800","sat_description":"Limpiadores qu?micos","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/SILIMEX/ALCOHOLS/ALCOHOLS-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/ALCOHOLS-SILIMEX-170978.html","categorias":[{"id":"65665","nombre":"Accesorios","nivel":3},{"id":"525","nombre":"Videograbadoras Móviles, Dash Cams y Body Cams","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.169","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/silimex.png","link":"/producto/ALCOHOLS-SILIMEX-170978.html","imagen_360":["360_GRADOS/SILIMEX/ALCOHOLS/2021_05_04_05_26"],"iconos":[],"peso":"0.40","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"7","largo":"20","ancho":"7","precios":{"precio_1":"196.77","precio_especial":"172.40","precio_descuento":"110.33","precio_lista":"196.77"},"existencia":{"nuevo":500,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"208427","modelo":"70694","total_existencia":506,"titulo":"Convertidor DisplayPort a HDMI 4K@60Hz | 3D | HDR | Blindaje interno |  Boton Liberador  | Largo 25cm | Carcasa de ABS | Plug & Play.","marca":"UGREEN","garantia":"3 años","sat_key":"43211600","sat_description":"Accesorios de computador","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/UGREEN/70694/70694-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/70694-UGREEN-208427.html","categorias":[{"id":"65867","nombre":"VGA / DVI / HDMI","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ugreen.png","link":"/producto/70694-UGREEN-208427.html","imagen_360":[],"iconos":[],"peso":"0.10","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"477.87","precio_especial":"427.08","precio_descuento":"273.33","precio_lista":"477.87"},"existencia":{"nuevo":500,"asterisco":{"a":5,"b":1,"c":0,"d":0},"detalle":[]}},{"producto_id":"144377","modelo":"XNF-8010RV","total_existencia":2,"titulo":" Fisheye 6 Megapixel / WDR 120dB / IR 15m / PTZ Digital 8X / Video Analíticos Avanzados / Proteccion para exterior IP66 / IK10 / Entrada y Salida de Audio y Alarma","marca":"Hanwha Techwin Wisenet","garantia":"3 años","sat_key":"46171610","sat_description":"C?maras de seguridad","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/SAMSUNGWISENET(HANWHA)/XNF8010RV/XNF8010RV-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/XNF-8010RV-Hanwha+Techwin+Wisenet-144377.html","categorias":[{"id":"1320","nombre":"Fisheye y Hemisféricas","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"1.01736","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hanwha_techwin_wisenet.png","link":"/producto/XNF-8010RV-Hanwha-Techwin-Wisenet-144377.html","atributos":{"Color":{"Marfil":{"producto_id":"144378","detalle":"#f7f2dc"},"Blanco":{"producto_id":"166583","detalle":"#ffffff"}},"         Tipo de uso:                           ":{"Interior":{"producto_id":"144376","detalle":""},"Exterior / Antivandalico":{"producto_id":"144377","detalle":""},"Contra vibracion / Conector M-12":{"producto_id":"144378","detalle":""}}},"imagen_360":[],"iconos":{"sup_izq":"https://ftp3.syscom.mx/usuarios/fotos/analiticos.png","inf_der":"https://ftp3.syscom.mx/usuarios/fotos/h265-compression.png"},"peso":"1.33","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"18","largo":"17","ancho":"18","precios":{"precio_1":"19677.00","precio_especial":"19677.00","precio_descuento":"12593.28","precio_lista":"19677.00"},"existencia":{"nuevo":2,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"74991","modelo":"TT-RG-02","total_existencia":304,"titulo":"Adaptador en línea para 75 Ohm, de conector BNC macho a RCA hembra en aplicaciones de Audio-Video para cámaras, monitores y DVR´s.","marca":"EPCOM TITANIUM","garantia":"3 años","sat_key":"39121414","sat_description":"Conectores coaxiales","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/TTRG02/TTRG02.jpg","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/TT-RG-02-EPCOM+TITANIUM-74991.html","categorias":[{"id":"1301","nombre":"Adaptador a RCA","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.0010388","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/epcom_titanium.png","link":"/producto/TT-RG-02-EPCOM-TITANIUM-74991.html","imagen_360":["360_GRADOS/EPCOMTITANIUM/TTRG02/2023_05_30_05_23"],"iconos":[],"peso":"0.01","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"1","largo":"3","ancho":"1","precios":{"precio_1":"8.43","precio_especial":"5.05","precio_descuento":"3.19","volumen":{"10":"0.16","25":"0.15","50":"0.14"},"precio_lista":"8.43"},"existencia":{"nuevo":304,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"32502","modelo":"TCMSR19","total_existencia":52,"titulo":"Tomacorriente Vertical (PDU) de 10 Contactos (NEMA 5-15R). Voltaje Entrada/Salida: 120Vca/15A","marca":"LINKEDPRO BY EPCOM","garantia":"4 años","sat_key":"43223300","sat_description":"","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/LINKEDPRO/TCMSR19/TCMSR19-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/TCMSR19-LINKEDPRO+BY+EPCOM-32502.html","categorias":[{"id":"2979","nombre":"Accesorios para Racks y Gabinetes","nivel":3},{"id":"509","nombre":"Racks y Gabinetes","nivel":2},{"id":"26","nombre":"Redes e IT","nivel":1}],"pvol":"3.9312","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/linkedpro_by_epcom.png","link":"/producto/TCMSR19-LINKEDPRO-BY-EPCOM-32502.html","imagen_360":["360_GRADOS/LINKEDPROBYEPCOM/TCMSR19/2022_07_11_07_21"],"iconos":{"sup_izq":"https://ftp3.syscom.mx/usuarios/fotos/Garantia.png?v=1523385607?v=1544030123"},"peso":"4.50","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"13","largo":"108","ancho":"14","precios":{"precio_1":"2440.88","precio_especial":"2147.97","precio_descuento":"1374.70","precio_lista":"2440.88"},"existencia":{"nuevo":51,"asterisco":{"a":0,"b":1,"c":0,"d":0},"detalle":[]}},{"producto_id":"74990","modelo":"TT-RG-01","total_existencia":173,"titulo":"Adaptador en línea para 75 Ohm, de conector BNC macho a RCA macho en aplicaciones de Audio-Video para cámaras, monitores y DVR´s.","marca":"EPCOM TITANIUM","garantia":"3 años","sat_key":"39121414","sat_description":"Conectores coaxiales","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/TTRG01/TTRG01.jpg","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/TT-RG-01-EPCOM+TITANIUM-74990.html","categorias":[{"id":"1301","nombre":"Adaptador a RCA","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.0012936","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/epcom_titanium.png","link":"/producto/TT-RG-01-EPCOM-TITANIUM-74990.html","imagen_360":["360_GRADOS/EPCOMTITANIUM/TTRG01/2023_05_29_05_45"],"iconos":[],"peso":"0.01","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"1","largo":"3","ancho":"1","precios":{"precio_1":"13.30","precio_especial":"7.12","precio_descuento":"4.49","volumen":{"10":"0.21","25":"0.20","50":"0.19","100":"0.19"},"precio_lista":"13.30"},"existencia":{"nuevo":173,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"168450","modelo":"SYS-112601","total_existencia":1,"titulo":"Guía jala cable de 30 metros de longitud","marca":"SURTEK","garantia":"3 años","sat_key":"20122500","sat_description":"Equipo para tuber?a flexible","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/SURTEK/SYS112601/SYS112601-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/SYS-112601-SURTEK-168450.html","categorias":[{"id":"65839","nombre":"Canaletas","nivel":3},{"id":"65816","nombre":"Canalización","nivel":2},{"id":"65811","nombre":"Cableado Estructurado","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/surtek.png","link":"/producto/SYS-112601-SURTEK-168450.html","imagen_360":["360_GRADOS/SURTEK/SYS112601/2023_04_21_04_55"],"iconos":[],"peso":"1.20","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"770.77","precio_especial":"733.48","precio_descuento":"469.42","precio_lista":"770.77"},"existencia":{"nuevo":1,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"241342","modelo":"C313WB","total_existencia":355,"titulo":"Monitor Color Negro Linux / Pantalla Touch de 7 Pulgadas / SIP / POE / WIFI / Compatible con Frentes de Calle Akuvox","marca":"AKUVOX","garantia":"3 años","sat_key":"43221525","sat_description":"Sistemas de intercomunicaci?n","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/AKUVOX/C313WB/portada_0S400.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/C313WB-AKUVOX-241342.html","categorias":[{"id":"1411","nombre":"Interfones","nivel":3},{"id":"226","nombre":"Videoporteros e Interfonos","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.49","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/akuvox.png","link":"/producto/C313WB-AKUVOX-241342.html","imagen_360":[],"iconos":[],"peso":"0.58","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"24","largo":"7","ancho":"16","precios":{"precio_1":"2752.71","precio_especial":"2752.71","precio_descuento":"1761.73","precio_lista":"2752.71"},"existencia":{"nuevo":335,"asterisco":{"a":20,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"210867","modelo":"70444","total_existencia":201,"titulo":"Cable Adaptador USB C a HDMI 4K@60Hz / Convertidor Thunderbolt 3 / Caja de Aluminio / HDMI V2.0 / 3D / Longitud del cable 10cm","marca":"UGREEN","garantia":"3 años","sat_key":"43223303","sat_description":"Cable de conexi?n de comunicaci?n de datos","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/UGREEN/70444/70444-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/70444-UGREEN-210867.html","categorias":[{"id":"65867","nombre":"VGA / DVI / HDMI","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ugreen.png","link":"/producto/70444-UGREEN-210867.html","imagen_360":["360_GRADOS/UGREEN/70444/2023_05_03_05_27"],"iconos":[],"peso":"0.01","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"560.32","precio_especial":"506.91","precio_descuento":"324.42","precio_lista":"560.32"},"existencia":{"nuevo":201,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"223874","modelo":"50966","total_existencia":507,"titulo":"Switch/Divisor HDMI 4K 60Hz (Splitter)  | Bidireccional (2 Entradas 1 Salida/1 Entrada 2 Salidas | Switch Conmutable | Led Indicador | 3D | HDR | Dolby Atmos | Potente Chip IC | Diseño Compacto | No Requiere Energía","marca":"UGREEN","garantia":"3 años","sat_key":"26121604","sat_description":"Cable para se?ales","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/UGREEN/50966/50966-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/50966-UGREEN-223874.html","categorias":[{"id":"65867","nombre":"VGA / DVI / HDMI","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ugreen.png","link":"/producto/50966-UGREEN-223874.html","imagen_360":["360_GRADOS/UGREEN/50966/2025_07_24_07_48"],"iconos":[],"peso":"0.01","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"365.43","precio_especial":"264.98","precio_descuento":"169.58","precio_lista":"365.43"},"existencia":{"nuevo":500,"asterisco":{"a":7,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"214874","modelo":"60561","total_existencia":259,"titulo":"Adaptador USB 3.0 a SATA III | Compatible con Disco Duro HDD y SSD de 2.5\" y 3.5\" de hasta 12 TB | Velocidad USB 3.0 de hasta 5 Gbps | Alta Velocidad con UASP & TRIM | Cable de 50 cm.","marca":"UGREEN","garantia":"3 años","sat_key":"43223303","sat_description":"Cable de conexi?n de comunicaci?n de datos","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/UGREEN/60561/60561-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/60561-UGREEN-214874.html","categorias":[{"id":"1340","nombre":"Discos Duros Mecánicos (HDD)","nivel":3},{"id":"65963","nombre":"Servidores / Almacenamiento","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ugreen.png","link":"/producto/60561-UGREEN-214874.html","imagen_360":["360_GRADOS/UGREEN/60561/2025_01_08_01_37"],"iconos":[],"peso":"0.01","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"372.92","precio_especial":"288.59","precio_descuento":"184.69","precio_lista":"372.92"},"existencia":{"nuevo":259,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"208433","modelo":"40360","total_existencia":437,"titulo":"Convertidor Mini Display Port a HDMI / 4K@30Hz / Thunderbolt / Blindaje interno múltiple /  Carcasa ABS / Longitud de 25 cm ","marca":"UGREEN","garantia":"3 años","sat_key":"43211600","sat_description":"Accesorios de computador","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/UGREEN/40360/40360-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/40360-UGREEN-208433.html","categorias":[{"id":"65867","nombre":"VGA / DVI / HDMI","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ugreen.png","link":"/producto/40360-UGREEN-208433.html","imagen_360":["360_GRADOS/UGREEN/40360/2023_06_02_06_47"],"iconos":[],"peso":"0.10","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"459.13","precio_especial":"284.66","precio_descuento":"182.18","precio_lista":"459.13"},"existencia":{"nuevo":428,"asterisco":{"a":0,"b":9,"c":0,"d":0},"detalle":[]}},{"producto_id":"215579","modelo":"50945","total_existencia":508,"titulo":"Entrada: VGA Macho / Salida: HDMI Hembra / Resolución de 1080P@60Hz / Puerto Estéreo de 3.5 mm / Plug and Play, Sin Controlador / Longitud del Cable 15 cm. / Incluye Cable de Alimentacion USB / Incluye Cable de Audio de 3.5mm.","marca":"UGREEN","garantia":"3 años","sat_key":"43211600","sat_description":"Accesorios de computador","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/UGREEN/50945/50945-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/50945-UGREEN-215579.html","categorias":[{"id":"65867","nombre":"VGA / DVI / HDMI","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ugreen.png","link":"/producto/50945-UGREEN-215579.html","imagen_360":["360_GRADOS/UGREEN/50945/2024_05_29_05_34"],"iconos":[],"peso":"0.10","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"466.62","precio_especial":"322.51","precio_descuento":"206.40","volumen":{"1":"9.36"},"precio_lista":"466.62"},"existencia":{"nuevo":500,"asterisco":{"a":6,"b":2,"c":0,"d":0},"detalle":[]}},{"producto_id":"192358","modelo":"XNF-9010RV","total_existencia":77,"titulo":"Fisheye IP 12 Megapixel / WDR 120dB / PTZ Digital 8X / Mapa de Calor y Conteo de Personas / IP66 / IK10 ","marca":"Hanwha Techwin Wisenet","garantia":"3 años","sat_key":"46171610","sat_description":"C?maras de seguridad","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HANWHATECHWINWISENET/XNF9010RV/XNF9010RV-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/XNF-9010RV-Hanwha+Techwin+Wisenet-192358.html","categorias":[{"id":"1320","nombre":"Fisheye y Hemisféricas","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hanwha_techwin_wisenet.png","link":"/producto/XNF-9010RV-Hanwha-Techwin-Wisenet-192358.html","imagen_360":[],"iconos":[],"peso":"1.18","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"22488.00","precio_especial":"22488.00","precio_descuento":"14212.41","precio_lista":"22488.00"},"existencia":{"nuevo":77,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"220746","modelo":"50423","total_existencia":317,"titulo":"Carcasa de Disco Duro para  3.5\" y  2.5\" (Enclosure) | Con Cable USB 3.0 | Para HDD 3.5\" / SSD 2.5\" | SATA I/II/III | UASP | Hasta 16 TB | Compatible con Windows, Linux, Mac OS | No Requiere Controlador | Cable 1m | Incluye Adaptador d","marca":"UGREEN","garantia":"3 años","sat_key":"43202105","sat_description":"Gabinetes para medios m?ltiples","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/UGREEN/50423/50423-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/50423-UGREEN-220746.html","categorias":[{"id":"1340","nombre":"Discos Duros Mecánicos (HDD)","nivel":3},{"id":"65963","nombre":"Servidores / Almacenamiento","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ugreen.png","link":"/producto/50423-UGREEN-220746.html","imagen_360":[],"iconos":[],"peso":"0.30","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"883.59","precio_especial":"709.12","precio_descuento":"453.83","precio_lista":"883.59"},"existencia":{"nuevo":316,"asterisco":{"a":1,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"215500","modelo":"50570","total_existencia":37,"titulo":"Cable USB-C 3.1 a HDMI 4K | 1.5m | Compatible con Thunderbolt 3 & 4 | Adaptador Tipo-C a HDMI | 4k@60Hz | Soporta Modo Espejo y Modo Extendido | Carcasa de Aluminio | Nylon Trenzado | Conector Niquelado | Blindaje Multicapa.","marca":"UGREEN","garantia":"3 años","sat_key":"43223303","sat_description":"Cable de conexi?n de comunicaci?n de datos","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/UGREEN/50570/50570-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/50570-UGREEN-215500.html","categorias":[{"id":"65867","nombre":"VGA / DVI / HDMI","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ugreen.png","link":"/producto/50570-UGREEN-215500.html","imagen_360":["360_GRADOS/UGREEN/50570/2024_10_31_10_53"],"iconos":[],"peso":"0.01","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"727.11","precio_especial":"644.65","precio_descuento":"412.57","precio_lista":"727.11"},"existencia":{"nuevo":34,"asterisco":{"a":2,"b":1,"c":0,"d":0},"detalle":[]}},{"producto_id":"208435","modelo":"20118","total_existencia":183,"titulo":"Convertidor DVI macho a HDMI Hembra | Bidireccional | DVI 24+1 | 1080P@60Hz | Cable de 22cm | Negro.","marca":"UGREEN","garantia":"3 años","sat_key":"43211600","sat_description":"Accesorios de computador","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/UGREEN/20118/20118-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/20118-UGREEN-208435.html","categorias":[{"id":"65867","nombre":"VGA / DVI / HDMI","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ugreen.png","link":"/producto/20118-UGREEN-208435.html","imagen_360":["360_GRADOS/UGREEN/20118/2023_05_03_05_10"],"iconos":[],"peso":"0.10","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"178.03","precio_especial":"143.17","precio_descuento":"91.62","precio_lista":"178.03"},"existencia":{"nuevo":183,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"219138","modelo":"DS-2CD3746G2-IZS(H)","total_existencia":38,"titulo":"Domo IP 4 Megapixel / Lente Mot. 2.7 a 13.5 mm / 40 mts IR EXIR / Exterior IP66 / IK10 / DARKFIGHTER / Audio y Alarma I/O / PoE+ / ONVIF / Micro SD / 4 Analíticos: AcuSense, Deteccion Facial, Conteo de Personas por Cruce y Zona","marca":"HIKVISION","garantia":"5 años","sat_key":"46171610","sat_description":"C?maras de seguridad","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/DS2CD3746G2IZS(H)/DS2CD3746G2IZS(H)-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/DS-2CD3746G2-IZS%28H%29-HIKVISION-219138.html","categorias":[{"id":"1325","nombre":"Domo / Eyeball / Turret","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/DS-2CD3746G2-IZS(H)-HIKVISION-219138.html","proyecto":true,"imagen_360":[],"iconos":[],"peso":"1.50","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"10065.44","precio_especial":"10065.44","precio_descuento":"6441.88","precio_lista":"10065.44"},"existencia":{"nuevo":37,"asterisco":{"a":1,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"215085","modelo":"IDS-2CD8A48G0-XZS(5-20/4)","total_existencia":19,"titulo":"[TandemVu] Bala IP Dual 4 Megapixel (2 Lentes) / Lente Fijo (4 mm / ColorVu) y Lente Mot. (5 a 20 mm / DarkFighter X) / Luz Dual (IR y Luz Blanca) / IP67 / IK10 / Reconocimiento Facial / ACUSENSE / WDR 140 dB / DeepinView / Búsqueda por Atributos","marca":"HIKVISION","garantia":"5 años","sat_key":"46171610","sat_description":"C?maras de seguridad","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/IDS2CD8A48G0XZS(520_4)/IDS2CD8A48G0XZS(520_4)-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/IDS-2CD8A48G0-XZS%285-20-4%29-HIKVISION-215085.html","categorias":[{"id":"1323","nombre":"Bala","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/IDS-2CD8A48G0-XZS(5-20-4)-HIKVISION-215085.html","proyecto":true,"imagen_360":["360_GRADOS/HIKVISION/IDS2CD8A48G0XZS(520_4)/2024_09_19_09_34"],"iconos":[],"peso":"3.06","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"34136.78","precio_especial":"34136.78","precio_descuento":"15839.46","precio_lista":"34136.78"},"existencia":{"nuevo":15,"asterisco":{"a":3,"b":1,"c":0,"d":0},"detalle":[]}},{"producto_id":"29328","modelo":"S-CH-19X13.5","total_existencia":500,"titulo":"Charola para Rack de 19\", 34 cm de Profundidad, 2UR","marca":"LINKEDPRO BY EPCOM","garantia":"3 años","sat_key":"43201618","sat_description":"Componente de rack de computador","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/LINKEDPRO/SCH19X13.5/SCH19X13.5-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/S-CH-19X13.5-LINKEDPRO+BY+EPCOM-29328.html","categorias":[{"id":"2979","nombre":"Accesorios para Racks y Gabinetes","nivel":3},{"id":"509","nombre":"Racks y Gabinetes","nivel":2},{"id":"26","nombre":"Redes e IT","nivel":1}],"pvol":"3.515","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/linkedpro_by_epcom.png","link":"/producto/S-CH-19X13.5-LINKEDPRO-BY-EPCOM-29328.html","imagen_360":["360_GRADOS/LINKEDPROBYEPCOM/SCH19X13.5/2022_07_11_07_12"],"iconos":[],"peso":"2.76","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"10","largo":"37","ancho":"50","precios":{"precio_1":"863.53","precio_especial":"759.90","precio_descuento":"486.33","precio_lista":"863.53"},"existencia":{"nuevo":500,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"210865","modelo":"70609","total_existencia":255,"titulo":"Cable Adaptador SATA a USB 3.0 | SATA 3.0/2.0 | Soporta HDD y SSD de 2.5\" | Soporta S.M.A.R.T, TRIM, UASP | No Requiere Adaptador de Corriente | Cable 50 cm.","marca":"UGREEN","garantia":"3 años","sat_key":"43223303","sat_description":"Cable de conexi?n de comunicaci?n de datos","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/UGREEN/70609/70609-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/70609-UGREEN-210865.html","categorias":[{"id":"1340","nombre":"Discos Duros Mecánicos (HDD)","nivel":3},{"id":"65963","nombre":"Servidores / Almacenamiento","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ugreen.png","link":"/producto/70609-UGREEN-210865.html","imagen_360":["360_GRADOS/UGREEN/70609/2023_05_03_05_42"],"iconos":[],"peso":"0.01","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"262.17","precio_especial":"230.68","precio_descuento":"147.63","precio_lista":"262.17"},"existencia":{"nuevo":255,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"214977","modelo":"IDS-2CD7A47G0-XZHS","total_existencia":47,"titulo":"Bala IP 4 Megapixel / Lente Mot. 2.8 - 12 mm / Luz Dual (IR y Luz Blanca) / Reconocimiento Facial / Heat Map / ACUSENSE / Metadata / IK10 / IP67 / WDR 140 dB / DeepinView","marca":"HIKVISION","garantia":"5 años","sat_key":"46171610","sat_description":"C?maras de seguridad","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/IDS2CD7A47G0XZHS/IDS2CD7A47G0XZHS-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/IDS-2CD7A47G0-XZHS-HIKVISION-214977.html","categorias":[{"id":"1323","nombre":"Bala","nivel":3},{"id":"214","nombre":"Cámaras IP y NVRs","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/IDS-2CD7A47G0-XZHS-HIKVISION-214977.html","proyecto":true,"imagen_360":["360_GRADOS/HIKVISION/IDS2CD7A47G0XZHS/2024_05_06_05_51"],"iconos":[],"peso":"3.06","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"21838.84","precio_especial":"21838.84","precio_descuento":"10133.22","precio_lista":"21838.84"},"existencia":{"nuevo":46,"asterisco":{"a":0,"b":0,"c":1,"d":0},"detalle":[]}},{"producto_id":"230516","modelo":"LPVM24U","total_existencia":500,"titulo":"Organizador de Cable Vertical de 24 Unidades Rack Sencillo, Compatible con Racks Serie EIRL y EIQR","marca":"LINKEDPRO BY EPCOM","garantia":"3 años","sat_key":"43223300","sat_description":"Dispositivos y equipos para instalaci?n de conectividad de redes y Datacom","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/LINKEDPROBYEPCOM/LPVM24U/LPVM24U-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/LPVM24U-LINKEDPRO+BY+EPCOM-230516.html","categorias":[{"id":"2979","nombre":"Accesorios para Racks y Gabinetes","nivel":3},{"id":"509","nombre":"Racks y Gabinetes","nivel":2},{"id":"26","nombre":"Redes e IT","nivel":1}],"pvol":"3.6288","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/linkedpro_by_epcom.png","link":"/producto/LPVM24U-LINKEDPRO-BY-EPCOM-230516.html","imagen_360":["360_GRADOS/LINKEDPROBYEPCOM/LPVM24U/2024_08_01_08_57"],"iconos":[],"peso":"4.30","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"14","largo":"12","ancho":"108","precios":{"precio_1":"1180.62","precio_especial":"1038.94","precio_descuento":"664.92","precio_lista":"1180.62"},"existencia":{"nuevo":500,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"29327","modelo":"SCH-19/130","total_existencia":500,"titulo":"Charola para Rack de 19\", 23 cm de Profundidad, 2U","marca":"LINKEDPRO BY EPCOM","garantia":"3 años","sat_key":"43201618","sat_description":"Componente de rack de computador","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/SCH19130/SCH19130det.jpg","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/SCH-19-130-LINKEDPRO+BY+EPCOM-29327.html","categorias":[{"id":"2979","nombre":"Accesorios para Racks y Gabinetes","nivel":3},{"id":"509","nombre":"Racks y Gabinetes","nivel":2},{"id":"26","nombre":"Redes e IT","nivel":1}],"pvol":"1.3572","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/linkedpro_by_epcom.png","link":"/producto/SCH-19-130-LINKEDPRO-BY-EPCOM-29327.html","imagen_360":["360_GRADOS/LINKEDPROBYEPCOM/SCH19_130/2022_07_11_07_16"],"iconos":[],"peso":"2.60","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"9","largo":"29","ancho":"26","precios":{"precio_1":"580.94","precio_especial":"511.22","precio_descuento":"327.18","precio_lista":"580.94"},"existencia":{"nuevo":500,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"217195","modelo":"10239","total_existencia":502,"titulo":"Cable DP Macho a HDMI Macho / Longitud 1.50 m / Soporta 4K@30Hz / Soporta 3D / Cobre Estañado 28AWG / Blindaje interno múltiple / Transmisión Unidireccional / Botón de Liberación / Chip de Última Generación","marca":"UGREEN","garantia":"3 años","sat_key":"26121604","sat_description":"Cable para se?ales","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/UGREEN/10239/10239-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/10239-UGREEN-217195.html","categorias":[{"id":"65867","nombre":"VGA / DVI / HDMI","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ugreen.png","link":"/producto/10239-UGREEN-217195.html","imagen_360":["360_GRADOS/UGREEN/10239/2024_05_29_05_11"],"iconos":[],"peso":"0.01","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"356.62","precio_especial":"327.76","precio_descuento":"209.76","volumen":{"5":"10.96","10":"10.85","20":"10.74","50":"10.63","150":"10.41","250":"10.29"},"precio_lista":"356.62"},"existencia":{"nuevo":500,"asterisco":{"a":2,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"195282","modelo":"VDV-512-100","total_existencia":6,"titulo":"Probador que Prueba y Mapea Cables Coaxiales RG59, RG6/6Q, RG7 y RG11.","marca":"KLEIN TOOLS","garantia":"3 años","sat_key":"41113630","sat_description":"Mult?metros","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/KLEINTOOLS/VDV512100/VDV512100-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/VDV-512-100-KLEIN+TOOLS-195282.html","categorias":[{"id":"2898","nombre":"Accesorios de Instalación","nivel":3},{"id":"495","nombre":"Herramientas","nivel":2},{"id":"38","nombre":"Detección  de Fuego","nivel":1}],"pvol":"0.19208","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/klein_tools.png","link":"/producto/VDV-512-100-KLEIN-TOOLS-195282.html","imagen_360":[],"iconos":[],"peso":"0.13","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"4","largo":"25","ancho":"10","precios":{"precio_1":"1846.82","precio_especial":"1405.87","precio_descuento":"899.75","precio_lista":"1846.82"},"existencia":{"nuevo":6,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"224415","modelo":"40363","total_existencia":500,"titulo":"Convertidor DisplayPort a HDMI 4K| 3D | HDR | Blindaje interno | Botón Liberador | Carcasa de ABS | Plug & Play | CE, FCC, RoHS | Cable de 25 cm.","marca":"UGREEN","garantia":"3 años","sat_key":"43211600","sat_description":"Accesorios de computador","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/UGREEN/40363/40363-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/40363-UGREEN-224415.html","categorias":[{"id":"65867","nombre":"VGA / DVI / HDMI","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ugreen.png","link":"/producto/40363-UGREEN-224415.html","imagen_360":[],"iconos":[],"peso":"0.10","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"335.44","precio_especial":"269.48","precio_descuento":"172.46","precio_lista":"335.44"},"existencia":{"nuevo":500,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"220448","modelo":"DS-1LH1S2C-10","total_existencia":213,"titulo":"Cable Coaxial Siames (Mini RG59) + Alimentación / 10 Metros de Distancia / CCA / Soporta 1080p (2 Megapixel) hasta 4K (8 Megapixel)  / Uso Interior y Exterior ","marca":"HIKVISION","garantia":"5 años","sat_key":"26121606","sat_description":"Cable coaxial","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/DS1LH1S2C10/DS1LH1S2C10-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/DS-1LH1S2C-10-HIKVISION-220448.html","categorias":[{"id":"65868","nombre":"Cables Armados - Coaxial","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.27","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/DS-1LH1S2C-10-HIKVISION-220448.html","imagen_360":[],"iconos":[],"peso":"0.69","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"6","largo":"15","ancho":"15","precios":{"precio_1":"113.56","precio_especial":"112.62","precio_descuento":"70.27","volumen":{"5":"3.67","15":"3.63","35":"3.60","50":"3.56"},"precio_lista":"113.56"},"existencia":{"nuevo":213,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"191648","modelo":"POSTE-INT","total_existencia":145,"titulo":"Base tipo tubular para instalación de cubierta BASEINT de videoporteros o interfones IP Fanvil y Grandstream, altura de 1.2 metros, pintura electrostática color gris.","marca":"EPCOM INDUSTRIAL","garantia":"3 años","sat_key":"43223306","sat_description":"Gabinete o cerramiento para sistemas de red","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/EPCOMINDUSTRIAL/POSTEINT/POSTEINT-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/POSTE-INT-EPCOM+INDUSTRIAL-191648.html","categorias":[{"id":"1410","nombre":"Videoporteros Analógicos","nivel":3},{"id":"226","nombre":"Videoporteros e Interfonos","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/epcom_industrial.png","link":"/producto/POSTE-INT-EPCOM-INDUSTRIAL-191648.html","imagen_360":[],"iconos":[],"peso":"3.00","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"2665.20","precio_especial":"2345.31","precio_descuento":"1500.99","precio_lista":"2665.20"},"existencia":{"nuevo":145,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"229239","modelo":"DS-1LH1SCAM592C","total_existencia":74,"titulo":"Cable Coaxial Siames (Mini RG59) + Alimentación (calibre 18) / 90 Metros de Distancia / CCA / Soporta 1080p (2 Megapixel) hasta 4K (8 Megapixel)  / Uso Interior y Exterior ","marca":"HIKVISION","garantia":"5 años","sat_key":"26121606","sat_description":"Cable coaxial","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/DS1LH1SCAM592C/DS1LH1SCAM592C-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/DS-1LH1SCAM592C-HIKVISION-229239.html","categorias":[{"id":"65868","nombre":"Cables Armados - Coaxial","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0.27","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/DS-1LH1SCAM592C-HIKVISION-229239.html","imagen_360":[],"iconos":[],"peso":"0.69","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"6","largo":"15","ancho":"15","precios":{"precio_1":"871.41","precio_especial":"648.21","precio_descuento":"414.85","precio_lista":"871.41"},"existencia":{"nuevo":74,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"195200","modelo":"450-003","total_existencia":19,"titulo":"Paquete de 300 Grapas con Aislamiento,  para Cables NM (Romex®) como 14/3, 14/3G, 12/3 y otros cables de hasta 11/32'' × 19/32'' (9 mm × 15 mm).","marca":"KLEIN TOOLS","garantia":"3 años","sat_key":"20122500","sat_description":"Equipo para tuber?a flexible","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/KLEINTOOLS/450003/450003-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/450-003-KLEIN+TOOLS-195200.html","categorias":[{"id":"65848","nombre":"Herramientas","nivel":3},{"id":"65813","nombre":"Cableado de Cobre","nivel":2},{"id":"65811","nombre":"Cableado Estructurado","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/klein_tools.png","link":"/producto/450-003-KLEIN-TOOLS-195200.html","imagen_360":[],"iconos":[],"peso":"0.86","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"770.96","precio_especial":"524.15","precio_descuento":"335.45","precio_lista":"770.96"},"existencia":{"nuevo":19,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"171285","modelo":"EPZH04","total_existencia":275,"titulo":"Juego de Herramientas en Estuche Portátil con 25 Pzas.  (Desarmadores Finos + Pinzas + Puntas + Maneral).","marca":"EPCOM POWERLINE","garantia":"3 años","sat_key":"27113201","sat_description":"Conjuntos generales de herramientas","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/EPCOMPOWERLINE/EPZH04/EPZH04-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/EPZH04-EPCOM+POWERLINE-171285.html","categorias":[{"id":"2888","nombre":"Herramientas Eléctricas","nivel":3},{"id":"287","nombre":"Herramientas","nivel":2},{"id":"26","nombre":"Redes e IT","nivel":1}],"pvol":"0.1344","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/epcom_powerline.png","link":"/producto/EPZH04-EPCOM-POWERLINE-171285.html","imagen_360":["360_GRADOS/EPCOMPOWERLINE/EPZH04/2023_05_29_05_24"],"iconos":[],"peso":"0.50","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"3","largo":"16","ancho":"14","precios":{"precio_1":"224.88","precio_especial":"205.01","precio_descuento":"131.20","volumen":{"100":"6.30"},"precio_lista":"224.88"},"existencia":{"nuevo":275,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"29333","modelo":"S-CH-19X19.6","total_existencia":500,"titulo":"Charola para Rack de 19\", 50 cm de Profundidad, 3UR. Capacidad carga: 30 Kg","marca":"LINKEDPRO BY EPCOM","garantia":"3 años","sat_key":"43201618","sat_description":"Componente de rack de computador","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/SCH19X6/SCH19X6det.jpg","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/S-CH-19X19.6-LINKEDPRO+BY+EPCOM-29333.html","categorias":[{"id":"2979","nombre":"Accesorios para Racks y Gabinetes","nivel":3},{"id":"509","nombre":"Racks y Gabinetes","nivel":2},{"id":"26","nombre":"Redes e IT","nivel":1}],"pvol":"0.0000000002","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/linkedpro_by_epcom.png","link":"/producto/S-CH-19X19.6-LINKEDPRO-BY-EPCOM-29333.html","imagen_360":["360_GRADOS/LINKEDPROBYEPCOM/SCH19X19.6/2022_07_11_07_10"],"iconos":[],"peso":"3.70","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"1079.42","precio_especial":"949.93","precio_descuento":"607.95","precio_lista":"1079.42"},"existencia":{"nuevo":500,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"174860","modelo":"DS-DN5501W","total_existencia":202,"titulo":"Montaje para Pared / Compatible con Monitor de 55\" / Especial para Videowall / Compatible con DS-D2055NL-B/G - DS-D2055LU-Y","marca":"HIKVISION","garantia":"5 años","sat_key":"43212002","sat_description":"Brazos o soportes para monitores","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/HIKVISION/DSDN5501W/DSDN5501W-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/DS-DN5501W-HIKVISION-174860.html","categorias":[{"id":"65969","nombre":"Videowall Seguridad","nivel":3},{"id":"65968","nombre":"Monitores Pantallas y Mobiliario","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"12.628","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/hikvision.png","link":"/producto/DS-DN5501W-HIKVISION-174860.html","imagen_360":[],"iconos":[],"peso":"10.00","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"10","largo":"82","ancho":"77","precios":{"precio_1":"6746.40","precio_especial":"5939.45","precio_descuento":"3801.24","precio_lista":"6746.40"},"existencia":{"nuevo":179,"asterisco":{"a":3,"b":18,"c":2,"d":0},"detalle":[]}},{"producto_id":"177697","modelo":"SCH19X3U4P","total_existencia":307,"titulo":"Charola para Soportar Equipos en Rack de 19\", Profundidad Ajustable hasta 484 mm. 150 Kg  de Carga, Compatible con Racks de Doble Perforación, 3U","marca":"LINKEDPRO BY EPCOM","garantia":"3 años","sat_key":"43201618","sat_description":"Componente de rack de computador","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/LINKEDPRO/SCH19X3U4P/SCH19X3U4P-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/SCH19X3U4P-LINKEDPRO+BY+EPCOM-177697.html","categorias":[{"id":"2979","nombre":"Accesorios para Racks y Gabinetes","nivel":3},{"id":"509","nombre":"Racks y Gabinetes","nivel":2},{"id":"26","nombre":"Redes e IT","nivel":1}],"pvol":"12.2304","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/linkedpro_by_epcom.png","link":"/producto/SCH19X3U4P-LINKEDPRO-BY-EPCOM-177697.html","imagen_360":["360_GRADOS/LINKEDPROBYEPCOM/SCH19X3U4P/2023_03_24_03_56"],"iconos":[],"peso":"1.50","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"13","largo":"98","ancho":"48","precios":{"precio_1":"2006.11","precio_especial":"1765.30","precio_descuento":"1129.79","precio_lista":"2006.11"},"existencia":{"nuevo":307,"asterisco":{"a":0,"b":0,"c":0,"d":0},"detalle":[]}},{"producto_id":"221935","modelo":"10203","total_existencia":506,"titulo":"Cable DP Macho a HDMI Macho / Longitud 3m / Soporta 4K@30Hz / Soporta 3D / Cobre Estañado 28AWG / Blindaje interno múltiple / Transmisión Unidireccional / Botón de Liberación / Chip de Última Generación","marca":"UGREEN","garantia":"3 años","sat_key":"26121604","sat_description":"Cable para se?ales","img_portada":"https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/UGREEN/10203/10203-p.PNG","link_privado":"https://www.productos-info.com/s/syscom/es/41015/98bb8036f52b3ca484ccb08f417ed0b7/x/-MX$/10203-UGREEN-221935.html","categorias":[{"id":"65867","nombre":"VGA / DVI / HDMI","nivel":3},{"id":"206","nombre":"Cables y Conectores","nivel":2},{"id":"22","nombre":"Videovigilancia","nivel":1}],"pvol":"0","marca_logo":"https://ftp3.syscom.mx/usuarios/fotos/logotipos/ugreen.png","link":"/producto/10203-UGREEN-221935.html","imagen_360":["360_GRADOS/UGREEN/10203/2025_04_08_04_59"],"iconos":[],"peso":"0.01","unidad_de_medida":{"codigo_unidad":"1","nombre":"Pieza","clave_unidad_sat":"H87"},"alto":"-","largo":"-","ancho":"-","precios":{"precio_1":"384.17","precio_especial":"360.37","precio_descuento":"230.63","volumen":{"1":"10.46"},"precio_lista":"384.17"},"existencia":{"nuevo":500,"asterisco":{"a":6,"b":0,"c":0,"d":0},"detalle":[]}}],"todo":false}}],"Enrich with SAT":[{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24039}],"_search_results":[{"id":24039}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":17981}],"_search_results":[{"id":17981}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12482}],"_search_results":[{"id":12482}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25483}],"_search_results":[{"id":25483}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25483}],"_search_results":[{"id":25483}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":18009}],"_search_results":[{"id":18009}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24418}],"_search_results":[{"id":24418}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":15397}],"_search_results":[{"id":15397}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24202}],"_search_results":[{"id":24202}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":17981}],"_search_results":[{"id":17981}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12482}],"_search_results":[{"id":12482}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12482}],"_search_results":[{"id":12482}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25483}],"_search_results":[{"id":25483}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25483}],"_search_results":[{"id":25483}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24034}],"_search_results":[{"id":24034}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25119}],"_search_results":[{"id":25119}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24418}],"_search_results":[{"id":24418}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":8556}],"_search_results":[{"id":8556}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24134}],"_search_results":[{"id":24134}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":17881}],"_search_results":[{"id":17881}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24413}],"_search_results":[{"id":24413}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":17881}],"_search_results":[{"id":17881}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":9664}],"_search_results":[{"id":9664}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24254}],"_search_results":[{"id":24254}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24416}],"_search_results":[{"id":24416}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12481}],"_search_results":[{"id":12481}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24416}],"_search_results":[{"id":24416}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24134}],"_search_results":[{"id":24134}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24134}],"_search_results":[{"id":24134}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24089}],"_search_results":[{"id":24089}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24416}],"_search_results":[{"id":24416}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24134}],"_search_results":[{"id":24134}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24034}],"_search_results":[{"id":24034}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24416}],"_search_results":[{"id":24416}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24413}],"_search_results":[{"id":24413}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24034}],"_search_results":[{"id":24034}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12481}],"_search_results":[{"id":12481}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":20355}],"_search_results":[{"id":20355}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24134}],"_search_results":[{"id":24134}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12482}],"_search_results":[{"id":12482}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24418}],"_search_results":[{"id":24418}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12482}],"_search_results":[{"id":12482}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":9664}],"_search_results":[{"id":9664}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":13255}],"_search_results":[{"id":13255}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24034}],"_search_results":[{"id":24034}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24210}],"_search_results":[{"id":24210}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24034}],"_search_results":[{"id":24034}],"sat_key":null,"sat_found":false}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12481}],"_search_results":[{"id":12481}],"sat_key":null,"sat_found":false}}],"Code1":[{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24039}],"_search_results":[{"id":24039}],"sat_key":null,"sat_found":false,"default_code":"WD23PURZ"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":17981}],"_search_results":[{"id":17981}],"sat_key":null,"sat_found":false,"default_code":"DTKHDMI1"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12482}],"_search_results":[{"id":12482}],"sat_key":null,"sat_found":false,"default_code":"TT-BNC-BNC-0.6M"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25483}],"_search_results":[{"id":25483}],"sat_key":null,"sat_found":false,"default_code":"DS-9664NI-M8"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25483}],"_search_results":[{"id":25483}],"sat_key":null,"sat_found":false,"default_code":"EP175J"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":18009}],"_search_results":[{"id":18009}],"sat_key":null,"sat_found":false,"default_code":"DSPLUGEXT"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24418}],"_search_results":[{"id":24418}],"sat_key":null,"sat_found":false,"default_code":"LPWR50304U"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":15397}],"_search_results":[{"id":15397}],"sat_key":null,"sat_found":false,"default_code":"LP-DVR-RA20-31"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false,"default_code":"IDS-2CD7547G0-XZHS"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false,"default_code":"IDS-2CD7587G0-XZHS"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24202}],"_search_results":[{"id":24202}],"sat_key":null,"sat_found":false,"default_code":"VM55BU"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":17981}],"_search_results":[{"id":17981}],"sat_key":null,"sat_found":false,"default_code":"DTK-MRJPOE"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12482}],"_search_results":[{"id":12482}],"sat_key":null,"sat_found":false,"default_code":"TT-BNC-BNC-2.20M"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12482}],"_search_results":[{"id":12482}],"sat_key":null,"sat_found":false,"default_code":"TT-BNC-BNC-1.5M"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false,"default_code":"IDS-2CD7A46G0-IZHS(C)"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false,"default_code":"IDS-2CD7146G0-IZS(D)"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25483}],"_search_results":[{"id":25483}],"sat_key":null,"sat_found":false,"default_code":"EP790J"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25483}],"_search_results":[{"id":25483}],"sat_key":null,"sat_found":false,"default_code":"DS-96128NI-M8"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false,"default_code":"IDS-2CD7186G0-IZS(D)"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24034}],"_search_results":[{"id":24034}],"sat_key":null,"sat_found":false,"default_code":"LP-CAST-72-SET"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25119}],"_search_results":[{"id":25119}],"sat_key":null,"sat_found":false,"default_code":"TTPL100"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false,"default_code":"IDS-2CD7146G2-IZS"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false,"default_code":"IDS-2CD7146G2-IZS(1T)"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24418}],"_search_results":[{"id":24418}],"sat_key":null,"sat_found":false,"default_code":"POSTEINT-KIT"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":8556}],"_search_results":[{"id":8556}],"sat_key":null,"sat_found":false,"default_code":"ALCOHOLS"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24134}],"_search_results":[{"id":24134}],"sat_key":null,"sat_found":false,"default_code":"70694"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false,"default_code":"XNF-8010RV"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":17881}],"_search_results":[{"id":17881}],"sat_key":null,"sat_found":false,"default_code":"TT-RG-02"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24413}],"_search_results":[{"id":24413}],"sat_key":null,"sat_found":false,"default_code":"TCMSR19"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":17881}],"_search_results":[{"id":17881}],"sat_key":null,"sat_found":false,"default_code":"TT-RG-01"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":9664}],"_search_results":[{"id":9664}],"sat_key":null,"sat_found":false,"default_code":"SYS-112601"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24254}],"_search_results":[{"id":24254}],"sat_key":null,"sat_found":false,"default_code":"C313WB"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24416}],"_search_results":[{"id":24416}],"sat_key":null,"sat_found":false,"default_code":"70444"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12481}],"_search_results":[{"id":12481}],"sat_key":null,"sat_found":false,"default_code":"50966"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24416}],"_search_results":[{"id":24416}],"sat_key":null,"sat_found":false,"default_code":"60561"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24134}],"_search_results":[{"id":24134}],"sat_key":null,"sat_found":false,"default_code":"40360"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24134}],"_search_results":[{"id":24134}],"sat_key":null,"sat_found":false,"default_code":"50945"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false,"default_code":"XNF-9010RV"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24089}],"_search_results":[{"id":24089}],"sat_key":null,"sat_found":false,"default_code":"50423"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24416}],"_search_results":[{"id":24416}],"sat_key":null,"sat_found":false,"default_code":"50570"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24134}],"_search_results":[{"id":24134}],"sat_key":null,"sat_found":false,"default_code":"20118"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false,"default_code":"DS-2CD3746G2-IZS(H)"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false,"default_code":"IDS-2CD8A48G0-XZS(5-20/4)"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24034}],"_search_results":[{"id":24034}],"sat_key":null,"sat_found":false,"default_code":"S-CH-19X13.5"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24416}],"_search_results":[{"id":24416}],"sat_key":null,"sat_found":false,"default_code":"70609"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":25473}],"_search_results":[{"id":25473}],"sat_key":null,"sat_found":false,"default_code":"IDS-2CD7A47G0-XZHS"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24413}],"_search_results":[{"id":24413}],"sat_key":null,"sat_found":false,"default_code":"LPVM24U"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24034}],"_search_results":[{"id":24034}],"sat_key":null,"sat_found":false,"default_code":"SCH-19/130"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12481}],"_search_results":[{"id":12481}],"sat_key":null,"sat_found":false,"default_code":"10239"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":20355}],"_search_results":[{"id":20355}],"sat_key":null,"sat_found":false,"default_code":"VDV-512-100"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24134}],"_search_results":[{"id":24134}],"sat_key":null,"sat_found":false,"default_code":"40363"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12482}],"_search_results":[{"id":12482}],"sat_key":null,"sat_found":false,"default_code":"DS-1LH1S2C-10"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24418}],"_search_results":[{"id":24418}],"sat_key":null,"sat_found":false,"default_code":"POSTE-INT"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12482}],"_search_results":[{"id":12482}],"sat_key":null,"sat_found":false,"default_code":"DS-1LH1SCAM592C"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":9664}],"_search_results":[{"id":9664}],"sat_key":null,"sat_found":false,"default_code":"450-003"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":13255}],"_search_results":[{"id":13255}],"sat_key":null,"sat_found":false,"default_code":"EPZH04"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24034}],"_search_results":[{"id":24034}],"sat_key":null,"sat_found":false,"default_code":"S-CH-19X19.6"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24210}],"_search_results":[{"id":24210}],"sat_key":null,"sat_found":false,"default_code":"DS-DN5501W"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":24034}],"_search_results":[{"id":24034}],"sat_key":null,"sat_found":false,"default_code":"SCH19X3U4P"}},{"json":{"jsonrpc":"2.0","id":null,"result":[{"id":12481}],"_search_results":[{"id":12481}],"sat_key":null,"sat_found":false,"default_code":"10203"}}]},"versionId":"42958915-d883-43a0-95d9-098cb8f5c82a","activeVersionId":"42958915-d883-43a0-95d9-098cb8f5c82a","versionCounter":581,"triggerCount":2,"shared":[{"updatedAt":"2025-08-01T23:46:43.266Z","createdAt":"2025-08-01T23:46:43.266Z","role":"workflow:owner","workflowId":"ylxPHHe9ymC49FTO","projectId":"1ugGQHoQVF6DXsWx","project":{"updatedAt":"2025-07-21T19:08:05.727Z","createdAt":"2025-07-21T19:06:54.563Z","id":"1ugGQHoQVF6DXsWx","name":"Felipe De Alba <pipess21@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"}}],"tags":[{"updatedAt":"2025-08-05T18:14:41.667Z","createdAt":"2025-08-05T18:14:41.667Z","id":"cCOIK6xGlfXMSlIp","name":"Medio dia en la oficina"}],"activeVersion":{"updatedAt":"2026-03-20T18:36:03.888Z","createdAt":"2026-03-20T18:36:03.888Z","versionId":"42958915-d883-43a0-95d9-098cb8f5c82a","workflowId":"ylxPHHe9ymC49FTO","nodes":[{"parameters":{},"id":"dfea67db-ffff-4948-abf7-6c02489123e8","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[2592,-320]},{"parameters":{"requestMethod":"POST","url":"https://developers.syscom.mx/oauth/token","options":{"timeout":15000},"bodyParametersUi":{"parameter":[{"name":"client_id","value":"zq2u2Zr1VFGam5IzAg5UolwmeSnsChP7"},{"name":"client_secret","value":"thdUXtjZunSRT4IB1ascUHIZlWsA5PhtIL9mBWVz"},{"name":"grant_type","value":"client_credentials"}]}},"id":"c36f0ae4-dd7d-4ea5-ad69-93381542e8d4","name":"Get Syscom Token","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[2816,-224]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const p = $input.item.json;\n\n// util\nconst num = (v, d = 0) => Number.isFinite(Number(v)) ? Number(v) : d;\nconst str = (v, d = '') => String(v ?? d);\n\n// precios\nconst costo = num(p.precios?.precio_descuento ?? p.precio, 0);\nconst costoConIva = costo * 1.16;\nconst listPriceCalc = costo > 0 ? costoConIva / 0.7 : 0;\n\n// categoría: toma la de mayor nivel; si no hay, default\nlet categoria_nombre = 'Syscom General';\nlet familia_nombre = '';\nif (Array.isArray(p.categorias) && p.categorias.length) {\n  const ordenadas = [...p.categorias].sort((a,b) => (a.nivel ?? 0) - (b.nivel ?? 0));\n  categoria_nombre = ordenadas[0]?.nombre ?? 'Syscom General';\n  familia_nombre = ordenadas[2]?.nombre ?? ordenadas[1]?.nombre ?? categoria_nombre;\n}\n\nconst newItem = {\n  // identificadores robustos\n  barcode: str(p.producto_id ?? p.sku ?? p.modelo ?? ''),\n  default_code: str(p.modelo ?? p.sku ?? p.producto_id ?? ''),\n  name: str(p.titulo, 'Producto sin nombre'),\n\n  // precios\n  list_price: num(p.precios?.precio_especial, listPriceCalc),\n  standard_price: costo,\n\n  // otros campos con fallback\n  categoria_nombre,\n  familia_nombre,\n  unidad_de_medida_nombre: str(p.unidad_de_medida?.nombre, 'Unidad(es)'),\n  total_existencia: num(p.total_existencia, 0),\n  sat_key: str(p.sat_key ?? p.clave_sat ?? null, ''),\n  img_portada: str(p.img_portada, ''),\n  marca: str(p.marca, ''),\n\n  // metadatos\n  producto_id_syscom: p.producto_id ?? null,\n  property_account_income_id: 1,\n  property_account_expense_id: 2,\n};\n\nreturn { json: newItem };\n"},"id":"338ef925-9ae3-4610-b02b-8415559d680d","name":"Map Syscom Odoo","type":"n8n-nodes-base.code","typeVersion":2,"position":[4160,-296]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 17,18,19,20,21,22,23,0,1,2,3,4 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2592,-128],"id":"8e5c9c65-456e-4b67-aeef-ae7576f849a1","name":"Schedule Trigger","notesInFlow":true,"notes":"Timezone: \"America/Mexico_City\" o \"UTC-6\""},{"parameters":{"jsCode":"\n// Init Search Terms v9 - NO pre-guarda la página (evita avance fantasma en errores)\nconst CATS = [\"Videovigilancia\",\"Redes\",\"Radiocomunicación\",\"Automatización e Intrusión\",\"Cableado Estructurado\",\"Control de Acceso\",\"Energía\",\"Detección de Incendio\",\"Sonido y Video\",\"Herramientas\"];\nconst PAGES_PER_RUN = 20;\nconst state = $getWorkflowStaticData('global');\n\n// Avanzar categoría si el run anterior encontró página vacía\nif (state._foundEmptyPage === true) {\n    const prevCat = state.categoryIndex || 0;\n    const nextCat = (prevCat + 1) % CATS.length;\n    state.categoryIndex = nextCat;\n    state.page = 1;\n    state._foundEmptyPage = false;\n    if (nextCat === 0) {\n        state.lastCompletedCycle = new Date().toISOString();\n        console.log('🏁 CATÁLOGO COMPLETO - reiniciando ciclo');\n    } else {\n        console.log('➡️  Cat[' + prevCat + '] → Cat[' + nextCat + '] ' + CATS[nextCat]);\n    }\n}\n\nconst catIdx = Math.max(0, Math.min(Number(state.categoryIndex) || 0, CATS.length - 1));\nconst startPage = Math.max(1, Number(state.page) || 1);\n\n// Guardar referencia para que Guardar Estado sepa hasta dónde avanzar\nstate._startPage = startPage;\nstate._savedThisRun = false;\n\nconsole.log('▶️  Cat[' + catIdx + '] \"' + CATS[catIdx] + '\" páginas ' + startPage + '–' + (startPage + PAGES_PER_RUN - 1));\n\nconst access_token = $('Get Syscom Token').first().json.access_token;\nconst items = [];\nfor (let p = startPage; p < startPage + PAGES_PER_RUN; p++) {\n    items.push({ json: {\n        page: p,\n        access_token,\n        categoria_actual: { nombre: CATS[catIdx] },\n        categoria_actual_index: catIdx,\n        categorias: CATS,\n        productos_por_pagina: 20,\n        start_page: startPage\n    }});\n}\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3264,-224],"id":"6a121728-aaea-4aac-8eb3-ab6aa892fd66","name":"Init Search Terms"},{"parameters":{"url":"https://developers.syscom.mx/api/v1/productos","sendQuery":true,"queryParameters":{"parameters":[{"name":"busqueda","value":"={{ $json.categoria_actual.nombre }}"},{"name":"page","value":"={{ $json.page }}"},{"name":"moneda","value":"MXN"},{"name":"per_page","value":"={{ $json.productos_por_pagina }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"},{"name":"Content-Type","value":"application/json"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":500}},"timeout":30000,"retry":{"maxTries":3,"waitBetweenTries":5000}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3488,-224],"id":"fa693676-409d-42dd-a9c4-39db6516af78","name":"HTTP Syscom Products"},{"parameters":{"jsCode":"\n// Process Pagination v10 - runOnceForAllItems, procesa todas las respuestas HTTP\nconst state = $getWorkflowStaticData('global');\nconst allHttpResponses = $input.all();           // 20 respuestas HTTP (una por página)\nconst allPageItems    = $('Init Search Terms').all(); // 20 items originales (page, cat, token)\n\nconst results = [];\n\nfor (let i = 0; i < allHttpResponses.length; i++) {\n    const respuesta  = allHttpResponses[i].json;\n    const pageItem   = allPageItems[i] ? allPageItems[i].json : allPageItems[0].json;\n    const productos  = respuesta.productos || [];\n    const pageNum    = pageItem.page;\n    const catObj     = pageItem.categoria_actual;  // { nombre: '...' }\n    const catIdx     = pageItem.categoria_actual_index;\n    const token      = pageItem.access_token;\n\n    if (productos.length === 0) {\n        state._foundEmptyPage = true;\n        console.log('⚠️  Pág vacía: ' + pageNum);\n        continue;  // no agregar items al resultado\n    }\n\n    console.log('📥 Pág ' + pageNum + ': ' + productos.length + ' productos');\n    for (const p of productos) {\n        results.push({\n            json: {\n                ...p,\n                categoria_actual: catObj,\n                categoria_actual_index: catIdx,\n                access_token: token,\n                _pagina: pageNum\n            }\n        });\n    }\n}\n\nif (results.length === 0) {\n    console.log('⚠️  Todas las páginas vacías en este batch');\n    // Retornar item dummy para que el flujo no colapse\n    return [{ json: { _empty_batch: true, _pages: allHttpResponses.length } }];\n}\n\nconsole.log('✅ Total productos en batch: ' + results.length);\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3712,-296],"id":"9d94f4f4-b5b3-460e-ade7-f339ac0d23a3","name":"Process Pagination"},{"parameters":{"method":"POST","url":"https://ocean-tech-0326.odoo.com/jsonrpc","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"ocean-tech-0326\",\n      2,\n      \"M1ercole$\",\n      \"product.unspsc.code\",\n      \"search_read\",\n      [\n        [\n          [\"code\", \"=\",{{ $json.sat_key_to_search }} ]\n        ]\n      ],\n      {\n        \"fields\": [\"id\"],\n        \"limit\": 1\n      }\n    ]\n  },\n  \"id\": null\n}","options":{"batching":{"batch":{"batchSize":5,"batchInterval":2000}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4608,-464],"id":"e65933e0-0a40-4801-87b8-f27b0f7e1f7b","name":"Search SAT Code","continueOnFail":true},{"parameters":{"resource":"custom","customResource":"product.template","operation":"update","customResourceId":"={{ $('Get many items').item.json.id }}","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"standard_price","fieldValue":"={{ $json.standard_price }}"},{"fieldName":"=list_price","fieldValue":"={{ $json.list_price }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[7072,-512],"id":"115c40ff-8bca-446c-82a1-63a7574de172","name":"Update an item","credentials":{"odooApi":{"id":"b3HchFCz6DvJpSyB","name":"Odoo account"}},"continueOnFail":true},{"parameters":{"resource":"custom","customResource":"product.template","fieldsToCreateOrUpdate":{"fields":[{"fieldName":"name","fieldValue":"={{ $json._original_syscom.name }}"},{"fieldName":"default_code","fieldValue":"={{ $json['default code'] }}"},{"fieldName":"barcode","fieldValue":"={{ $('Store Original State').item.json._original_syscom.barcode }}"},{"fieldName":"list_price","fieldValue":"={{ $json['List price'] }}"},{"fieldName":"standard_price","fieldValue":"={{ $json['Standard price'] }}"},{"fieldName":"x_studio_marca","fieldValue":"={{ $json.Marca }}"},{"fieldName":"categ_id","fieldValue":"={{ 503 }}"},{"fieldName":"uom_id","fieldValue":"=1"},{"fieldName":"unspsc_code_id","fieldValue":"={{ $json._search_results[0].id }}"},{"fieldName":"property_account_income_id","fieldValue":"={{ 145 }}"},{"fieldName":"property_account_expense_id","fieldValue":"={{ 128 }}"},{"fieldName":"image_1920","fieldValue":"={{ $json.image_base64 }}"},{"fieldName":"uom_po_id","fieldValue":"={{ $json.uom_po_id || 1 }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[7072,-200],"id":"5da37bf6-1df4-4840-8e52-812fc2b8ca22","name":"Create an item","credentials":{"odooApi":{"id":"b3HchFCz6DvJpSyB","name":"Odoo account"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5329d39-f6db-471a-8ce9-d60e447c0fc8","leftValue":"={{ $json['Imagen Portada'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6176,-128],"id":"4210f917-fb49-4343-8cd1-372d2ed81485","name":"has Image URL?"},{"parameters":{"url":"={{ $json['Imagen Portada'] }}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6400,-224],"id":"cab9cfeb-f6c9-409c-bcda-9a4a151c7044","name":"Download Image"},{"parameters":{"operation":"binaryToPropery","destinationKey":"image_base64","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[6624,-224],"id":"a3f7a4e8-a6fa-4260-aeb8-0d7eb6a4f1d7","name":"Convert to base64"},{"parameters":{"jsCode":"// Sin imagen — toma datos del item actual (Edit Fields)\nconst productData = $input.item.json;\n\nconst finalProduct = {\n    name: productData.name,\n    default_code: productData.default_code,\n    barcode: productData.barcode,\n    list_price: productData.list_price,\n    standard_price: productData.standard_price,\n    marca: productData.marca,\n    categoria_nombre: productData.categoria_nombre,\n    unidad_de_medida_nombre: productData.unidad_de_medida_nombre,\n    total_existencia: productData.total_existencia,\n    sat_key: productData.sat_key,\n    producto_id_syscom: productData.producto_id_syscom,\n    property_account_income_id: productData.property_account_income_id,\n    property_account_expense_id: productData.property_account_expense_id,\n    l10n_mx_edi_unspsc_code_id: productData.l10n_mx_edi_unspsc_code_id,\n    image_1920: null\n};\n\nconsole.log('Producto sin imagen:', finalProduct.default_code);\nreturn { json: finalProduct };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6848,-56],"id":"c906345c-d5fe-4321-85d0-bbf68581ca3a","name":"No Image Data"},{"parameters":{"jsCode":"// Store Original State - Preserva TODO el estado original\n// Este es el nodo más importante del flujo\n\nreturn items.map((item, index) => {\n    // Capturamos absolutamente TODO lo que viene de Syscom\n    const syscomData = {\n        // Identificadores principales\n        barcode: item.json.barcode,\n        default_code: item.json.default_code,\n        name: item.json.name,\n        \n        // Información de precios\n        list_price: item.json.list_price,\n        standard_price: item.json.standard_price,\n        \n        // Categorización y clasificación\n        categoria_nombre: item.json.categoria_nombre,\n        familia_nombre: item.json.familia_nombre,\n        unidad_de_medida_nombre: item.json.unidad_de_medida_nombre,\n        \n        // Inventario\n        total_existencia: item.json.total_existencia,\n        \n        // Información fiscal\n        sat_key: item.json.sat_key,\n        \n        // Multimedia\n        img_portada: item.json.img_portada,\n        \n        // Marca y metadatos\n        marca: item.json.marca,\n        producto_id_syscom: item.json.producto_id_syscom,\n        \n        // Cuentas contables\n        property_account_income_id: item.json.property_account_income_id,\n        property_account_expense_id: item.json.property_account_expense_id\n    };\n    \n    // Creamos una estructura que preservará todo durante el flujo\n    const stateContainer = {\n        // Los datos originales van en un contenedor protegido\n        _original_syscom: syscomData,\n        \n        // Campo para el código SAT a buscar\n        sat_key_to_search: item.json.sat_key,\n        \n        // Campo para el SKU a buscar en Odoo\n        sku_to_search: item.json.default_code,\n        \n        // Metadata del procesamiento\n        _processing: {\n            timestamp: new Date().toISOString(),\n            item_index: index,\n            current_step: 'original_stored'\n        },\n        \n        // Contenedor para resultados de búsquedas\n        _search_results: {}\n    };\n    \n    console.log(`✅ Estado original guardado para SKU: ${syscomData.default_code}`);\n    console.log(`   Campos preservados: ${Object.keys(syscomData).length}`);\n    \n    return { json: stateContainer };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4384,-296],"id":"04b800c2-f53a-49c4-8c76-1b2943c16918","name":"Store Original State"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Enrich with SAT — seguro contra null y formatos distintos\nconst item = $json;                 // item actual\nconst res  = item.result ?? item._search_results ?? null;\n\nlet sat_id = null;\n\nif (res !== null && res !== undefined) {\n  if (typeof res === 'number' || typeof res === 'string') {\n    // La API devolvió el ID directo (p.ej. 43201803)\n    sat_id = res;\n  } else if (typeof res === 'object') {\n    // La API devolvió objeto; prueba rutas posibles sin romper si son null\n    const candidate =\n      (res.sat_code ?? res.data?.sat_code ?? res.id ?? res.data?.id ?? null);\n\n    if (candidate !== null && candidate !== undefined) {\n      sat_id = (typeof candidate === 'object')\n        ? (candidate?.id ?? null)\n        : candidate;\n    }\n  }\n}\n\n// Fallbacks si no vino nada en result\nif (!sat_id) sat_id = item.sat_key_to_search ?? item.sat_key ?? null;\n\nconsole.log(\n  `[SAT] default_code=${item.default_code || item._original_syscom?.default_code || 's/i'} -> sat_id=${sat_id ?? 'NONE'}`\n);\n\nreturn {\n  json: {\n    ...item,\n    _search_results: res ?? null,\n    sat_key: sat_id ?? null,\n    sat_found: Boolean(sat_id),\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4832,-464],"id":"53d23bc0-cac5-45b3-8693-984f050bb2fe","name":"Enrich with SAT"},{"parameters":{"jsCode":"// Control de Lotes Mejorado\nconst items_procesados = [];\nconst TAMANO_LOTE = 15; // Reducido para servidor 2GB RAM // Procesar 60 productos a la vez\n\n// Procesar items en lotes\nfor (let i = 0; i < items.length; i += TAMANO_LOTE) {\n    const lote = items.slice(i, i + TAMANO_LOTE);\n    const numeroLote = Math.floor(i / TAMANO_LOTE) + 1;\n    \n    console.log(`📦 Procesando lote ${numeroLote} con ${lote.length} productos`);\n    \n    // Agregar metadata a cada producto del lote\n    const loteConMetadata = lote.map((item, indexEnLote) => ({\n        json: {\n            ...item.json,\n            _batch_info: {\n                lote_numero: numeroLote,\n                posicion_en_lote: indexEnLote + 1,\n                tamano_lote: lote.length,\n                indice_global: i + indexEnLote + 1,\n                total_items: items.length\n            }\n        }\n    }));\n    \n    items_procesados.push(...loteConMetadata);\n    \n    // Log de progreso\n    const porcentaje = ((i + lote.length) / items.length * 100).toFixed(1);\n    console.log(`✅ Progreso: ${porcentaje}% completado`);\n}\n\nreturn items_procesados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3936,-296],"id":"93b09fe6-c038-43b2-9aa2-bf5435438d01","name":"Control por lotes"},{"parameters":{"jsCode":"// Error Handler - Maneja errores sin detener todo el flujo\n// Coloca este nodo para capturar errores de Update/Create\n\nreturn items.map(item => {\n    const producto = item.json;\n    const error = item.error;\n    \n    // Si no hay error, el producto se procesó exitosamente\n    if (!error) {\n        console.log(`✅ Producto procesado: ${producto.default_code}`);\n        return { \n            json: {\n                ...producto,\n                _status: 'success',\n                _processed_at: new Date().toISOString()\n            }\n        };\n    }\n    \n    // Si hay error, lo registramos pero no detenemos el flujo\n    console.error(`❌ Error procesando ${producto.default_code}:`, error.message);\n    \n    // Determinar el tipo de error y si es recuperable\n    const esErrorRecuperable = \n        error.message.includes('timeout') ||\n        error.message.includes('ECONNRESET') ||\n        error.message.includes('429');  // Rate limit\n    \n    // Registrar el error para análisis posterior\n    const registroError = {\n        ...producto,\n        _status: 'error',\n        _error: {\n            mensaje: error.message,\n            tipo: error.name,\n            recuperable: esErrorRecuperable,\n            timestamp: new Date().toISOString(),\n            detalles_completos: error.stack\n        },\n        _batch_info: producto._batch_info,\n        _retry_count: (producto._retry_count || 0) + 1\n    };\n    \n    // Si es recuperable y no hemos excedido los reintentos, marcarlo para reintento\n    if (esErrorRecuperable && registroError._retry_count <= 3) {\n        console.log(`🔄 Marcando para reintento (intento ${registroError._retry_count}/3)`);\n        registroError._status = 'pending_retry';\n    }\n    \n    return { json: registroError };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7296,-512],"id":"b573616b-7889-4920-ab89-20ed816cbcaa","name":"Error handler"},{"parameters":{"jsCode":"// Error Handler - Maneja errores sin detener todo el flujo\n// Coloca este nodo para capturar errores de Update/Create\n\nreturn items.map(item => {\n    const producto = item.json;\n    const error = item.error;\n    \n    // Si no hay error, el producto se procesó exitosamente\n    if (!error) {\n        console.log(`✅ Producto procesado: ${producto.default_code}`);\n        return { \n            json: {\n                ...producto,\n                _status: 'success',\n                _processed_at: new Date().toISOString()\n            }\n        };\n    }\n    \n    // Si hay error, lo registramos pero no detenemos el flujo\n    console.error(`❌ Error procesando ${producto.default_code}:`, error.message);\n    \n    // Determinar el tipo de error y si es recuperable\n    const esErrorRecuperable = \n        error.message.includes('timeout') ||\n        error.message.includes('ECONNRESET') ||\n        error.message.includes('429');  // Rate limit\n    \n    // Registrar el error para análisis posterior\n    const registroError = {\n        ...producto,\n        _status: 'error',\n        _error: {\n            mensaje: error.message,\n            tipo: error.name,\n            recuperable: esErrorRecuperable,\n            timestamp: new Date().toISOString(),\n            detalles_completos: error.stack\n        },\n        _batch_info: producto._batch_info,\n        _retry_count: (producto._retry_count || 0) + 1\n    };\n    \n    // Si es recuperable y no hemos excedido los reintentos, marcarlo para reintento\n    if (esErrorRecuperable && registroError._retry_count <= 3) {\n        console.log(`🔄 Marcando para reintento (intento ${registroError._retry_count}/3)`);\n        registroError._status = 'pending_retry';\n    }\n    \n    return { json: registroError };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7296,-200],"id":"3b6cdb76-25f9-4768-adf5-ea8c81498297","name":"Error handler1"},{"parameters":{"jsCode":"// Checkpoint Recovery - pasa datos al siguiente nodo sin modificar\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7520,-512],"id":"76237542-1d8b-4318-a004-4054e5fb63c7","name":"Check point Recovery"},{"parameters":{"jsCode":"// Checkpoint Recovery1 - pasa datos al siguiente nodo sin modificar\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7520,-200],"id":"3c5ae06d-9c54-4404-b1a5-b366638128aa","name":"Check point Recovery1"},{"parameters":{"jsCode":"// Nodo: Process Summary\nconst estadisticas = {\n    inicio: $('Init Search Terms').item.json.timestamp_inicio,\n    fin: new Date().toISOString(),\n    productos_procesados: 0,\n    productos_creados: 0,\n    productos_actualizados: 0,\n    productos_con_error: 0,\n    productos_con_imagen: 0,\n    productos_sin_imagen: 0\n};\n\n// Contar resultados\nitems.forEach(item => {\n    if (item.json._status === 'success') {\n        estadisticas.productos_procesados++;\n        if (item.json.operation === 'create') {\n            estadisticas.productos_creados++;\n        } else {\n            estadisticas.productos_actualizados++;\n        }\n        if (item.json.has_image) {\n            estadisticas.productos_con_imagen++;\n        } else {\n            estadisticas.productos_sin_imagen++;\n        }\n    } else if (item.json._status === 'error') {\n        estadisticas.productos_con_error++;\n    }\n});\n\n// Calcular tiempo transcurrido\nconst tiempoTotal = (new Date(estadisticas.fin) - new Date(estadisticas.inicio)) / 1000 / 60;\nestadisticas.tiempo_minutos = tiempoTotal.toFixed(2);\nestadisticas.productos_por_minuto = (estadisticas.productos_procesados / tiempoTotal).toFixed(1);\n\nconsole.log(\"📊 RESUMEN DE PROCESAMIENTO:\");\nconsole.log(`✅ Procesados: ${estadisticas.productos_procesados}`);\nconsole.log(`🆕 Creados: ${estadisticas.productos_creados}`);\nconsole.log(`🔄 Actualizados: ${estadisticas.productos_actualizados}`);\nconsole.log(`❌ Errores: ${estadisticas.productos_con_error}`);\nconsole.log(`⏱️ Tiempo: ${estadisticas.tiempo_minutos} minutos`);\nconsole.log(`⚡ Velocidad: ${estadisticas.productos_por_minuto} productos/minuto`);\n\nreturn [{ json: estadisticas }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7744,-200],"id":"dcea5282-82c6-43d1-b8ce-150c0f10775f","name":"Code"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Normaliza el default_code del ÍTEM ACTUAL (sin clonar el 0)\nconst idx = $itemIndex;                          // índice del ítem actual\nconst mapItems   = $items(\"Map Syscom Odoo\") || [];\nconst storeItems = $items(\"Store Original State\") || [];\n\nconst fromMap   = mapItems[idx]?.json?.default_code;\nconst fromStore = storeItems[idx]?.json?._original_syscom?.default_code;\n\nconst dcode =\n  $json.default_code ??\n  fromMap ??\n  fromStore ??\n  \"\";\n\nconsole.log(`[Code1] idx=${idx} default_code=${dcode}`);\n\nreturn {\n  json: {\n    ...$json,\n    default_code: String(dcode || \"\")\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5056,-464],"id":"09ddd785-fbd3-4637-b2e8-8370665d887e","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c540add-815b-47d6-8177-36601121f61a","leftValue":"={{ $('Get many items').item.json?.id }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5504,-464],"id":"cfe8391a-e797-4866-b4ce-10adcc3b33b9","name":"If"},{"parameters":{"resource":"custom","customResource":"product.template","operation":"getAll","options":{},"filterRequest":{"filter":[{"fieldName":"=default_code","value":"={{ $json.default_code }}"}]}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[5280,-464],"id":"58640098-9575-40ac-b3a8-bb74878e7f62","name":"Get many items","alwaysOutputData":true,"executeOnce":false,"credentials":{"odooApi":{"id":"b3HchFCz6DvJpSyB","name":"Odoo account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"4b1217d1-a57d-4fca-8912-76940d185db0","name":"Nombre","value":"=","type":"string"},{"id":"458b982d-122c-4878-9c38-364d61a16d9f","name":"default code","value":"={{ $json._original_syscom.default_code }}","type":"string"},{"id":"34e9665e-64b5-4754-bbe1-2ee8ab648e4b","name":"Existencia","value":"={{ $json._original_syscom.total_existencia }}","type":"string"},{"id":"a2037461-7aed-4a44-bafc-3ec531d37daa","name":"Nombre","value":"={{ $json._original_syscom.name }}","type":"string"},{"id":"9ca4db00-beba-4552-8bad-45f36e3e4faf","name":"Imagen Portada","value":"={{ $json._original_syscom.img_portada }}","type":"string"},{"id":"a820659c-f9fe-4fa5-95d7-fb93e0d630f0","name":"Categoria","value":"={{ $json._original_syscom.categoria_nombre }}","type":"string"},{"id":"dea4f0e1-7fd6-453c-97d2-ce718fca9b07","name":"Familia","value":"={{ $json._original_syscom.familia_nombre }}","type":"string"},{"id":"ab6a3ea0-e52a-4d26-b334-516bf16abc35","name":"Barcode","value":"={{ $json._original_syscom.barcode }}","type":"string"},{"id":"6582af88-cd9e-440f-8cd8-d70635782ffa","name":"Standard price","value":"={{ $json._original_syscom.standard_price }}","type":"string"},{"id":"5e6c4fba-cbb8-408f-b1e9-c50f59c121c6","name":"Sat key","value":"={{ $json.sat_key_to_search }}","type":"string"},{"id":"d8bad3f8-af33-4c73-8fe2-fb5d972c26fa","name":"List price","value":"={{ $json._original_syscom.list_price }}","type":"string"},{"id":"753c50ee-99f3-49bc-868a-7fc7c6f119f4","name":"Marca","value":"={{ $json._original_syscom.marca }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5952,-200],"id":"0bcc1219-a2d6-4978-9ac3-25277e215db8","name":"Edit Fields"},{"parameters":{"mode":"passThrough","combineBy":"combineByPosition","options":{},"numberInputs":1},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5728,-200],"id":"ef725d9f-1fdb-4bcf-8c8b-52b512def8d2","name":"Merge"},{"parameters":{"mode":"passThrough","combineBy":"combineByPosition","options":{},"numberInputs":1},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[6848,-296],"id":"b53ae539-ed4c-4291-8ae4-0d4a6b0d838b","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"91f959c2-09c2-4d40-8075-83018ddf5ab2","leftValue":"={{ $('HTTP Syscom Products').all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7968,-296],"id":"21a55bf8-de22-43e9-991d-6eed31cbf117","name":"If1"},{"parameters":{"jsCode":"\n// Incrementar Pagina - v3: memory-safe\nconst httpResp = $('HTTP Syscom Products').item.json;\nconst initState = $('Init Search Terms').first().json;\nconst globalState = $getWorkflowStaticData('global');\n\nconst currentPage = Number(httpResp.pagina) || 1;\nconst nextPage = currentPage + 1;\n\nconst pagesThisRun = (globalState._pagesThisRun || 0) + 1;\nglobalState._pagesThisRun = pagesThisRun;\nconst maxPages = initState.max_pages_per_run || 50;\n\nconsole.log(`📄 Página ${currentPage} → ${nextPage} | Run: ${pagesThisRun}/${maxPages}`);\n\nreturn [{\n  json: {\n    page: nextPage,\n    access_token: $('Get Syscom Token').first().json.access_token,\n    categoria_actual: initState.categoria_actual,\n    categoria_actual_index: initState.categoria_actual_index ?? 0,\n    categorias: initState.categorias,\n    productos_por_pagina: 20,\n    pages_this_run: pagesThisRun,\n    max_pages_per_run: maxPages\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8192,-224],"id":"aeca6a9d-b464-49e7-8bea-c0598fd6414d","name":"Incremetar Pagina"},{"parameters":{"assignments":{"assignments":[{"id":"3a2b18be-c435-48ca-899c-ad20be777313","name":"access_token","value":"={{ $('Init Search Terms').first().json.access_token }}","type":"string"},{"id":"97ece655-cdf0-49d1-a448-49cbedc560f3","name":"page","value":"={{ $('Init Search Terms').first().json.page }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7744,-512],"id":"d9b29bf5-1296-4720-8752-3ced43737d83","name":"Unir Ramas"},{"parameters":{"assignments":{"assignments":[{"id":"dfc3604c-1a38-4bde-957b-45c9cc104a99","name":"access_token","value":"={{ $json.access_token }}","type":"string"},{"id":"60dc4e30-bd52-4ebb-9f98-9cbf7905dfd1","name":"page","value":"1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,-224],"id":"a7f15610-8541-4943-b279-ffdf249405f8","name":"Crear Estado Inicial"},{"parameters":{"unit":"seconds","amount":3},"id":"352fdc70-2903-4dc1-b5eb-83fe568bf94f","name":"Wait entre paginas","type":"n8n-nodes-base.wait","typeVersion":1,"position":[8400,-224],"webhookId":"03c41d72-fcfc-4716-91ea-bd970c1a4466"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3760724-6f38-4272-a461-88e2058371ef","leftValue":"={{ $json._avanzar_categoria }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"7bb64863-7a68-4ebd-a0d5-8d37deccf38b","name":"IF: ¿Avanzar categoria?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3712,-100]},{"parameters":{"jsCode":"\nconst allCats = $('Init Search Terms').first().json.categorias;\nconst currentIdx = Number($input.item.json.categoria_actual_index) || 0;\nconst nextIdx = currentIdx + 1;\nconst access_token = $('Get Syscom Token').first().json.access_token;\nconst maxPages = $('Init Search Terms').first().json.max_pages_per_run || 50;\n\n// Guardar estado en staticData\nconst state = $getWorkflowStaticData('global');\n\nif (nextIdx >= allCats.length) {\n    // Ciclo completo - resetear para próxima noche\n    state.categoryIndex = 0;\n    state.page = 1;\n    state.lastCompletedCycle = new Date().toISOString();\n    console.log(`🏁 Catálogo completo sincronizado. Próximo ciclo empezará desde el inicio.`);\n    return [{ json: { _fin_catalogo: true, total_categorias: allCats.length } }];\n}\n\n// Avanzar a siguiente categoría\nstate.categoryIndex = nextIdx;\nstate.page = 1;\nstate.lastSave = new Date().toISOString();\n\nconsole.log(`🔄 [${currentIdx}] ${allCats[currentIdx]?.nombre} → [${nextIdx}] ${allCats[nextIdx]?.nombre}`);\n\nreturn [{ json: {\n    _fin_catalogo: false,\n    categoria_actual_index: nextIdx,\n    categoria_actual: allCats[nextIdx],\n    page: 1,\n    access_token: access_token,\n    productos_por_pagina: 20,\n    pages_this_run: 0,\n    max_pages_per_run: maxPages\n}}];\n"},"id":"e4c08089-1c6a-421e-a71f-4e34a6b42326","name":"Avanzar Categoria","type":"n8n-nodes-base.code","typeVersion":2,"position":[3936,-100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3de0d325-12af-4aa7-9ac7-cded3abdcad7","leftValue":"={{ $json._fin_catalogo }}","rightValue":false,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"1c78873f-6630-4b8d-9f9a-086a3446ab06","name":"¿Mas categorias?","type":"n8n-nodes-base.if","typeVersion":2,"position":[4160,-100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"543390ee-b463-4826-9650-56b829bbdc50","leftValue":"={{ $json.pages_this_run }}","rightValue":"={{ $json.max_pages_per_run }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"3d672ab6-e828-462b-9355-9b0d0d7eccb3","name":"IF: ¿Límite de páginas?","type":"n8n-nodes-base.if","typeVersion":2,"position":[8430,-350]},{"parameters":{"jsCode":"\n// Guardar Estado v9 - AQUÍ se avanza la página (no en Init)\nconst state = $getWorkflowStaticData('global');\nif (state._savedThisRun === true) {\n    return [{ json: { logged: false }}];\n}\nstate._savedThisRun = true;\nconst startPage = state._startPage || 1;\nconst PAGES_PER_RUN = 20;\nstate.page = startPage + PAGES_PER_RUN;\nstate.lastSave = new Date().toISOString();\nconsole.log('💾 Guardado: cat[' + state.categoryIndex + '] → pág ' + state.page);\nreturn [{ json: { logged: true, nextPage: state.page, categoryIndex: state.categoryIndex }}];\n"},"id":"40ba7c3c-a6f6-422f-8933-2f5100bdc3dc","name":"Guardar Estado","type":"n8n-nodes-base.code","typeVersion":2,"position":[8650,-350]},{"id":"f2936b66-824b-4407-bc47-159375cfc420","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,200],"parameters":{"path":"syscom-trigger-run","httpMethod":"POST","responseMode":"onReceived","options":{}},"webhookId":"4879fabb-9de9-4b22-9152-1ffba2f2b8af"}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Syscom Token","type":"main","index":0}]]},"Get Syscom Token":{"main":[[{"node":"Crear Estado Inicial","type":"main","index":0}]]},"Map Syscom Odoo":{"main":[[{"node":"Store Original State","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Syscom Token","type":"main","index":0}]]},"Init Search Terms":{"main":[[{"node":"HTTP Syscom Products","type":"main","index":0}]]},"HTTP Syscom Products":{"main":[[{"node":"Process Pagination","type":"main","index":0}]]},"Process Pagination":{"main":[[{"node":"Control por lotes","type":"main","index":0}]]},"Search SAT Code":{"main":[[{"node":"Enrich with SAT","type":"main","index":0}]]},"Update an item":{"main":[[{"node":"Error handler","type":"main","index":0}]]},"Create an item":{"main":[[{"node":"Error handler1","type":"main","index":0}]]},"has Image URL?":{"main":[[{"node":"Download Image","type":"main","index":0}],[{"node":"No Image Data","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Convert to base64","type":"main","index":0}]]},"Convert to base64":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"No Image Data":{"main":[[{"node":"Create an item","type":"main","index":0}]]},"Store Original State":{"main":[[{"node":"Search SAT Code","type":"main","index":0}]]},"Enrich with SAT":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Control por lotes":{"main":[[{"node":"Map Syscom Odoo","type":"main","index":0}]]},"Error handler":{"main":[[{"node":"Check point Recovery","type":"main","index":0}]]},"Error handler1":{"main":[[{"node":"Check point Recovery1","type":"main","index":0}]]},"Check point Recovery1":{"main":[[{"node":"Guardar Estado","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Get many items","type":"main","index":0}]]},"If":{"main":[[{"node":"Update an item","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"Get many items":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"has Image URL?","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Create an item","type":"main","index":0}]]},"Check point Recovery":{"main":[[{"node":"Guardar Estado","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Incremetar Pagina","type":"main","index":0}]]},"Incremetar Pagina":{"main":[[{"node":"IF: ¿Límite de páginas?","type":"main","index":0}]]},"Unir Ramas":{"main":[[{"node":"If1","type":"main","index":0}]]},"Crear Estado Inicial":{"main":[[{"node":"Init Search Terms","type":"main","index":0}]]},"IF: ¿Avanzar categoria?":{"main":[[{"node":"Avanzar Categoria","type":"main","index":0}],[{"node":"Control por lotes","type":"main","index":0}]]},"Avanzar Categoria":{"main":[[{"node":"¿Mas categorias?","type":"main","index":0}]]},"IF: ¿Límite de páginas?":{"main":[[{"node":"Guardar Estado","type":"main","index":0}],[]]},"Guardar Estado":{"main":[[]]},"Webhook Trigger":{"main":[[{"node":"Get Syscom Token","type":"main","index":0}]]}},"authors":"Felipe De Alba","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-20T18:36:03.988Z","id":269,"workflowId":"ylxPHHe9ymC49FTO","versionId":"42958915-d883-43a0-95d9-098cb8f5c82a","event":"activated","userId":"0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"},{"createdAt":"2026-03-20T18:36:03.961Z","id":268,"workflowId":"ylxPHHe9ymC49FTO","versionId":"42958915-d883-43a0-95d9-098cb8f5c82a","event":"deactivated","userId":"0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"}]}}