workflow/syscom_odoo_sync.json
{
  "name": "Odoo/syscom- depurado",
  "description": "Sincronización catálogo Syscom → Odoo para empresa de seguridad electrónica",
  "nodes": [
    {
      "parameters": {},
      "id": "dfea67db-ffff-4948-abf7-6c02489123e8",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2592,
        -320
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://developers.syscom.mx/oauth/token",
        "options": {
          "timeout": 15000
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "client_id",
              "value": "zq2u2Zr1VFGam5IzAg5UolwmeSnsChP7"
            },
            {
              "name": "client_secret",
              "value": "<<SYSCOM_SECRET>>"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        }
      },
      "id": "c36f0ae4-dd7d-4ea5-ad69-93381542e8d4",
      "name": "Get Syscom Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2816,
        -224
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const p = $input.item.json;\n\n// util\nconst num = (v, d = 0) => Number.isFinite(Number(v)) ? Number(v) : d;\nconst str = (v, d = '') => String(v ?? d);\n\n// precios\nconst costo = num(p.precios?.precio_descuento ?? p.precio, 0);\nconst costoConIva = costo * 1.16;\nconst listPriceCalc = costo > 0 ? costoConIva / 0.7 : 0;\n\n// categoría: toma la de mayor nivel; si no hay, default\nlet categoria_nombre = 'Syscom General';\nlet familia_nombre = '';\nif (Array.isArray(p.categorias) && p.categorias.length) {\n  const ordenadas = [...p.categorias].sort((a,b) => (a.nivel ?? 0) - (b.nivel ?? 0));\n  categoria_nombre = ordenadas[0]?.nombre ?? 'Syscom General';\n  familia_nombre = ordenadas[2]?.nombre ?? ordenadas[1]?.nombre ?? categoria_nombre;\n}\n\nconst newItem = {\n  // identificadores robustos\n  barcode: str(p.producto_id ?? p.sku ?? p.modelo ?? ''),\n  default_code: str(p.modelo ?? p.sku ?? p.producto_id ?? ''),\n  name: str(p.titulo, 'Producto sin nombre'),\n\n  // precios\n  list_price: num(p.precios?.precio_especial, listPriceCalc),\n  standard_price: costo,\n\n  // otros campos con fallback\n  categoria_nombre,\n  familia_nombre,\n  unidad_de_medida_nombre: str(p.unidad_de_medida?.nombre, 'Unidad(es)'),\n  total_existencia: num(p.total_existencia, 0),\n  sat_key: str(p.sat_key ?? p.clave_sat ?? null, ''),\n  img_portada: str(p.img_portada, ''),\n  marca: str(p.marca, ''),\n\n  // metadatos\n  producto_id_syscom: p.producto_id ?? null,\n  property_account_income_id: 1,\n  property_account_expense_id: 2,\n};\n\nreturn { json: newItem };\n"
      },
      "id": "338ef925-9ae3-4610-b02b-8415559d680d",
      "name": "Map Syscom Odoo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        -296
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 17,18,19,20,21,22,23,0,1,2,3,4 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2592,
        -128
      ],
      "id": "8e5c9c65-456e-4b67-aeef-ae7576f849a1",
      "name": "Schedule Trigger",
      "notesInFlow": true,
      "notes": "Timezone: \"America/Mexico_City\" o \"UTC-6\""
    },
    {
      "parameters": {
        "jsCode": "\n// Init Search Terms v9 - NO pre-guarda la página (evita avance fantasma en errores)\nconst CATS = [\"Videovigilancia\",\"Redes\",\"Radiocomunicación\",\"Automatización e Intrusión\",\"Cableado Estructurado\",\"Control de Acceso\",\"Energía\",\"Detección de Incendio\",\"Sonido y Video\",\"Herramientas\"];\nconst PAGES_PER_RUN = 20;\nconst state = $getWorkflowStaticData('global');\n\n// Avanzar categoría si el run anterior encontró página vacía\nif (state._foundEmptyPage === true) {\n    const prevCat = state.categoryIndex || 0;\n    const nextCat = (prevCat + 1) % CATS.length;\n    state.categoryIndex = nextCat;\n    state.page = 1;\n    state._foundEmptyPage = false;\n    if (nextCat === 0) {\n        state.lastCompletedCycle = new Date().toISOString();\n        console.log('🏁 CATÁLOGO COMPLETO - reiniciando ciclo');\n    } else {\n        console.log('➡️  Cat[' + prevCat + '] → Cat[' + nextCat + '] ' + CATS[nextCat]);\n    }\n}\n\nconst catIdx = Math.max(0, Math.min(Number(state.categoryIndex) || 0, CATS.length - 1));\nconst startPage = Math.max(1, Number(state.page) || 1);\n\n// Guardar referencia para que Guardar Estado sepa hasta dónde avanzar\nstate._startPage = startPage;\nstate._savedThisRun = false;\n\nconsole.log('▶️  Cat[' + catIdx + '] \"' + CATS[catIdx] + '\" páginas ' + startPage + '–' + (startPage + PAGES_PER_RUN - 1));\n\nconst access_token = $('Get Syscom Token').first().json.access_token;\nconst items = [];\nfor (let p = startPage; p < startPage + PAGES_PER_RUN; p++) {\n    items.push({ json: {\n        page: p,\n        access_token,\n        categoria_actual: { nombre: CATS[catIdx] },\n        categoria_actual_index: catIdx,\n        categorias: CATS,\n        productos_por_pagina: 20,\n        start_page: startPage\n    }});\n}\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        -224
      ],
      "id": "6a121728-aaea-4aac-8eb3-ab6aa892fd66",
      "name": "Init Search Terms"
    },
    {
      "parameters": {
        "url": "https://developers.syscom.mx/api/v1/productos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "busqueda",
              "value": "={{ $json.categoria_actual.nombre }}"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            },
            {
              "name": "moneda",
              "value": "MXN"
            },
            {
              "name": "per_page",
              "value": "={{ $json.productos_por_pagina }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 500
            }
          },
          "timeout": 30000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 5000
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3488,
        -224
      ],
      "id": "fa693676-409d-42dd-a9c4-39db6516af78",
      "name": "HTTP Syscom Products"
    },
    {
      "parameters": {
        "jsCode": "\n// Process Pagination v10 - runOnceForAllItems, procesa todas las respuestas HTTP\nconst state = $getWorkflowStaticData('global');\nconst allHttpResponses = $input.all();           // 20 respuestas HTTP (una por página)\nconst allPageItems    = $('Init Search Terms').all(); // 20 items originales (page, cat, token)\n\nconst results = [];\n\nfor (let i = 0; i < allHttpResponses.length; i++) {\n    const respuesta  = allHttpResponses[i].json;\n    const pageItem   = allPageItems[i] ? allPageItems[i].json : allPageItems[0].json;\n    const productos  = respuesta.productos || [];\n    const pageNum    = pageItem.page;\n    const catObj     = pageItem.categoria_actual;  // { nombre: '...' }\n    const catIdx     = pageItem.categoria_actual_index;\n    const token      = pageItem.access_token;\n\n    if (productos.length === 0) {\n        state._foundEmptyPage = true;\n        console.log('⚠️  Pág vacía: ' + pageNum);\n        continue;  // no agregar items al resultado\n    }\n\n    console.log('📥 Pág ' + pageNum + ': ' + productos.length + ' productos');\n    for (const p of productos) {\n        results.push({\n            json: {\n                ...p,\n                categoria_actual: catObj,\n                categoria_actual_index: catIdx,\n                access_token: token,\n                _pagina: pageNum\n            }\n        });\n    }\n}\n\nif (results.length === 0) {\n    console.log('⚠️  Todas las páginas vacías en este batch');\n    // Retornar item dummy para que el flujo no colapse\n    return [{ json: { _empty_batch: true, _pages: allHttpResponses.length } }];\n}\n\nconsole.log('✅ Total productos en batch: ' + results.length);\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        -296
      ],
      "id": "9d94f4f4-b5b3-460e-ade7-f339ac0d23a3",
      "name": "Process Pagination"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ocean-tech-0326.odoo.com/jsonrpc",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"ocean-tech-0326\",\n      2,\n      \"<<ODOO_PASSWORD>>\",\n      \"product.unspsc.code\",\n      \"search_read\",\n      [\n        [\n          [\"code\", \"=\",{{ $json.sat_key_to_search }} ]\n        ]\n      ],\n      {\n        \"fields\": [\"id\"],\n        \"limit\": 1\n      }\n    ]\n  },\n  \"id\": null\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 2000
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4608,
        -464
      ],
      "id": "e65933e0-0a40-4801-87b8-f27b0f7e1f7b",
      "name": "Search SAT Code",
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.template",
        "operation": "update",
        "customResourceId": "={{ $('Get many items').item.json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "standard_price",
              "fieldValue": "={{ $json.standard_price }}"
            },
            {
              "fieldName": "=list_price",
              "fieldValue": "={{ $json.list_price }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        7072,
        -512
      ],
      "id": "115c40ff-8bca-446c-82a1-63a7574de172",
      "name": "Update an item",
      "credentials": {
        "odooApi": {
          "id": "b3HchFCz6DvJpSyB",
          "name": "Odoo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.template",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "name",
              "fieldValue": "={{ $json._original_syscom.name }}"
            },
            {
              "fieldName": "default_code",
              "fieldValue": "={{ $json['default code'] }}"
            },
            {
              "fieldName": "barcode",
              "fieldValue": "={{ $('Store Original State').item.json._original_syscom.barcode }}"
            },
            {
              "fieldName": "list_price",
              "fieldValue": "={{ $json['List price'] }}"
            },
            {
              "fieldName": "standard_price",
              "fieldValue": "={{ $json['Standard price'] }}"
            },
            {
              "fieldName": "x_studio_marca",
              "fieldValue": "={{ $json.Marca }}"
            },
            {
              "fieldName": "categ_id",
              "fieldValue": "={{ 503 }}"
            },
            {
              "fieldName": "uom_id",
              "fieldValue": "=1"
            },
            {
              "fieldName": "unspsc_code_id",
              "fieldValue": "={{ $json._search_results[0].id }}"
            },
            {
              "fieldName": "property_account_income_id",
              "fieldValue": "={{ 145 }}"
            },
            {
              "fieldName": "property_account_expense_id",
              "fieldValue": "={{ 128 }}"
            },
            {
              "fieldName": "image_1920",
              "fieldValue": "={{ $json.image_base64 }}"
            },
            {
              "fieldName": "uom_po_id",
              "fieldValue": "={{ $json.uom_po_id || 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        7072,
        -200
      ],
      "id": "5da37bf6-1df4-4840-8e52-812fc2b8ca22",
      "name": "Create an item",
      "credentials": {
        "odooApi": {
          "id": "b3HchFCz6DvJpSyB",
          "name": "Odoo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5329d39-f6db-471a-8ce9-d60e447c0fc8",
              "leftValue": "={{ $json['Imagen Portada'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6176,
        -128
      ],
      "id": "4210f917-fb49-4343-8cd1-372d2ed81485",
      "name": "has Image URL?"
    },
    {
      "parameters": {
        "url": "={{ $json['Imagen Portada'] }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6400,
        -224
      ],
      "id": "cab9cfeb-f6c9-409c-bcda-9a4a151c7044",
      "name": "Download Image"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "image_base64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        6624,
        -224
      ],
      "id": "a3f7a4e8-a6fa-4260-aeb8-0d7eb6a4f1d7",
      "name": "Convert to base64"
    },
    {
      "parameters": {
        "jsCode": "// Sin imagen — toma datos del item actual (Edit Fields)\nconst productData = $input.item.json;\n\nconst finalProduct = {\n    name: productData.name,\n    default_code: productData.default_code,\n    barcode: productData.barcode,\n    list_price: productData.list_price,\n    standard_price: productData.standard_price,\n    marca: productData.marca,\n    categoria_nombre: productData.categoria_nombre,\n    unidad_de_medida_nombre: productData.unidad_de_medida_nombre,\n    total_existencia: productData.total_existencia,\n    sat_key: productData.sat_key,\n    producto_id_syscom: productData.producto_id_syscom,\n    property_account_income_id: productData.property_account_income_id,\n    property_account_expense_id: productData.property_account_expense_id,\n    l10n_mx_edi_unspsc_code_id: productData.l10n_mx_edi_unspsc_code_id,\n    image_1920: null\n};\n\nconsole.log('Producto sin imagen:', finalProduct.default_code);\nreturn { json: finalProduct };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6848,
        -56
      ],
      "id": "c906345c-d5fe-4321-85d0-bbf68581ca3a",
      "name": "No Image Data"
    },
    {
      "parameters": {
        "jsCode": "// Store Original State - Preserva TODO el estado original\n// Este es el nodo más importante del flujo\n\nreturn items.map((item, index) => {\n    // Capturamos absolutamente TODO lo que viene de Syscom\n    const syscomData = {\n        // Identificadores principales\n        barcode: item.json.barcode,\n        default_code: item.json.default_code,\n        name: item.json.name,\n        \n        // Información de precios\n        list_price: item.json.list_price,\n        standard_price: item.json.standard_price,\n        \n        // Categorización y clasificación\n        categoria_nombre: item.json.categoria_nombre,\n        familia_nombre: item.json.familia_nombre,\n        unidad_de_medida_nombre: item.json.unidad_de_medida_nombre,\n        \n        // Inventario\n        total_existencia: item.json.total_existencia,\n        \n        // Información fiscal\n        sat_key: item.json.sat_key,\n        \n        // Multimedia\n        img_portada: item.json.img_portada,\n        \n        // Marca y metadatos\n        marca: item.json.marca,\n        producto_id_syscom: item.json.producto_id_syscom,\n        \n        // Cuentas contables\n        property_account_income_id: item.json.property_account_income_id,\n        property_account_expense_id: item.json.property_account_expense_id\n    };\n    \n    // Creamos una estructura que preservará todo durante el flujo\n    const stateContainer = {\n        // Los datos originales van en un contenedor protegido\n        _original_syscom: syscomData,\n        \n        // Campo para el código SAT a buscar\n        sat_key_to_search: item.json.sat_key,\n        \n        // Campo para el SKU a buscar en Odoo\n        sku_to_search: item.json.default_code,\n        \n        // Metadata del procesamiento\n        _processing: {\n            timestamp: new Date().toISOString(),\n            item_index: index,\n            current_step: 'original_stored'\n        },\n        \n        // Contenedor para resultados de búsquedas\n        _search_results: {}\n    };\n    \n    console.log(`✅ Estado original guardado para SKU: ${syscomData.default_code}`);\n    console.log(`   Campos preservados: ${Object.keys(syscomData).length}`);\n    \n    return { json: stateContainer };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4384,
        -296
      ],
      "id": "04b800c2-f53a-49c4-8c76-1b2943c16918",
      "name": "Store Original State"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Enrich with SAT — seguro contra null y formatos distintos\nconst item = $json;                 // item actual\nconst res  = item.result ?? item._search_results ?? null;\n\nlet sat_id = null;\n\nif (res !== null && res !== undefined) {\n  if (typeof res === 'number' || typeof res === 'string') {\n    // La API devolvió el ID directo (p.ej. 43201803)\n    sat_id = res;\n  } else if (typeof res === 'object') {\n    // La API devolvió objeto; prueba rutas posibles sin romper si son null\n    const candidate =\n      (res.sat_code ?? res.data?.sat_code ?? res.id ?? res.data?.id ?? null);\n\n    if (candidate !== null && candidate !== undefined) {\n      sat_id = (typeof candidate === 'object')\n        ? (candidate?.id ?? null)\n        : candidate;\n    }\n  }\n}\n\n// Fallbacks si no vino nada en result\nif (!sat_id) sat_id = item.sat_key_to_search ?? item.sat_key ?? null;\n\nconsole.log(\n  `[SAT] default_code=${item.default_code || item._original_syscom?.default_code || 's/i'} -> sat_id=${sat_id ?? 'NONE'}`\n);\n\nreturn {\n  json: {\n    ...item,\n    _search_results: res ?? null,\n    sat_key: sat_id ?? null,\n    sat_found: Boolean(sat_id),\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        -464
      ],
      "id": "53d23bc0-cac5-45b3-8693-984f050bb2fe",
      "name": "Enrich with SAT"
    },
    {
      "parameters": {
        "jsCode": "// Control de Lotes Mejorado\nconst items_procesados = [];\nconst TAMANO_LOTE = 15; // Reducido para servidor 2GB RAM // Procesar 60 productos a la vez\n\n// Procesar items en lotes\nfor (let i = 0; i < items.length; i += TAMANO_LOTE) {\n    const lote = items.slice(i, i + TAMANO_LOTE);\n    const numeroLote = Math.floor(i / TAMANO_LOTE) + 1;\n    \n    console.log(`📦 Procesando lote ${numeroLote} con ${lote.length} productos`);\n    \n    // Agregar metadata a cada producto del lote\n    const loteConMetadata = lote.map((item, indexEnLote) => ({\n        json: {\n            ...item.json,\n            _batch_info: {\n                lote_numero: numeroLote,\n                posicion_en_lote: indexEnLote + 1,\n                tamano_lote: lote.length,\n                indice_global: i + indexEnLote + 1,\n                total_items: items.length\n            }\n        }\n    }));\n    \n    items_procesados.push(...loteConMetadata);\n    \n    // Log de progreso\n    const porcentaje = ((i + lote.length) / items.length * 100).toFixed(1);\n    console.log(`✅ Progreso: ${porcentaje}% completado`);\n}\n\nreturn items_procesados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        -296
      ],
      "id": "93b09fe6-c038-43b2-9aa2-bf5435438d01",
      "name": "Control por lotes"
    },
    {
      "parameters": {
        "jsCode": "// Error Handler - Maneja errores sin detener todo el flujo\n// Coloca este nodo para capturar errores de Update/Create\n\nreturn items.map(item => {\n    const producto = item.json;\n    const error = item.error;\n    \n    // Si no hay error, el producto se procesó exitosamente\n    if (!error) {\n        console.log(`✅ Producto procesado: ${producto.default_code}`);\n        return { \n            json: {\n                ...producto,\n                _status: 'success',\n                _processed_at: new Date().toISOString()\n            }\n        };\n    }\n    \n    // Si hay error, lo registramos pero no detenemos el flujo\n    console.error(`❌ Error procesando ${producto.default_code}:`, error.message);\n    \n    // Determinar el tipo de error y si es recuperable\n    const esErrorRecuperable = \n        error.message.includes('timeout') ||\n        error.message.includes('ECONNRESET') ||\n        error.message.includes('429');  // Rate limit\n    \n    // Registrar el error para análisis posterior\n    const registroError = {\n        ...producto,\n        _status: 'error',\n        _error: {\n            mensaje: error.message,\n            tipo: error.name,\n            recuperable: esErrorRecuperable,\n            timestamp: new Date().toISOString(),\n            detalles_completos: error.stack\n        },\n        _batch_info: producto._batch_info,\n        _retry_count: (producto._retry_count || 0) + 1\n    };\n    \n    // Si es recuperable y no hemos excedido los reintentos, marcarlo para reintento\n    if (esErrorRecuperable && registroError._retry_count <= 3) {\n        console.log(`🔄 Marcando para reintento (intento ${registroError._retry_count}/3)`);\n        registroError._status = 'pending_retry';\n    }\n    \n    return { json: registroError };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7296,
        -512
      ],
      "id": "b573616b-7889-4920-ab89-20ed816cbcaa",
      "name": "Error handler"
    },
    {
      "parameters": {
        "jsCode": "// Error Handler - Maneja errores sin detener todo el flujo\n// Coloca este nodo para capturar errores de Update/Create\n\nreturn items.map(item => {\n    const producto = item.json;\n    const error = item.error;\n    \n    // Si no hay error, el producto se procesó exitosamente\n    if (!error) {\n        console.log(`✅ Producto procesado: ${producto.default_code}`);\n        return { \n            json: {\n                ...producto,\n                _status: 'success',\n                _processed_at: new Date().toISOString()\n            }\n        };\n    }\n    \n    // Si hay error, lo registramos pero no detenemos el flujo\n    console.error(`❌ Error procesando ${producto.default_code}:`, error.message);\n    \n    // Determinar el tipo de error y si es recuperable\n    const esErrorRecuperable = \n        error.message.includes('timeout') ||\n        error.message.includes('ECONNRESET') ||\n        error.message.includes('429');  // Rate limit\n    \n    // Registrar el error para análisis posterior\n    const registroError = {\n        ...producto,\n        _status: 'error',\n        _error: {\n            mensaje: error.message,\n            tipo: error.name,\n            recuperable: esErrorRecuperable,\n            timestamp: new Date().toISOString(),\n            detalles_completos: error.stack\n        },\n        _batch_info: producto._batch_info,\n        _retry_count: (producto._retry_count || 0) + 1\n    };\n    \n    // Si es recuperable y no hemos excedido los reintentos, marcarlo para reintento\n    if (esErrorRecuperable && registroError._retry_count <= 3) {\n        console.log(`🔄 Marcando para reintento (intento ${registroError._retry_count}/3)`);\n        registroError._status = 'pending_retry';\n    }\n    \n    return { json: registroError };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7296,
        -200
      ],
      "id": "3b6cdb76-25f9-4768-adf5-ea8c81498297",
      "name": "Error handler1"
    },
    {
      "parameters": {
        "jsCode": "// Checkpoint Recovery - pasa datos al siguiente nodo sin modificar\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7520,
        -512
      ],
      "id": "76237542-1d8b-4318-a004-4054e5fb63c7",
      "name": "Check point Recovery"
    },
    {
      "parameters": {
        "jsCode": "// Checkpoint Recovery1 - pasa datos al siguiente nodo sin modificar\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7520,
        -200
      ],
      "id": "3c5ae06d-9c54-4404-b1a5-b366638128aa",
      "name": "Check point Recovery1"
    },
    {
      "parameters": {
        "jsCode": "// Nodo: Process Summary\nconst estadisticas = {\n    inicio: $('Init Search Terms').item.json.timestamp_inicio,\n    fin: new Date().toISOString(),\n    productos_procesados: 0,\n    productos_creados: 0,\n    productos_actualizados: 0,\n    productos_con_error: 0,\n    productos_con_imagen: 0,\n    productos_sin_imagen: 0\n};\n\n// Contar resultados\nitems.forEach(item => {\n    if (item.json._status === 'success') {\n        estadisticas.productos_procesados++;\n        if (item.json.operation === 'create') {\n            estadisticas.productos_creados++;\n        } else {\n            estadisticas.productos_actualizados++;\n        }\n        if (item.json.has_image) {\n            estadisticas.productos_con_imagen++;\n        } else {\n            estadisticas.productos_sin_imagen++;\n        }\n    } else if (item.json._status === 'error') {\n        estadisticas.productos_con_error++;\n    }\n});\n\n// Calcular tiempo transcurrido\nconst tiempoTotal = (new Date(estadisticas.fin) - new Date(estadisticas.inicio)) / 1000 / 60;\nestadisticas.tiempo_minutos = tiempoTotal.toFixed(2);\nestadisticas.productos_por_minuto = (estadisticas.productos_procesados / tiempoTotal).toFixed(1);\n\nconsole.log(\"📊 RESUMEN DE PROCESAMIENTO:\");\nconsole.log(`✅ Procesados: ${estadisticas.productos_procesados}`);\nconsole.log(`🆕 Creados: ${estadisticas.productos_creados}`);\nconsole.log(`🔄 Actualizados: ${estadisticas.productos_actualizados}`);\nconsole.log(`❌ Errores: ${estadisticas.productos_con_error}`);\nconsole.log(`⏱️ Tiempo: ${estadisticas.tiempo_minutos} minutos`);\nconsole.log(`⚡ Velocidad: ${estadisticas.productos_por_minuto} productos/minuto`);\n\nreturn [{ json: estadisticas }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7744,
        -200
      ],
      "id": "dcea5282-82c6-43d1-b8ce-150c0f10775f",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normaliza el default_code del ÍTEM ACTUAL (sin clonar el 0)\nconst idx = $itemIndex;                          // índice del ítem actual\nconst mapItems   = $items(\"Map Syscom Odoo\") || [];\nconst storeItems = $items(\"Store Original State\") || [];\n\nconst fromMap   = mapItems[idx]?.json?.default_code;\nconst fromStore = storeItems[idx]?.json?._original_syscom?.default_code;\n\nconst dcode =\n  $json.default_code ??\n  fromMap ??\n  fromStore ??\n  \"\";\n\nconsole.log(`[Code1] idx=${idx} default_code=${dcode}`);\n\nreturn {\n  json: {\n    ...$json,\n    default_code: String(dcode || \"\")\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5056,
        -464
      ],
      "id": "09ddd785-fbd3-4637-b2e8-8370665d887e",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c540add-815b-47d6-8177-36601121f61a",
              "leftValue": "={{ $('Get many items').item.json?.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5504,
        -464
      ],
      "id": "cfe8391a-e797-4866-b4ce-10adcc3b33b9",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.template",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "=default_code",
              "value": "={{ $json.default_code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        5280,
        -464
      ],
      "id": "58640098-9575-40ac-b3a8-bb74878e7f62",
      "name": "Get many items",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "odooApi": {
          "id": "b3HchFCz6DvJpSyB",
          "name": "Odoo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b1217d1-a57d-4fca-8912-76940d185db0",
              "name": "Nombre",
              "value": "=",
              "type": "string"
            },
            {
              "id": "458b982d-122c-4878-9c38-364d61a16d9f",
              "name": "default code",
              "value": "={{ $json._original_syscom.default_code }}",
              "type": "string"
            },
            {
              "id": "34e9665e-64b5-4754-bbe1-2ee8ab648e4b",
              "name": "Existencia",
              "value": "={{ $json._original_syscom.total_existencia }}",
              "type": "string"
            },
            {
              "id": "a2037461-7aed-4a44-bafc-3ec531d37daa",
              "name": "Nombre",
              "value": "={{ $json._original_syscom.name }}",
              "type": "string"
            },
            {
              "id": "9ca4db00-beba-4552-8bad-45f36e3e4faf",
              "name": "Imagen Portada",
              "value": "={{ $json._original_syscom.img_portada }}",
              "type": "string"
            },
            {
              "id": "a820659c-f9fe-4fa5-95d7-fb93e0d630f0",
              "name": "Categoria",
              "value": "={{ $json._original_syscom.categoria_nombre }}",
              "type": "string"
            },
            {
              "id": "dea4f0e1-7fd6-453c-97d2-ce718fca9b07",
              "name": "Familia",
              "value": "={{ $json._original_syscom.familia_nombre }}",
              "type": "string"
            },
            {
              "id": "ab6a3ea0-e52a-4d26-b334-516bf16abc35",
              "name": "Barcode",
              "value": "={{ $json._original_syscom.barcode }}",
              "type": "string"
            },
            {
              "id": "6582af88-cd9e-440f-8cd8-d70635782ffa",
              "name": "Standard price",
              "value": "={{ $json._original_syscom.standard_price }}",
              "type": "string"
            },
            {
              "id": "5e6c4fba-cbb8-408f-b1e9-c50f59c121c6",
              "name": "Sat key",
              "value": "={{ $json.sat_key_to_search }}",
              "type": "string"
            },
            {
              "id": "d8bad3f8-af33-4c73-8fe2-fb5d972c26fa",
              "name": "List price",
              "value": "={{ $json._original_syscom.list_price }}",
              "type": "string"
            },
            {
              "id": "753c50ee-99f3-49bc-868a-7fc7c6f119f4",
              "name": "Marca",
              "value": "={{ $json._original_syscom.marca }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5952,
        -200
      ],
      "id": "0bcc1219-a2d6-4978-9ac3-25277e215db8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "passThrough",
        "combineBy": "combineByPosition",
        "options": {},
        "numberInputs": 1
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5728,
        -200
      ],
      "id": "ef725d9f-1fdb-4bcf-8c8b-52b512def8d2",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "passThrough",
        "combineBy": "combineByPosition",
        "options": {},
        "numberInputs": 1
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6848,
        -296
      ],
      "id": "b53ae539-ed4c-4291-8ae4-0d4a6b0d838b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "91f959c2-09c2-4d40-8075-83018ddf5ab2",
              "leftValue": "={{ $('HTTP Syscom Products').all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7968,
        -296
      ],
      "id": "21a55bf8-de22-43e9-991d-6eed31cbf117",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "\n// Incrementar Pagina - v3: memory-safe\nconst httpResp = $('HTTP Syscom Products').item.json;\nconst initState = $('Init Search Terms').first().json;\nconst globalState = $getWorkflowStaticData('global');\n\nconst currentPage = Number(httpResp.pagina) || 1;\nconst nextPage = currentPage + 1;\n\nconst pagesThisRun = (globalState._pagesThisRun || 0) + 1;\nglobalState._pagesThisRun = pagesThisRun;\nconst maxPages = initState.max_pages_per_run || 50;\n\nconsole.log(`📄 Página ${currentPage} → ${nextPage} | Run: ${pagesThisRun}/${maxPages}`);\n\nreturn [{\n  json: {\n    page: nextPage,\n    access_token: $('Get Syscom Token').first().json.access_token,\n    categoria_actual: initState.categoria_actual,\n    categoria_actual_index: initState.categoria_actual_index ?? 0,\n    categorias: initState.categorias,\n    productos_por_pagina: 20,\n    pages_this_run: pagesThisRun,\n    max_pages_per_run: maxPages\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8192,
        -224
      ],
      "id": "aeca6a9d-b464-49e7-8bea-c0598fd6414d",
      "name": "Incremetar Pagina"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a2b18be-c435-48ca-899c-ad20be777313",
              "name": "access_token",
              "value": "={{ $('Init Search Terms').first().json.access_token }}",
              "type": "string"
            },
            {
              "id": "97ece655-cdf0-49d1-a448-49cbedc560f3",
              "name": "page",
              "value": "={{ $('Init Search Terms').first().json.page }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7744,
        -512
      ],
      "id": "d9b29bf5-1296-4720-8752-3ced43737d83",
      "name": "Unir Ramas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfc3604c-1a38-4bde-957b-45c9cc104a99",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            },
            {
              "id": "60dc4e30-bd52-4ebb-9f98-9cbf7905dfd1",
              "name": "page",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3040,
        -224
      ],
      "id": "a7f15610-8541-4943-b279-ffdf249405f8",
      "name": "Crear Estado Inicial"
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 3
      },
      "id": "352fdc70-2903-4dc1-b5eb-83fe568bf94f",
      "name": "Wait entre paginas",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        8400,
        -224
      ],
      "webhookId": "03c41d72-fcfc-4716-91ea-bd970c1a4466"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3760724-6f38-4272-a461-88e2058371ef",
              "leftValue": "={{ $json._avanzar_categoria }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7bb64863-7a68-4ebd-a0d5-8d37deccf38b",
      "name": "IF: ¿Avanzar categoria?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3712,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst allCats = $('Init Search Terms').first().json.categorias;\nconst currentIdx = Number($input.item.json.categoria_actual_index) || 0;\nconst nextIdx = currentIdx + 1;\nconst access_token = $('Get Syscom Token').first().json.access_token;\nconst maxPages = $('Init Search Terms').first().json.max_pages_per_run || 50;\n\n// Guardar estado en staticData\nconst state = $getWorkflowStaticData('global');\n\nif (nextIdx >= allCats.length) {\n    // Ciclo completo - resetear para próxima noche\n    state.categoryIndex = 0;\n    state.page = 1;\n    state.lastCompletedCycle = new Date().toISOString();\n    console.log(`🏁 Catálogo completo sincronizado. Próximo ciclo empezará desde el inicio.`);\n    return [{ json: { _fin_catalogo: true, total_categorias: allCats.length } }];\n}\n\n// Avanzar a siguiente categoría\nstate.categoryIndex = nextIdx;\nstate.page = 1;\nstate.lastSave = new Date().toISOString();\n\nconsole.log(`🔄 [${currentIdx}] ${allCats[currentIdx]?.nombre} → [${nextIdx}] ${allCats[nextIdx]?.nombre}`);\n\nreturn [{ json: {\n    _fin_catalogo: false,\n    categoria_actual_index: nextIdx,\n    categoria_actual: allCats[nextIdx],\n    page: 1,\n    access_token: access_token,\n    productos_por_pagina: 20,\n    pages_this_run: 0,\n    max_pages_per_run: maxPages\n}}];\n"
      },
      "id": "e4c08089-1c6a-421e-a71f-4e34a6b42326",
      "name": "Avanzar Categoria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3de0d325-12af-4aa7-9ac7-cded3abdcad7",
              "leftValue": "={{ $json._fin_catalogo }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1c78873f-6630-4b8d-9f9a-086a3446ab06",
      "name": "¿Mas categorias?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4160,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "543390ee-b463-4826-9650-56b829bbdc50",
              "leftValue": "={{ $json.pages_this_run }}",
              "rightValue": "={{ $json.max_pages_per_run }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3d672ab6-e828-462b-9355-9b0d0d7eccb3",
      "name": "IF: ¿Límite de páginas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        8430,
        -350
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Guardar Estado v9 - AQUÍ se avanza la página (no en Init)\nconst state = $getWorkflowStaticData('global');\nif (state._savedThisRun === true) {\n    return [{ json: { logged: false }}];\n}\nstate._savedThisRun = true;\nconst startPage = state._startPage || 1;\nconst PAGES_PER_RUN = 20;\nstate.page = startPage + PAGES_PER_RUN;\nstate.lastSave = new Date().toISOString();\nconsole.log('💾 Guardado: cat[' + state.categoryIndex + '] → pág ' + state.page);\nreturn [{ json: { logged: true, nextPage: state.page, categoryIndex: state.categoryIndex }}];\n"
      },
      "id": "40ba7c3c-a6f6-422f-8933-2f5100bdc3dc",
      "name": "Guardar Estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8650,
        -350
      ]
    },
    {
      "id": "f2936b66-824b-4407-bc47-159375cfc420",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -200,
        200
      ],
      "parameters": {
        "path": "syscom-trigger-run",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "4879fabb-9de9-4b22-9152-1ffba2f2b8af"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Syscom Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Syscom Token": {
      "main": [
        [
          {
            "node": "Crear Estado Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Syscom Odoo": {
      "main": [
        [
          {
            "node": "Store Original State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Syscom Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Search Terms": {
      "main": [
        [
          {
            "node": "HTTP Syscom Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Syscom Products": {
      "main": [
        [
          {
            "node": "Process Pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Pagination": {
      "main": [
        [
          {
            "node": "Control por lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search SAT Code": {
      "main": [
        [
          {
            "node": "Enrich with SAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an item": {
      "main": [
        [
          {
            "node": "Error handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an item": {
      "main": [
        [
          {
            "node": "Error handler1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has Image URL?": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Image Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Convert to base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to base64": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Image Data": {
      "main": [
        [
          {
            "node": "Create an item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Original State": {
      "main": [
        [
          {
            "node": "Search SAT Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with SAT": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control por lotes": {
      "main": [
        [
          {
            "node": "Map Syscom Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error handler": {
      "main": [
        [
          {
            "node": "Check point Recovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error handler1": {
      "main": [
        [
          {
            "node": "Check point Recovery1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check point Recovery1": {
      "main": [
        [
          {
            "node": "Guardar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Get many items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update an item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many items": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "has Image URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Create an item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check point Recovery": {
      "main": [
        [
          {
            "node": "Guardar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Incremetar Pagina",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incremetar Pagina": {
      "main": [
        [
          {
            "node": "IF: ¿Límite de páginas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Ramas": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Estado Inicial": {
      "main": [
        [
          {
            "node": "Init Search Terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Avanzar categoria?": {
      "main": [
        [
          {
            "node": "Avanzar Categoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Control por lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avanzar Categoria": {
      "main": [
        [
          {
            "node": "¿Mas categorias?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Límite de páginas?": {
      "main": [
        [
          {
            "node": "Guardar Estado",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Guardar Estado": {
      "main": [
        []
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Syscom Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  }
}