workflow/validator.json
{"updatedAt":"2026-03-20T21:56:34.156Z","createdAt":"2026-03-20T15:30:15.434Z","id":"Az3wFgYIk3ySqwXr","name":"VALIDATOR - Product Completeness Check","description":null,"active":true,"isArchived":false,"nodes":[{"id":"n1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 15 * * *"}]}}},{"id":"n2","name":"Query Odoo Counts","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"parameters":{"jsCode":"\nconst odoo = \"https://ocean-tech-0326.odoo.com/jsonrpc\";\nconst db = \"ocean-tech-0326\", uid = 2, pwd = \"M1ercole$\";\n\nasync function odooCall(model, method, args, kwargs) {\n  const body = {jsonrpc:\"2.0\",method:\"call\",id:1,params:{\n    service:\"object\",method:\"execute_kw\",\n    args:[db,uid,pwd,model,method,args],\n    kwargs: kwargs || {}\n  }};\n  const resp = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: odoo,\n    body: body,\n    json: true,\n    headers: {\"Content-Type\": \"application/json\"}\n  });\n  if (resp.error) throw new Error(resp.error.message);\n  return resp.result || 0;\n}\n\nconst active = [[\"active\",\"=\",true]];\nconst total = await odooCall.call(this, \"product.template\", \"search_count\", [active]);\nconst con_precio = await odooCall.call(this, \"product.template\", \"search_count\", [[...active,[\"list_price\",\">\",0]]]);\nconst con_imagen = await odooCall.call(this, \"product.template\", \"search_count\", [[...active,[\"image_1920\",\"!=\",false]]]);\nconst con_desc = await odooCall.call(this, \"product.template\", \"search_count\", [[...active,[\"description_sale\",\"!=\",false]]]);\nconst con_sku = await odooCall.call(this, \"product.template\", \"search_count\", [[...active,[\"default_code\",\"!=\",false]]]);\nconst sin_sku = total - con_sku;\n\nconst completos = await odooCall.call(this, \"product.template\", \"search_count\", [\n  [...active,[\"list_price\",\">\",0],[\"image_1920\",\"!=\",false],[\"default_code\",\"!=\",false]]\n]);\nconst pct = total > 0 ? Math.round(completos/total*100) : 0;\n\n// Top 20 incomplete WITHOUT image field (lightweight)\nconst incompletos = await odooCall.call(this, \"product.template\", \"search_read\",\n  [[...active, \"|\",\"|\",[\"image_1920\",\"=\",false],[\"list_price\",\"=\",0],[\"default_code\",\"=\",false]]],\n  {fields: [\"id\",\"name\",\"default_code\",\"list_price\",\"description_sale\"], limit: 20, order: \"id desc\"}\n);\n\nconst incomplete_list = (incompletos || []).map(p => {\n  const issues = [];\n  if (!p.list_price || p.list_price === 0) issues.push(\"precio\");\n  if (!p.default_code) issues.push(\"SKU\");\n  if (!p.description_sale) issues.push(\"descripcion\");\n  return {id: p.id, name: (p.name||\"\").substring(0,55), sku: p.default_code||\"-\", issues};\n});\n\nreturn [{json:{\n  total, con_precio, con_imagen, con_desc, con_sku, sin_sku,\n  completos, completeness_pct: pct,\n  missing_image: total - con_imagen,\n  missing_price: total - con_precio,\n  missing_desc: total - con_desc,\n  missing_sku: sin_sku,\n  incomplete_top50: incomplete_list\n}}];\n","mode":"runOnceForAllItems"}},{"id":"n4","name":"Build Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,0],"parameters":{"jsCode":"\nconst s = $input.first().json;\nconst icon = s.completeness_pct >= 80 ? 'OK' : s.completeness_pct >= 50 ? 'ADVERTENCIA' : 'CRITICO';\nconst rows = (s.incomplete_top50 || []).map(p =>\n  `<tr><td style=\"padding:5px 8px;border-bottom:1px solid #e5e7eb\">${p.id}</td><td style=\"padding:5px 8px;border-bottom:1px solid #e5e7eb\">${String(p.name).substring(0,55)}</td><td style=\"padding:5px 8px;border-bottom:1px solid #e5e7eb\">${p.sku}</td><td style=\"padding:5px 8px;border-bottom:1px solid #e5e7eb;color:#dc2626\">${p.issues.join(', ')}</td></tr>`\n).join('');\n\nconst html = `<html><body style=\"font-family:Arial,sans-serif;max-width:750px;margin:0 auto;padding:20px\">\n<h2 style=\"color:#1e40af\">Reporte Validacion Productos Odoo</h2>\n<p>Fecha: ${new Date().toLocaleDateString('es-MX')} | Estado: ${icon}</p>\n<div style=\"display:flex;gap:15px;margin:15px 0\">\n  <div style=\"flex:1;background:#eff6ff;border-radius:8px;padding:15px;text-align:center\">\n    <div style=\"font-size:28px;font-weight:bold;color:#1e40af\">${s.total.toLocaleString()}</div><div>Total</div>\n  </div>\n  <div style=\"flex:1;background:#f0fdf4;border-radius:8px;padding:15px;text-align:center\">\n    <div style=\"font-size:28px;font-weight:bold;color:#166534\">${s.completeness_pct}%</div><div>Completitud</div>\n  </div>\n  <div style=\"flex:1;background:#fef2f2;border-radius:8px;padding:15px;text-align:center\">\n    <div style=\"font-size:28px;font-weight:bold;color:#dc2626\">${s.total - s.completos}</div><div>Incompletos</div>\n  </div>\n</div>\n<h3>Campos faltantes</h3>\n<table style=\"width:100%;border-collapse:collapse\">\n  <tr><td style=\"padding:8px;background:#f9fafb\">Imagen</td><td style=\"padding:8px;text-align:right;font-weight:bold\">${s.missing_image}</td></tr>\n  <tr><td style=\"padding:8px;background:#f9fafb\">Precio</td><td style=\"padding:8px;text-align:right;font-weight:bold\">${s.missing_price}</td></tr>\n  <tr><td style=\"padding:8px;background:#f9fafb\">Descripcion</td><td style=\"padding:8px;text-align:right;font-weight:bold\">${s.missing_desc}</td></tr>\n  <tr><td style=\"padding:8px;background:#f9fafb\">SKU</td><td style=\"padding:8px;text-align:right;font-weight:bold\">${s.missing_sku}</td></tr>\n</table>\n<h3>Productos incompletos (top ${(s.incomplete_top50||[]).length})</h3>\n<table style=\"width:100%;border-collapse:collapse\">\n<tr style=\"background:#1e40af;color:white\"><th style=\"padding:8px\">ID</th><th style=\"padding:8px\">Nombre</th><th style=\"padding:8px\">SKU</th><th style=\"padding:8px\">Faltantes</th></tr>\n${rows}\n</table>\n<hr style=\"margin:20px 0\">\n<small style=\"color:#6b7280\">VALIDATOR Agent - Corre diario 9am CST</small>\n</body></html>`;\n\nreturn [{json: {html, subject: `[Odoo] Validacion: ${s.total} productos | ${s.completeness_pct}% completos | ${icon}`}}];\n"}},{"id":"n5","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[880,0],"credentials":{"smtp":{"id":"8Sh1bZ6TghVIY8JW","name":"Gmail SMTP - pipess21"}},"parameters":{"fromEmail":"pipess21@gmail.com","toEmail":"pipess21@gmail.com","subject":"={{ $json.subject }}","emailType":"html","html":"={{ $json.html }}","options":{}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Query Odoo Counts","type":"main","index":0}]]},"Build Report":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Query Odoo Counts":{"main":[[{"node":"Build Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"4e8bda9c-75d2-49e5-a742-cdc6d7a3c952","activeVersionId":"4e8bda9c-75d2-49e5-a742-cdc6d7a3c952","versionCounter":13,"triggerCount":1,"shared":[{"updatedAt":"2026-03-20T15:30:15.436Z","createdAt":"2026-03-20T15:30:15.436Z","role":"workflow:owner","workflowId":"Az3wFgYIk3ySqwXr","projectId":"1ugGQHoQVF6DXsWx","project":{"updatedAt":"2025-07-21T19:08:05.727Z","createdAt":"2025-07-21T19:06:54.563Z","id":"1ugGQHoQVF6DXsWx","name":"Felipe De Alba <pipess21@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-20T21:56:34.157Z","createdAt":"2026-03-20T21:56:34.157Z","versionId":"4e8bda9c-75d2-49e5-a742-cdc6d7a3c952","workflowId":"Az3wFgYIk3ySqwXr","nodes":[{"id":"n1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 15 * * *"}]}}},{"id":"n2","name":"Query Odoo Counts","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"parameters":{"jsCode":"\nconst odoo = \"https://ocean-tech-0326.odoo.com/jsonrpc\";\nconst db = \"ocean-tech-0326\", uid = 2, pwd = \"M1ercole$\";\n\nasync function odooCall(model, method, args, kwargs) {\n  const body = {jsonrpc:\"2.0\",method:\"call\",id:1,params:{\n    service:\"object\",method:\"execute_kw\",\n    args:[db,uid,pwd,model,method,args],\n    kwargs: kwargs || {}\n  }};\n  const resp = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: odoo,\n    body: body,\n    json: true,\n    headers: {\"Content-Type\": \"application/json\"}\n  });\n  if (resp.error) throw new Error(resp.error.message);\n  return resp.result || 0;\n}\n\nconst active = [[\"active\",\"=\",true]];\nconst total = await odooCall.call(this, \"product.template\", \"search_count\", [active]);\nconst con_precio = await odooCall.call(this, \"product.template\", \"search_count\", [[...active,[\"list_price\",\">\",0]]]);\nconst con_imagen = await odooCall.call(this, \"product.template\", \"search_count\", [[...active,[\"image_1920\",\"!=\",false]]]);\nconst con_desc = await odooCall.call(this, \"product.template\", \"search_count\", [[...active,[\"description_sale\",\"!=\",false]]]);\nconst con_sku = await odooCall.call(this, \"product.template\", \"search_count\", [[...active,[\"default_code\",\"!=\",false]]]);\nconst sin_sku = total - con_sku;\n\nconst completos = await odooCall.call(this, \"product.template\", \"search_count\", [\n  [...active,[\"list_price\",\">\",0],[\"image_1920\",\"!=\",false],[\"default_code\",\"!=\",false]]\n]);\nconst pct = total > 0 ? Math.round(completos/total*100) : 0;\n\n// Top 20 incomplete WITHOUT image field (lightweight)\nconst incompletos = await odooCall.call(this, \"product.template\", \"search_read\",\n  [[...active, \"|\",\"|\",[\"image_1920\",\"=\",false],[\"list_price\",\"=\",0],[\"default_code\",\"=\",false]]],\n  {fields: [\"id\",\"name\",\"default_code\",\"list_price\",\"description_sale\"], limit: 20, order: \"id desc\"}\n);\n\nconst incomplete_list = (incompletos || []).map(p => {\n  const issues = [];\n  if (!p.list_price || p.list_price === 0) issues.push(\"precio\");\n  if (!p.default_code) issues.push(\"SKU\");\n  if (!p.description_sale) issues.push(\"descripcion\");\n  return {id: p.id, name: (p.name||\"\").substring(0,55), sku: p.default_code||\"-\", issues};\n});\n\nreturn [{json:{\n  total, con_precio, con_imagen, con_desc, con_sku, sin_sku,\n  completos, completeness_pct: pct,\n  missing_image: total - con_imagen,\n  missing_price: total - con_precio,\n  missing_desc: total - con_desc,\n  missing_sku: sin_sku,\n  incomplete_top50: incomplete_list\n}}];\n","mode":"runOnceForAllItems"}},{"id":"n4","name":"Build Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,0],"parameters":{"jsCode":"\nconst s = $input.first().json;\nconst icon = s.completeness_pct >= 80 ? 'OK' : s.completeness_pct >= 50 ? 'ADVERTENCIA' : 'CRITICO';\nconst rows = (s.incomplete_top50 || []).map(p =>\n  `<tr><td style=\"padding:5px 8px;border-bottom:1px solid #e5e7eb\">${p.id}</td><td style=\"padding:5px 8px;border-bottom:1px solid #e5e7eb\">${String(p.name).substring(0,55)}</td><td style=\"padding:5px 8px;border-bottom:1px solid #e5e7eb\">${p.sku}</td><td style=\"padding:5px 8px;border-bottom:1px solid #e5e7eb;color:#dc2626\">${p.issues.join(', ')}</td></tr>`\n).join('');\n\nconst html = `<html><body style=\"font-family:Arial,sans-serif;max-width:750px;margin:0 auto;padding:20px\">\n<h2 style=\"color:#1e40af\">Reporte Validacion Productos Odoo</h2>\n<p>Fecha: ${new Date().toLocaleDateString('es-MX')} | Estado: ${icon}</p>\n<div style=\"display:flex;gap:15px;margin:15px 0\">\n  <div style=\"flex:1;background:#eff6ff;border-radius:8px;padding:15px;text-align:center\">\n    <div style=\"font-size:28px;font-weight:bold;color:#1e40af\">${s.total.toLocaleString()}</div><div>Total</div>\n  </div>\n  <div style=\"flex:1;background:#f0fdf4;border-radius:8px;padding:15px;text-align:center\">\n    <div style=\"font-size:28px;font-weight:bold;color:#166534\">${s.completeness_pct}%</div><div>Completitud</div>\n  </div>\n  <div style=\"flex:1;background:#fef2f2;border-radius:8px;padding:15px;text-align:center\">\n    <div style=\"font-size:28px;font-weight:bold;color:#dc2626\">${s.total - s.completos}</div><div>Incompletos</div>\n  </div>\n</div>\n<h3>Campos faltantes</h3>\n<table style=\"width:100%;border-collapse:collapse\">\n  <tr><td style=\"padding:8px;background:#f9fafb\">Imagen</td><td style=\"padding:8px;text-align:right;font-weight:bold\">${s.missing_image}</td></tr>\n  <tr><td style=\"padding:8px;background:#f9fafb\">Precio</td><td style=\"padding:8px;text-align:right;font-weight:bold\">${s.missing_price}</td></tr>\n  <tr><td style=\"padding:8px;background:#f9fafb\">Descripcion</td><td style=\"padding:8px;text-align:right;font-weight:bold\">${s.missing_desc}</td></tr>\n  <tr><td style=\"padding:8px;background:#f9fafb\">SKU</td><td style=\"padding:8px;text-align:right;font-weight:bold\">${s.missing_sku}</td></tr>\n</table>\n<h3>Productos incompletos (top ${(s.incomplete_top50||[]).length})</h3>\n<table style=\"width:100%;border-collapse:collapse\">\n<tr style=\"background:#1e40af;color:white\"><th style=\"padding:8px\">ID</th><th style=\"padding:8px\">Nombre</th><th style=\"padding:8px\">SKU</th><th style=\"padding:8px\">Faltantes</th></tr>\n${rows}\n</table>\n<hr style=\"margin:20px 0\">\n<small style=\"color:#6b7280\">VALIDATOR Agent - Corre diario 9am CST</small>\n</body></html>`;\n\nreturn [{json: {html, subject: `[Odoo] Validacion: ${s.total} productos | ${s.completeness_pct}% completos | ${icon}`}}];\n"}},{"id":"n5","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[880,0],"credentials":{"smtp":{"id":"8Sh1bZ6TghVIY8JW","name":"Gmail SMTP - pipess21"}},"parameters":{"fromEmail":"pipess21@gmail.com","toEmail":"pipess21@gmail.com","subject":"={{ $json.subject }}","emailType":"html","html":"={{ $json.html }}","options":{}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Query Odoo Counts","type":"main","index":0}]]},"Build Report":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Query Odoo Counts":{"main":[[{"node":"Build Report","type":"main","index":0}]]}},"authors":"Felipe De Alba","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-20T21:56:34.186Z","id":275,"workflowId":"Az3wFgYIk3ySqwXr","versionId":"4e8bda9c-75d2-49e5-a742-cdc6d7a3c952","event":"activated","userId":"0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"},{"createdAt":"2026-03-20T21:56:34.175Z","id":274,"workflowId":"Az3wFgYIk3ySqwXr","versionId":"4e8bda9c-75d2-49e5-a742-cdc6d7a3c952","event":"deactivated","userId":"0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"}]}}