workflow/wf3_detector_altas.json
{
    "updatedAt": "2026-03-30T17:30:14.594Z",
    "createdAt": "2026-03-25T17:06:33.034Z",
    "id": "IHbypZWRzHURVkK0",
    "name": "WF3 \u2014 Detector Altas (diario 1am)",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 7 * * *"
                        }
                    ]
                }
            },
            "id": "s1",
            "name": "Daily 1am CST",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "detect-altas",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "w1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                500
            ],
            "webhookId": "detect-altas"
        },
        {
            "parameters": {
                "jsCode": "// WF3: Detector de Altas \u2014 diario 1:00 AM\n// Finds Syscom products NOT in Odoo, creates them with image+stock\nconst ODOO_URL = \"https://ocean-tech.odoo.com/jsonrpc\";\nconst DB = \"ocean-tech\", UID = 2, PWD = \"M1ercole$\";\nconst INCOME = 145, STOCK_LOC = 8, BATCH = 15;\nconst helpers = this.helpers;\nconst SUBS = [[\"1295\", 22], [\"1299\", 22], [\"1301\", 22], [\"1310\", 22], [\"1420\", 22], [\"1421\", 22], [\"2294\", 22], [\"3054\", 22], [\"65804\", 22], [\"65867\", 22], [\"65868\", 22], [\"65869\", 22], [\"65925\", 22], [\"1302\", 22], [\"2975\", 22], [\"2976\", 22], [\"66011\", 22], [\"66012\", 22], [\"66013\", 22], [\"66014\", 22], [\"66040\", 22], [\"66169\", 22], [\"66170\", 22], [\"1320\", 22], [\"1321\", 22], [\"1323\", 22], [\"1324\", 22], [\"1325\", 22], [\"1326\", 22], [\"1379\", 22], [\"1383\", 22], [\"2672\", 22], [\"65610\", 22], [\"65851\", 22], [\"65870\", 22], [\"65940\", 22], [\"66149\", 22], [\"225\", 22], [\"1349\", 22], [\"1350\", 22], [\"1365\", 22], [\"1965\", 22], [\"1976\", 22], [\"3024\", 22], [\"65977\", 22], [\"66015\", 22], [\"66016\", 22], [\"66018\", 22], [\"66238\", 22], [\"66375\", 22], [\"66377\", 22], [\"1354\", 22], [\"1355\", 22], [\"1356\", 22], [\"1380\", 22], [\"2910\", 22], [\"1410\", 22], [\"1411\", 22], [\"1412\", 22], [\"1413\", 22], [\"1414\", 22], [\"65958\", 22], [\"66299\", 22], [\"2809\", 22], [\"65775\", 22], [\"65776\", 22], [\"65777\", 22], [\"65778\", 22], [\"65779\", 22], [\"65850\", 22], [\"65975\", 22], [\"65976\", 22], [\"66255\", 22], [\"3020\", 22], [\"3021\", 22], [\"3022\", 22], [\"3023\", 22], [\"65665\", 22], [\"65810\", 22], [\"66490\", 22], [\"66491\", 22], [\"66492\", 22], [\"1340\", 22], [\"65964\", 22], [\"65965\", 22], [\"65966\", 22], [\"65967\", 22], [\"65973\", 22], [\"66268\", 22], [\"66332\", 22], [\"66479\", 22], [\"66739\", 22], [\"65969\", 22], [\"65970\", 22], [\"65971\", 22], [\"65972\", 22], [\"65983\", 22], [\"65984\", 22], [\"65985\", 22], [\"65987\", 22], [\"65988\", 22], [\"65990\", 22], [\"65992\", 22], [\"66004\", 22], [\"66005\", 22], [\"66684\", 22], [\"66738\", 22], [\"66370\", 22], [\"66473\", 22], [\"66474\", 22], [\"66758\", 22], [\"65568\", 25], [\"65570\", 25], [\"65571\", 25], [\"65572\", 25], [\"65573\", 25], [\"65574\", 25], [\"65794\", 25], [\"65795\", 25], [\"65796\", 25], [\"65797\", 25], [\"65559\", 25], [\"65561\", 25], [\"65562\", 25], [\"65563\", 25], [\"65564\", 25], [\"65565\", 25], [\"65566\", 25], [\"65786\", 25], [\"65787\", 25], [\"65788\", 25], [\"65789\", 25], [\"65550\", 25], [\"65552\", 25], [\"65553\", 25], [\"65554\", 25], [\"65555\", 25], [\"65556\", 25], [\"65557\", 25], [\"65790\", 25], [\"65791\", 25], [\"65792\", 25], [\"65798\", 25], [\"66273\", 25], [\"65541\", 25], [\"65543\", 25], [\"65544\", 25], [\"65546\", 25], [\"65548\", 25], [\"65782\", 25], [\"65783\", 25], [\"65784\", 25], [\"65785\", 25], [\"65576\", 25], [\"65578\", 25], [\"65579\", 25], [\"65580\", 25], [\"65581\", 25], [\"65582\", 25], [\"65799\", 25], [\"65800\", 25], [\"65801\", 25], [\"65802\", 25], [\"1697\", 25], [\"1698\", 25], [\"1787\", 25], [\"65583\", 25], [\"65584\", 25], [\"65585\", 25], [\"65586\", 25], [\"65607\", 25], [\"65611\", 25], [\"1799\", 25], [\"1807\", 25], [\"1808\", 25], [\"1814\", 25], [\"1830\", 25], [\"1834\", 25], [\"1838\", 25], [\"1842\", 25], [\"3110\", 25], [\"3111\", 25], [\"3113\", 25], [\"3114\", 25], [\"1804\", 25], [\"1864\", 25], [\"1866\", 25], [\"1871\", 25], [\"1879\", 25], [\"3120\", 25], [\"3121\", 25], [\"65627\", 25], [\"65629\", 25], [\"65632\", 25], [\"65744\", 25], [\"65764\", 25], [\"1893\", 25], [\"1895\", 25], [\"66041\", 25], [\"2177\", 25], [\"65536\", 25], [\"65538\", 25], [\"65701\", 25], [\"65866\", 25], [\"2471\", 25], [\"2473\", 25], [\"2480\", 25], [\"2483\", 25], [\"2484\", 25], [\"2485\", 25], [\"2674\", 25], [\"3096\", 25], [\"2766\", 25], [\"3066\", 25], [\"65639\", 25], [\"65640\", 25], [\"65641\", 25], [\"65642\", 25], [\"65753\", 25], [\"65636\", 25], [\"65637\", 25], [\"3073\", 25], [\"3074\", 25], [\"3075\", 25], [\"3076\", 25], [\"3077\", 25], [\"3078\", 25], [\"3079\", 25], [\"3080\", 25], [\"3081\", 25], [\"3082\", 25], [\"3083\", 25], [\"3084\", 25], [\"65623\", 25], [\"65624\", 25], [\"66401\", 25], [\"65650\", 25], [\"65651\", 25], [\"65652\", 25], [\"65653\", 25], [\"65654\", 25], [\"65655\", 25], [\"65759\", 25], [\"65688\", 25], [\"65689\", 25], [\"65690\", 25], [\"65691\", 25], [\"65692\", 25], [\"65693\", 25], [\"65694\", 25], [\"65695\", 25], [\"65696\", 25], [\"65697\", 25], [\"65928\", 25], [\"1884\", 25], [\"1886\", 25], [\"1887\", 25], [\"1888\", 25], [\"1890\", 25], [\"65720\", 25], [\"65930\", 25], [\"65931\", 25], [\"66297\", 25], [\"66298\", 25], [\"65705\", 25], [\"65707\", 25], [\"65708\", 25], [\"65709\", 25], [\"65710\", 25], [\"65711\", 25], [\"65712\", 25], [\"65719\", 25], [\"65746\", 25], [\"65762\", 25], [\"65773\", 25], [\"65805\", 25], [\"66302\", 25], [\"65922\", 25], [\"65923\", 25], [\"66397\", 25], [\"66263\", 25], [\"66264\", 25], [\"66265\", 25], [\"66266\", 25], [\"66342\", 25], [\"66484\", 25], [\"66119\", 25], [\"66303\", 25], [\"66304\", 25], [\"66305\", 25], [\"66306\", 25], [\"66307\", 25], [\"66394\", 25], [\"66714\", 25], [\"66715\", 25], [\"66162\", 25], [\"66163\", 25], [\"66164\", 25], [\"66165\", 25], [\"66335\", 25], [\"66486\", 25], [\"66487\", 25], [\"66488\", 25], [\"66722\", 25], [\"66723\", 25], [\"66729\", 25], [\"2888\", 26], [\"1915\", 26], [\"1918\", 26], [\"1926\", 26], [\"1927\", 26], [\"1928\", 26], [\"2915\", 26], [\"3045\", 26], [\"65609\", 26], [\"66167\", 26], [\"66314\", 26], [\"66318\", 26], [\"3092\", 26], [\"3094\", 26], [\"66029\", 26], [\"66031\", 26], [\"66032\", 26], [\"66033\", 26], [\"66035\", 26], [\"66036\", 26], [\"66037\", 26], [\"66039\", 26], [\"66060\", 26], [\"65893\", 26], [\"65894\", 26], [\"65895\", 26], [\"65896\", 26], [\"65959\", 26], [\"2470\", 26], [\"2472\", 26], [\"2474\", 26], [\"2477\", 26], [\"2478\", 26], [\"2479\", 26], [\"2675\", 26], [\"3097\", 26], [\"65668\", 26], [\"2977\", 26], [\"2978\", 26], [\"2979\", 26], [\"65621\", 26], [\"65622\", 26], [\"65635\", 26], [\"65760\", 26], [\"3016\", 26], [\"3017\", 26], [\"3018\", 26], [\"3019\", 26], [\"3047\", 26], [\"66174\", 26], [\"66194\", 26], [\"66278\", 26], [\"65881\", 26], [\"65882\", 26], [\"65883\", 26], [\"65884\", 26], [\"65953\", 26], [\"65885\", 26], [\"65886\", 26], [\"65954\", 26], [\"65887\", 26], [\"65888\", 26], [\"65889\", 26], [\"65890\", 26], [\"65892\", 26], [\"66067\", 26], [\"66178\", 26], [\"65919\", 26], [\"65920\", 26], [\"66177\", 26], [\"66106\", 26], [\"66107\", 26], [\"66108\", 26], [\"66109\", 26], [\"66110\", 26], [\"66267\", 26], [\"66747\", 26], [\"66748\", 26], [\"66757\", 26], [\"66664\", 26], [\"66665\", 26], [\"66666\", 26], [\"66667\", 26], [\"66668\", 26], [\"66669\", 26], [\"66670\", 26], [\"66671\", 26], [\"66759\", 26], [\"66760\", 26], [\"66761\", 26], [\"66673\", 26], [\"66674\", 26], [\"66675\", 26], [\"66676\", 26], [\"66677\", 26], [\"66678\", 26], [\"66679\", 26], [\"66681\", 26], [\"66682\", 26], [\"66683\", 26], [\"2944\", 27], [\"2945\", 27], [\"2946\", 27], [\"2947\", 27], [\"2949\", 27], [\"2950\", 27], [\"2951\", 27], [\"2952\", 27], [\"2953\", 27], [\"2954\", 27], [\"2955\", 27], [\"2957\", 27], [\"2958\", 27], [\"2959\", 27], [\"2960\", 27], [\"2961\", 27], [\"2962\", 27], [\"2963\", 27], [\"2964\", 27], [\"2965\", 27], [\"2966\", 27], [\"2967\", 27], [\"2968\", 27], [\"2969\", 27], [\"2970\", 27], [\"2971\", 27], [\"2972\", 27], [\"2973\", 27], [\"2974\", 27], [\"66317\", 27], [\"65656\", 27], [\"65657\", 27], [\"65658\", 27], [\"65660\", 27], [\"65666\", 27], [\"65667\", 27], [\"65809\", 27], [\"66160\", 27], [\"66337\", 27], [\"66338\", 27], [\"66339\", 27], [\"66340\", 27], [\"66341\", 27], [\"66346\", 27], [\"66518\", 27], [\"66520\", 27], [\"66521\", 27], [\"66353\", 27], [\"66354\", 27], [\"66355\", 27], [\"66356\", 27], [\"66357\", 27], [\"66358\", 27], [\"66360\", 27], [\"66361\", 27], [\"66596\", 27], [\"66597\", 27], [\"66598\", 27], [\"66363\", 27], [\"66364\", 27], [\"66504\", 27], [\"66514\", 27], [\"66516\", 27], [\"66522\", 27], [\"66405\", 30], [\"66406\", 30], [\"66407\", 30], [\"66408\", 30], [\"66502\", 30], [\"66410\", 30], [\"66412\", 30], [\"66413\", 30], [\"66414\", 30], [\"66415\", 30], [\"66416\", 30], [\"66417\", 30], [\"66419\", 30], [\"66420\", 30], [\"66468\", 30], [\"66501\", 30], [\"66686\", 30], [\"66687\", 30], [\"66688\", 30], [\"66689\", 30], [\"66690\", 30], [\"66718\", 30], [\"66422\", 30], [\"66423\", 30], [\"66469\", 30], [\"66725\", 30], [\"66726\", 30], [\"66727\", 30], [\"66728\", 30], [\"66425\", 30], [\"66426\", 30], [\"66427\", 30], [\"66428\", 30], [\"66429\", 30], [\"66430\", 30], [\"66431\", 30], [\"66432\", 30], [\"66433\", 30], [\"66435\", 30], [\"66436\", 30], [\"66438\", 30], [\"66439\", 30], [\"66440\", 30], [\"66493\", 30], [\"66494\", 30], [\"66716\", 30], [\"66735\", 30], [\"66736\", 30], [\"66737\", 30], [\"66443\", 30], [\"66444\", 30], [\"66445\", 30], [\"66446\", 30], [\"66694\", 30], [\"66695\", 30], [\"66696\", 30], [\"66448\", 30], [\"66449\", 30], [\"66450\", 30], [\"66711\", 30], [\"66452\", 30], [\"66455\", 30], [\"66500\", 30], [\"66503\", 30], [\"66724\", 30], [\"66749\", 30], [\"66750\", 30], [\"66751\", 30], [\"66752\", 30], [\"66753\", 30], [\"66754\", 30], [\"66755\", 30], [\"66766\", 30], [\"66767\", 30], [\"66768\", 30], [\"66458\", 30], [\"66459\", 30], [\"66460\", 30], [\"66461\", 30], [\"66462\", 30], [\"66463\", 30], [\"66464\", 30], [\"66465\", 30], [\"66466\", 30], [\"66467\", 30], [\"66489\", 30], [\"66471\", 30], [\"66472\", 30], [\"66496\", 30], [\"66497\", 30], [\"66498\", 30], [\"66499\", 30], [\"66692\", 30], [\"66693\", 30], [\"1632\", 32], [\"1634\", 32], [\"1636\", 32], [\"1637\", 32], [\"1638\", 32], [\"1639\", 32], [\"1640\", 32], [\"1641\", 32], [\"65960\", 32], [\"2924\", 32], [\"2330\", 32], [\"2331\", 32], [\"2333\", 32], [\"2334\", 32], [\"2335\", 32], [\"2336\", 32], [\"2345\", 32], [\"2346\", 32], [\"2347\", 32], [\"2348\", 32], [\"2350\", 32], [\"2351\", 32], [\"2395\", 32], [\"369\", 32], [\"2354\", 32], [\"2355\", 32], [\"2356\", 32], [\"2357\", 32], [\"2358\", 32], [\"2359\", 32], [\"2360\", 32], [\"2361\", 32], [\"2362\", 32], [\"2363\", 32], [\"2364\", 32], [\"2392\", 32], [\"2393\", 32], [\"2394\", 32], [\"2401\", 32], [\"66147\", 32], [\"66252\", 32], [\"2366\", 32], [\"2673\", 32], [\"65936\", 32], [\"2368\", 32], [\"2369\", 32], [\"2370\", 32], [\"2371\", 32], [\"3025\", 32], [\"3026\", 32], [\"3027\", 32], [\"3028\", 32], [\"3038\", 32], [\"2402\", 32], [\"2403\", 32], [\"2404\", 32], [\"2405\", 32], [\"65864\", 32], [\"65927\", 32], [\"66254\", 32], [\"66713\", 32], [\"2669\", 32], [\"2670\", 32], [\"2773\", 32], [\"2902\", 32], [\"2903\", 32], [\"65781\", 32], [\"65873\", 32], [\"65874\", 32], [\"65875\", 32], [\"65876\", 32], [\"66028\", 32], [\"66207\", 32], [\"66208\", 32], [\"66209\", 32], [\"66210\", 32], [\"66211\", 32], [\"66213\", 32], [\"66214\", 32], [\"66216\", 32], [\"66235\", 32], [\"66301\", 32], [\"66315\", 32], [\"65537\", 32], [\"65732\", 32], [\"65733\", 32], [\"65734\", 32], [\"65735\", 32], [\"65935\", 32], [\"66329\", 32], [\"65863\", 32], [\"66215\", 32], [\"66274\", 32], [\"66731\", 32], [\"66026\", 32], [\"66285\", 32], [\"66286\", 32], [\"66287\", 32], [\"66343\", 32], [\"66372\", 32], [\"66373\", 32], [\"66400\", 32], [\"66478\", 32], [\"66704\", 32], [\"66600\", 32], [\"66601\", 32], [\"66602\", 32], [\"66615\", 32], [\"66616\", 32], [\"66617\", 32], [\"66618\", 32], [\"66628\", 32], [\"66629\", 32], [\"2520\", 37], [\"2521\", 37], [\"2522\", 37], [\"2523\", 37], [\"2524\", 37], [\"2527\", 37], [\"2884\", 37], [\"2885\", 37], [\"2939\", 37], [\"3115\", 37], [\"66141\", 37], [\"2936\", 37], [\"3001\", 37], [\"3002\", 37], [\"3003\", 37], [\"3004\", 37], [\"3005\", 37], [\"3006\", 37], [\"66234\", 37], [\"2539\", 37], [\"2553\", 37], [\"2554\", 37], [\"2940\", 37], [\"2941\", 37], [\"65669\", 37], [\"2568\", 37], [\"66093\", 37], [\"66094\", 37], [\"2574\", 37], [\"2578\", 37], [\"2581\", 37], [\"2625\", 37], [\"2588\", 37], [\"2589\", 37], [\"2590\", 37], [\"2591\", 37], [\"66241\", 37], [\"2611\", 37], [\"2612\", 37], [\"65763\", 37], [\"65974\", 37], [\"66192\", 37], [\"66193\", 37], [\"2617\", 37], [\"2618\", 37], [\"2620\", 37], [\"2769\", 37], [\"66136\", 37], [\"66137\", 37], [\"66138\", 37], [\"66139\", 37], [\"66140\", 37], [\"2774\", 37], [\"2775\", 37], [\"2776\", 37], [\"2777\", 37], [\"2778\", 37], [\"2779\", 37], [\"65952\", 37], [\"66300\", 37], [\"2890\", 37], [\"2892\", 37], [\"2893\", 37], [\"2925\", 37], [\"2926\", 37], [\"2927\", 37], [\"2928\", 37], [\"2929\", 37], [\"2938\", 37], [\"65684\", 37], [\"66066\", 37], [\"66068\", 37], [\"66086\", 37], [\"66087\", 37], [\"3048\", 37], [\"3049\", 37], [\"3050\", 37], [\"3051\", 37], [\"3116\", 37], [\"3117\", 37], [\"3118\", 37], [\"3119\", 37], [\"65933\", 37], [\"65673\", 37], [\"65674\", 37], [\"65924\", 37], [\"65724\", 37], [\"65946\", 37], [\"65947\", 37], [\"65948\", 37], [\"65949\", 37], [\"65978\", 37], [\"66135\", 37], [\"66181\", 37], [\"66242\", 37], [\"66308\", 37], [\"66062\", 37], [\"66063\", 37], [\"66064\", 37], [\"66065\", 37], [\"66095\", 37], [\"66245\", 37], [\"66246\", 37], [\"66247\", 37], [\"66248\", 37], [\"66249\", 37], [\"66250\", 37], [\"66251\", 37], [\"2641\", 38], [\"66186\", 38], [\"66187\", 38], [\"2645\", 38], [\"66183\", 38], [\"66184\", 38], [\"2648\", 38], [\"2649\", 38], [\"2650\", 38], [\"2651\", 38], [\"65663\", 38], [\"66182\", 38], [\"66312\", 38], [\"2662\", 38], [\"2663\", 38], [\"66481\", 38], [\"2664\", 38], [\"2772\", 38], [\"2805\", 38], [\"2806\", 38], [\"2807\", 38], [\"2897\", 38], [\"2898\", 38], [\"2911\", 38], [\"66402\", 38], [\"66403\", 38], [\"66482\", 38], [\"66708\", 38], [\"66807\", 38], [\"3014\", 38], [\"65905\", 38], [\"65906\", 38], [\"65907\", 38], [\"65535\", 38], [\"65727\", 38], [\"65728\", 38], [\"65730\", 38], [\"66185\", 38], [\"65853\", 38], [\"65854\", 38], [\"65856\", 38], [\"65857\", 38], [\"65858\", 38], [\"65859\", 38], [\"65861\", 38], [\"65956\", 38], [\"66396\", 38], [\"66706\", 38], [\"66707\", 38], [\"66719\", 38], [\"66720\", 38], [\"66743\", 38], [\"65754\", 65747], [\"66712\", 65747], [\"65817\", 65811], [\"65818\", 65811], [\"65819\", 65811], [\"65821\", 65811], [\"65824\", 65811], [\"65826\", 65811], [\"65827\", 65811], [\"65828\", 65811], [\"65829\", 65811], [\"65848\", 65811], [\"65830\", 65811], [\"65831\", 65811], [\"65833\", 65811], [\"65834\", 65811], [\"65849\", 65811], [\"65835\", 65811], [\"65836\", 65811], [\"65837\", 65811], [\"65838\", 65811], [\"65842\", 65811], [\"65839\", 65811], [\"65841\", 65811], [\"65865\", 65811], [\"66024\", 65811], [\"66166\", 65811], [\"66226\", 65811], [\"66483\", 65811], [\"65844\", 65811], [\"65845\", 65811], [\"65846\", 65811], [\"65847\", 65811], [\"66685\", 65811], [\"66703\", 65811], [\"66709\", 65811], [\"66710\", 65811], [\"66730\", 65811], [\"66732\", 65811], [\"66733\", 65811], [\"65916\", 65811], [\"66055\", 65811], [\"66056\", 65811], [\"66057\", 65811], [\"66058\", 65811], [\"66059\", 65811], [\"66534\", 66523], [\"66535\", 66523], [\"66536\", 66523], [\"66537\", 66523], [\"66538\", 66523], [\"66539\", 66523], [\"66540\", 66523], [\"66541\", 66523], [\"66545\", 66523], [\"66717\", 66523], [\"66542\", 66523], [\"66543\", 66523], [\"66544\", 66523], [\"66546\", 66523], [\"66547\", 66523], [\"66548\", 66523], [\"66549\", 66523], [\"66550\", 66523], [\"66551\", 66523], [\"66552\", 66523], [\"66553\", 66523], [\"66554\", 66523], [\"66555\", 66523], [\"66556\", 66523], [\"66557\", 66523], [\"66558\", 66523], [\"66559\", 66523], [\"66560\", 66523], [\"66561\", 66523], [\"66562\", 66523], [\"66563\", 66523], [\"66564\", 66523], [\"66565\", 66523], [\"66566\", 66523], [\"66567\", 66523], [\"66568\", 66523], [\"66569\", 66523], [\"66570\", 66523], [\"66572\", 66523], [\"66573\", 66523], [\"66574\", 66523], [\"66575\", 66523], [\"66576\", 66523], [\"66594\", 66523], [\"66595\", 66523], [\"66577\", 66523], [\"66579\", 66523], [\"66580\", 66523], [\"66581\", 66523], [\"66582\", 66523], [\"66583\", 66523], [\"66584\", 66523], [\"66586\", 66523], [\"66587\", 66523], [\"66588\", 66523], [\"66589\", 66523], [\"66590\", 66523], [\"66591\", 66523], [\"66592\", 66523], [\"66593\", 66523], [\"66744\", 66523], [\"66745\", 66523], [\"66746\", 66523], [\"66756\", 66523], [\"66585\", 66523], [\"66632\", 66630], [\"66633\", 66630], [\"66634\", 66630], [\"66636\", 66630], [\"66637\", 66630], [\"66638\", 66630], [\"66639\", 66630], [\"66640\", 66630], [\"66642\", 66630], [\"66643\", 66630], [\"66645\", 66630], [\"66646\", 66630], [\"66648\", 66630], [\"66649\", 66630], [\"66650\", 66630], [\"66651\", 66630], [\"66661\", 66630], [\"66662\", 66630], [\"66741\", 66630], [\"66742\", 66630], [\"66763\", 66630], [\"66764\", 66630], [\"66765\", 66630], [\"66770\", 66630], [\"66771\", 66630], [\"66772\", 66630], [\"66773\", 66630], [\"66774\", 66630], [\"66775\", 66630], [\"66777\", 66630], [\"66778\", 66630], [\"66779\", 66630], [\"66780\", 66630], [\"66781\", 66630], [\"66783\", 66630], [\"66784\", 66630], [\"66785\", 66630], [\"66786\", 66630], [\"66787\", 66630], [\"66789\", 66630], [\"66790\", 66630], [\"66791\", 66630], [\"66793\", 66630], [\"66794\", 66630], [\"66795\", 66630], [\"66796\", 66630], [\"66797\", 66630], [\"66798\", 66630], [\"66799\", 66630], [\"66800\", 66630], [\"66808\", 66630], [\"66810\", 66630], [\"66811\", 66630], [\"66812\", 66630], [\"66813\", 66630], [\"66814\", 66630], [\"66815\", 66630]];\n\nconst CAT_MAP = {\n  22:{c:4,e:128},25:{c:11,e:132},26:{c:11,e:132},27:{c:11,e:132},\n  30:{c:94,e:143},32:{c:516,e:137},37:{c:7,e:131},38:{c:9,e:129},\n  65747:{c:14,e:128},65811:{c:10,e:133},66523:{c:167,e:132},66630:{c:516,e:137}\n};\nconst UOM = {\"Pieza\":44,\"Piezas\":44,\"pieza\":44,\"pza\":44,\"Pza\":44,\"PZA\":44,\"Unidad\":27,\"Metro\":5,\"Metros\":5,\"Rollo\":39,\"Kit\":44,\"Set\":44,\"Par\":44,\"Juego\":44};\n\nasync function rpc(model,method,args,kw) {\n  if(!kw)kw={};\n  var r=await helpers.httpRequest({method:\"POST\",url:ODOO_URL,json:true,\n    body:{jsonrpc:\"2.0\",method:\"call\",id:Date.now(),\n      params:{service:\"object\",method:\"execute_kw\",args:[DB,UID,PWD,model,method,args],kwargs:kw}}});\n  if(r.error)throw new Error(JSON.stringify(r.error.data||r.error).substring(0,400));\n  return r.result;\n}\n\nasync function getToken() {\n  var r=await helpers.httpRequest({method:\"POST\",url:\"https://developers.syscom.mx/oauth/token\",\n    headers:{\"Content-Type\":\"application/x-www-form-urlencoded\"},\n    body:\"client_id=zq2u2Zr1VFGam5IzAg5UolwmeSnsChP7&client_secret=thdUXtjZunSRT4IB1ascUHIZlWsA5PhtIL9mBWVz&grant_type=client_credentials\"});\n  return r.access_token;\n}\n\nasync function imgB64(url) {\n  if(!url)return null;\n  try{var r=await helpers.httpRequest({method:\"GET\",url:url,encoding:\"arraybuffer\",options:{timeout:12000}});\n    if(r&&r.length>500)return Buffer.from(r).toString(\"base64\");return null;}catch(e){return null;}\n}\n\nvar num=function(v,d){if(d===undefined)d=0;var n=Number(v);return Number.isFinite(n)?n:d;};\nvar sd=$getWorkflowStaticData(\"global\");\nvar body=($input.all()[0]&&$input.all()[0].json&&$input.all()[0].json.body)||($input.all()[0]&&$input.all()[0].json)||{};\nif(body.action===\"reset\"){Object.keys(sd).forEach(function(k){delete sd[k]});return [{json:{_reset:true}}];}\n\nvar subIdx=sd.subIdx||0,pagina=sd.pagina||1;\nif(!sd.cycle)sd.cycle=0;if(!sd.created)sd.created=0;if(!sd.scanned)sd.scanned=0;if(!sd.errs)sd.errs=0;if(!sd.newList)sd.newList=[];\n\nif(subIdx>=SUBS.length){\n  var r2={_cycleComplete:true,cycle:sd.cycle+1,scanned:sd.scanned,created:sd.created,errors:sd.errs,newProducts:(sd.newList||[]).slice(0,30)};\n  sd.subIdx=0;sd.pagina=1;sd.cycle=(sd.cycle||0)+1;sd.created=0;sd.scanned=0;sd.errs=0;sd.newList=[];\n  return [{json:r2}];\n}\n\nvar syscomSubId=SUBS[subIdx][0],mainCatId=SUBS[subIdx][1];\nvar cm=CAT_MAP[mainCatId]||{c:14,e:128};\nvar token;\ntry{token=await getToken();}catch(e){return [{json:{status:\"error\",error:\"Token: \"+e.message}}];}\n\nvar productos=[],lastPage=false;\ntry{\n  var resp=await helpers.httpRequest({method:\"GET\",\n    url:\"https://developers.syscom.mx/api/v1/productos?categoria=\"+syscomSubId+\"&pagina=\"+pagina+\"&moneda=MXN\",\n    headers:{Authorization:\"Bearer \"+token},json:true,options:{timeout:30000}});\n  productos=resp.productos||[];\n  var tp=resp.paginas||0;\n  if(tp>0&&pagina>=tp)lastPage=true;\n  if(!productos.length)lastPage=true;\n}catch(e){sd.subIdx=subIdx+1;sd.pagina=1;return [{json:{status:\"skip\"}}];}\n\nif(!productos.length){sd.subIdx=subIdx+1;sd.pagina=1;return [{json:{_empty:true}}];}\nif(productos.length>BATCH)productos=productos.slice(0,BATCH);\n\nvar created=0,errs=0;\n\nfor(var i=0;i<productos.length;i++){\n  var p=productos[i];\n  var sku=String(p.modelo||\"\").trim();\n  if(!sku)continue;\n  sd.scanned=(sd.scanned||0)+1;\n  \n  try{\n    // Check if exists in Odoo\n    var ex=await rpc(\"product.template\",\"search_read\",[[[\"default_code\",\"=\",sku]]],{fields:[\"id\"],limit:1});\n    if(ex&&ex.length)continue; // Already exists\n    \n    // Also check barcode\n    var ex2=await rpc(\"product.template\",\"search_read\",[[[\"barcode\",\"=\",sku]]],{fields:[\"id\"],limit:1});\n    if(ex2&&ex2.length)continue;\n    \n    // NEW PRODUCT \u2014 create it\n    var costo=num(p.precios&&(p.precios.precio_descuento||p.precios.precio_1),0);\n    var lp=costo>0?Math.round(((costo*1.16)/0.7)*100)/100:0;\n    var uomId=UOM[(p.unidad_de_medida&&p.unidad_de_medida.nombre)||\"Pieza\"]||44;\n    var satKey=String(p.sat_key||\"\");\n    \n    var vals={name:String(p.titulo||\"Sin nombre\"),default_code:sku,barcode:sku,\n      standard_price:costo,list_price:lp,categ_id:cm.c,uom_id:uomId,is_storable:true,\n      property_account_income_id:INCOME,property_account_expense_id:cm.e,\n      sale_ok:true,purchase_ok:true};\n    if(p.marca)vals.description_sale=\"Marca: \"+p.marca;\n    \n    // SAT code\n    if(satKey&&satKey.length>=4&&satKey!==\"null\"){\n      try{var sat=await rpc(\"product.unspsc.code\",\"search_read\",[[[\"code\",\"=\",satKey]]],{fields:[\"id\"],limit:1});\n        if(sat&&sat.length)vals.unspsc_code_id=sat[0].id;}catch(e){}\n    }\n    \n    // Image\n    var imgUrl=String(p.img_portada||\"\");\n    if(imgUrl){var img=await imgB64(imgUrl);if(img){vals.image_1920=img;img=null;}}\n    \n    try{\n      var prodId=await rpc(\"product.template\",\"create\",[vals]);\n      created++;sd.created=(sd.created||0)+1;\n      if((sd.newList||[]).length<50){\n        sd.newList.push({sku:sku,name:String(p.titulo||\"\").substring(0,40),price:lp});\n      }\n    }catch(ce){\n      var em=String(ce.message);\n      if(em.indexOf(\"barcode\")>=0||em.indexOf(\"Codigo\")>=0){\n        delete vals.barcode;\n        try{await rpc(\"product.template\",\"create\",[vals]);created++;sd.created=(sd.created||0)+1;}\n        catch(e2){errs++;sd.errs=(sd.errs||0)+1;}\n      }else{errs++;sd.errs=(sd.errs||0)+1;}\n    }\n    delete vals.image_1920;\n  }catch(e){errs++;sd.errs=(sd.errs||0)+1;}\n}\n\nif(lastPage||productos.length<BATCH){sd.subIdx=subIdx+1;sd.pagina=1;}\nelse{sd.pagina=pagina+1;}\n\nreturn [{json:{_summary:true,subIdx:subIdx,pagina:pagina,batch:productos.length,created:created,errs:errs,\n  global:{sub:sd.subIdx,scanned:sd.scanned,created:sd.created,errs:sd.errs,cycle:sd.cycle,newCount:(sd.newList||[]).length}\n}}];\n"
            },
            "id": "c1",
            "name": "Detect New",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                470,
                400
            ]
        }
    ],
    "connections": {
        "Daily 1am CST": {
            "main": [
                [
                    {
                        "node": "Detect New",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Detect New",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": {
        "node:Daily 1am CST": {
            "recurrenceRules": []
        },
        "global": {
            "cycle": 0,
            "created": 0,
            "scanned": 81,
            "errs": 34,
            "newList": [],
            "pagina": 2,
            "subIdx": 4
        }
    },
    "meta": null,
    "pinData": null,
    "versionId": "6627423e-8605-47b3-9676-a722589b7e14",
    "activeVersionId": "6627423e-8605-47b3-9676-a722589b7e14",
    "versionCounter": 16,
    "triggerCount": 2,
    "shared": [
        {
            "updatedAt": "2026-03-25T17:06:33.036Z",
            "createdAt": "2026-03-25T17:06:33.036Z",
            "role": "workflow:owner",
            "workflowId": "IHbypZWRzHURVkK0",
            "projectId": "1ugGQHoQVF6DXsWx",
            "project": {
                "updatedAt": "2025-07-21T19:08:05.727Z",
                "createdAt": "2025-07-21T19:06:54.563Z",
                "id": "1ugGQHoQVF6DXsWx",
                "name": "Felipe De Alba <pipess21@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-30T17:30:14.598Z",
        "createdAt": "2026-03-30T17:30:14.598Z",
        "versionId": "6627423e-8605-47b3-9676-a722589b7e14",
        "workflowId": "IHbypZWRzHURVkK0",
        "nodes": [
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 7 * * *"
                            }
                        ]
                    }
                },
                "id": "s1",
                "name": "Daily 1am CST",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    250,
                    300
                ]
            },
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "detect-altas",
                    "responseMode": "lastNode",
                    "options": {}
                },
                "id": "w1",
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    250,
                    500
                ],
                "webhookId": "detect-altas"
            },
            {
                "parameters": {
                    "jsCode": "// WF3: Detector de Altas \u2014 diario 1:00 AM\n// Finds Syscom products NOT in Odoo, creates them with image+stock\nconst ODOO_URL = \"https://ocean-tech.odoo.com/jsonrpc\";\nconst DB = \"ocean-tech\", UID = 2, PWD = \"M1ercole$\";\nconst INCOME = 145, STOCK_LOC = 8, BATCH = 15;\nconst helpers = this.helpers;\nconst SUBS = [[\"1295\", 22], [\"1299\", 22], [\"1301\", 22], [\"1310\", 22], [\"1420\", 22], [\"1421\", 22], [\"2294\", 22], [\"3054\", 22], [\"65804\", 22], [\"65867\", 22], [\"65868\", 22], [\"65869\", 22], [\"65925\", 22], [\"1302\", 22], [\"2975\", 22], [\"2976\", 22], [\"66011\", 22], [\"66012\", 22], [\"66013\", 22], [\"66014\", 22], [\"66040\", 22], [\"66169\", 22], [\"66170\", 22], [\"1320\", 22], [\"1321\", 22], [\"1323\", 22], [\"1324\", 22], [\"1325\", 22], [\"1326\", 22], [\"1379\", 22], [\"1383\", 22], [\"2672\", 22], [\"65610\", 22], [\"65851\", 22], [\"65870\", 22], [\"65940\", 22], [\"66149\", 22], [\"225\", 22], [\"1349\", 22], [\"1350\", 22], [\"1365\", 22], [\"1965\", 22], [\"1976\", 22], [\"3024\", 22], [\"65977\", 22], [\"66015\", 22], [\"66016\", 22], [\"66018\", 22], [\"66238\", 22], [\"66375\", 22], [\"66377\", 22], [\"1354\", 22], [\"1355\", 22], [\"1356\", 22], [\"1380\", 22], [\"2910\", 22], [\"1410\", 22], [\"1411\", 22], [\"1412\", 22], [\"1413\", 22], [\"1414\", 22], [\"65958\", 22], [\"66299\", 22], [\"2809\", 22], [\"65775\", 22], [\"65776\", 22], [\"65777\", 22], [\"65778\", 22], [\"65779\", 22], [\"65850\", 22], [\"65975\", 22], [\"65976\", 22], [\"66255\", 22], [\"3020\", 22], [\"3021\", 22], [\"3022\", 22], [\"3023\", 22], [\"65665\", 22], [\"65810\", 22], [\"66490\", 22], [\"66491\", 22], [\"66492\", 22], [\"1340\", 22], [\"65964\", 22], [\"65965\", 22], [\"65966\", 22], [\"65967\", 22], [\"65973\", 22], [\"66268\", 22], [\"66332\", 22], [\"66479\", 22], [\"66739\", 22], [\"65969\", 22], [\"65970\", 22], [\"65971\", 22], [\"65972\", 22], [\"65983\", 22], [\"65984\", 22], [\"65985\", 22], [\"65987\", 22], [\"65988\", 22], [\"65990\", 22], [\"65992\", 22], [\"66004\", 22], [\"66005\", 22], [\"66684\", 22], [\"66738\", 22], [\"66370\", 22], [\"66473\", 22], [\"66474\", 22], [\"66758\", 22], [\"65568\", 25], [\"65570\", 25], [\"65571\", 25], [\"65572\", 25], [\"65573\", 25], [\"65574\", 25], [\"65794\", 25], [\"65795\", 25], [\"65796\", 25], [\"65797\", 25], [\"65559\", 25], [\"65561\", 25], [\"65562\", 25], [\"65563\", 25], [\"65564\", 25], [\"65565\", 25], [\"65566\", 25], [\"65786\", 25], [\"65787\", 25], [\"65788\", 25], [\"65789\", 25], [\"65550\", 25], [\"65552\", 25], [\"65553\", 25], [\"65554\", 25], [\"65555\", 25], [\"65556\", 25], [\"65557\", 25], [\"65790\", 25], [\"65791\", 25], [\"65792\", 25], [\"65798\", 25], [\"66273\", 25], [\"65541\", 25], [\"65543\", 25], [\"65544\", 25], [\"65546\", 25], [\"65548\", 25], [\"65782\", 25], [\"65783\", 25], [\"65784\", 25], [\"65785\", 25], [\"65576\", 25], [\"65578\", 25], [\"65579\", 25], [\"65580\", 25], [\"65581\", 25], [\"65582\", 25], [\"65799\", 25], [\"65800\", 25], [\"65801\", 25], [\"65802\", 25], [\"1697\", 25], [\"1698\", 25], [\"1787\", 25], [\"65583\", 25], [\"65584\", 25], [\"65585\", 25], [\"65586\", 25], [\"65607\", 25], [\"65611\", 25], [\"1799\", 25], [\"1807\", 25], [\"1808\", 25], [\"1814\", 25], [\"1830\", 25], [\"1834\", 25], [\"1838\", 25], [\"1842\", 25], [\"3110\", 25], [\"3111\", 25], [\"3113\", 25], [\"3114\", 25], [\"1804\", 25], [\"1864\", 25], [\"1866\", 25], [\"1871\", 25], [\"1879\", 25], [\"3120\", 25], [\"3121\", 25], [\"65627\", 25], [\"65629\", 25], [\"65632\", 25], [\"65744\", 25], [\"65764\", 25], [\"1893\", 25], [\"1895\", 25], [\"66041\", 25], [\"2177\", 25], [\"65536\", 25], [\"65538\", 25], [\"65701\", 25], [\"65866\", 25], [\"2471\", 25], [\"2473\", 25], [\"2480\", 25], [\"2483\", 25], [\"2484\", 25], [\"2485\", 25], [\"2674\", 25], [\"3096\", 25], [\"2766\", 25], [\"3066\", 25], [\"65639\", 25], [\"65640\", 25], [\"65641\", 25], [\"65642\", 25], [\"65753\", 25], [\"65636\", 25], [\"65637\", 25], [\"3073\", 25], [\"3074\", 25], [\"3075\", 25], [\"3076\", 25], [\"3077\", 25], [\"3078\", 25], [\"3079\", 25], [\"3080\", 25], [\"3081\", 25], [\"3082\", 25], [\"3083\", 25], [\"3084\", 25], [\"65623\", 25], [\"65624\", 25], [\"66401\", 25], [\"65650\", 25], [\"65651\", 25], [\"65652\", 25], [\"65653\", 25], [\"65654\", 25], [\"65655\", 25], [\"65759\", 25], [\"65688\", 25], [\"65689\", 25], [\"65690\", 25], [\"65691\", 25], [\"65692\", 25], [\"65693\", 25], [\"65694\", 25], [\"65695\", 25], [\"65696\", 25], [\"65697\", 25], [\"65928\", 25], [\"1884\", 25], [\"1886\", 25], [\"1887\", 25], [\"1888\", 25], [\"1890\", 25], [\"65720\", 25], [\"65930\", 25], [\"65931\", 25], [\"66297\", 25], [\"66298\", 25], [\"65705\", 25], [\"65707\", 25], [\"65708\", 25], [\"65709\", 25], [\"65710\", 25], [\"65711\", 25], [\"65712\", 25], [\"65719\", 25], [\"65746\", 25], [\"65762\", 25], [\"65773\", 25], [\"65805\", 25], [\"66302\", 25], [\"65922\", 25], [\"65923\", 25], [\"66397\", 25], [\"66263\", 25], [\"66264\", 25], [\"66265\", 25], [\"66266\", 25], [\"66342\", 25], [\"66484\", 25], [\"66119\", 25], [\"66303\", 25], [\"66304\", 25], [\"66305\", 25], [\"66306\", 25], [\"66307\", 25], [\"66394\", 25], [\"66714\", 25], [\"66715\", 25], [\"66162\", 25], [\"66163\", 25], [\"66164\", 25], [\"66165\", 25], [\"66335\", 25], [\"66486\", 25], [\"66487\", 25], [\"66488\", 25], [\"66722\", 25], [\"66723\", 25], [\"66729\", 25], [\"2888\", 26], [\"1915\", 26], [\"1918\", 26], [\"1926\", 26], [\"1927\", 26], [\"1928\", 26], [\"2915\", 26], [\"3045\", 26], [\"65609\", 26], [\"66167\", 26], [\"66314\", 26], [\"66318\", 26], [\"3092\", 26], [\"3094\", 26], [\"66029\", 26], [\"66031\", 26], [\"66032\", 26], [\"66033\", 26], [\"66035\", 26], [\"66036\", 26], [\"66037\", 26], [\"66039\", 26], [\"66060\", 26], [\"65893\", 26], [\"65894\", 26], [\"65895\", 26], [\"65896\", 26], [\"65959\", 26], [\"2470\", 26], [\"2472\", 26], [\"2474\", 26], [\"2477\", 26], [\"2478\", 26], [\"2479\", 26], [\"2675\", 26], [\"3097\", 26], [\"65668\", 26], [\"2977\", 26], [\"2978\", 26], [\"2979\", 26], [\"65621\", 26], [\"65622\", 26], [\"65635\", 26], [\"65760\", 26], [\"3016\", 26], [\"3017\", 26], [\"3018\", 26], [\"3019\", 26], [\"3047\", 26], [\"66174\", 26], [\"66194\", 26], [\"66278\", 26], [\"65881\", 26], [\"65882\", 26], [\"65883\", 26], [\"65884\", 26], [\"65953\", 26], [\"65885\", 26], [\"65886\", 26], [\"65954\", 26], [\"65887\", 26], [\"65888\", 26], [\"65889\", 26], [\"65890\", 26], [\"65892\", 26], [\"66067\", 26], [\"66178\", 26], [\"65919\", 26], [\"65920\", 26], [\"66177\", 26], [\"66106\", 26], [\"66107\", 26], [\"66108\", 26], [\"66109\", 26], [\"66110\", 26], [\"66267\", 26], [\"66747\", 26], [\"66748\", 26], [\"66757\", 26], [\"66664\", 26], [\"66665\", 26], [\"66666\", 26], [\"66667\", 26], [\"66668\", 26], [\"66669\", 26], [\"66670\", 26], [\"66671\", 26], [\"66759\", 26], [\"66760\", 26], [\"66761\", 26], [\"66673\", 26], [\"66674\", 26], [\"66675\", 26], [\"66676\", 26], [\"66677\", 26], [\"66678\", 26], [\"66679\", 26], [\"66681\", 26], [\"66682\", 26], [\"66683\", 26], [\"2944\", 27], [\"2945\", 27], [\"2946\", 27], [\"2947\", 27], [\"2949\", 27], [\"2950\", 27], [\"2951\", 27], [\"2952\", 27], [\"2953\", 27], [\"2954\", 27], [\"2955\", 27], [\"2957\", 27], [\"2958\", 27], [\"2959\", 27], [\"2960\", 27], [\"2961\", 27], [\"2962\", 27], [\"2963\", 27], [\"2964\", 27], [\"2965\", 27], [\"2966\", 27], [\"2967\", 27], [\"2968\", 27], [\"2969\", 27], [\"2970\", 27], [\"2971\", 27], [\"2972\", 27], [\"2973\", 27], [\"2974\", 27], [\"66317\", 27], [\"65656\", 27], [\"65657\", 27], [\"65658\", 27], [\"65660\", 27], [\"65666\", 27], [\"65667\", 27], [\"65809\", 27], [\"66160\", 27], [\"66337\", 27], [\"66338\", 27], [\"66339\", 27], [\"66340\", 27], [\"66341\", 27], [\"66346\", 27], [\"66518\", 27], [\"66520\", 27], [\"66521\", 27], [\"66353\", 27], [\"66354\", 27], [\"66355\", 27], [\"66356\", 27], [\"66357\", 27], [\"66358\", 27], [\"66360\", 27], [\"66361\", 27], [\"66596\", 27], [\"66597\", 27], [\"66598\", 27], [\"66363\", 27], [\"66364\", 27], [\"66504\", 27], [\"66514\", 27], [\"66516\", 27], [\"66522\", 27], [\"66405\", 30], [\"66406\", 30], [\"66407\", 30], [\"66408\", 30], [\"66502\", 30], [\"66410\", 30], [\"66412\", 30], [\"66413\", 30], [\"66414\", 30], [\"66415\", 30], [\"66416\", 30], [\"66417\", 30], [\"66419\", 30], [\"66420\", 30], [\"66468\", 30], [\"66501\", 30], [\"66686\", 30], [\"66687\", 30], [\"66688\", 30], [\"66689\", 30], [\"66690\", 30], [\"66718\", 30], [\"66422\", 30], [\"66423\", 30], [\"66469\", 30], [\"66725\", 30], [\"66726\", 30], [\"66727\", 30], [\"66728\", 30], [\"66425\", 30], [\"66426\", 30], [\"66427\", 30], [\"66428\", 30], [\"66429\", 30], [\"66430\", 30], [\"66431\", 30], [\"66432\", 30], [\"66433\", 30], [\"66435\", 30], [\"66436\", 30], [\"66438\", 30], [\"66439\", 30], [\"66440\", 30], [\"66493\", 30], [\"66494\", 30], [\"66716\", 30], [\"66735\", 30], [\"66736\", 30], [\"66737\", 30], [\"66443\", 30], [\"66444\", 30], [\"66445\", 30], [\"66446\", 30], [\"66694\", 30], [\"66695\", 30], [\"66696\", 30], [\"66448\", 30], [\"66449\", 30], [\"66450\", 30], [\"66711\", 30], [\"66452\", 30], [\"66455\", 30], [\"66500\", 30], [\"66503\", 30], [\"66724\", 30], [\"66749\", 30], [\"66750\", 30], [\"66751\", 30], [\"66752\", 30], [\"66753\", 30], [\"66754\", 30], [\"66755\", 30], [\"66766\", 30], [\"66767\", 30], [\"66768\", 30], [\"66458\", 30], [\"66459\", 30], [\"66460\", 30], [\"66461\", 30], [\"66462\", 30], [\"66463\", 30], [\"66464\", 30], [\"66465\", 30], [\"66466\", 30], [\"66467\", 30], [\"66489\", 30], [\"66471\", 30], [\"66472\", 30], [\"66496\", 30], [\"66497\", 30], [\"66498\", 30], [\"66499\", 30], [\"66692\", 30], [\"66693\", 30], [\"1632\", 32], [\"1634\", 32], [\"1636\", 32], [\"1637\", 32], [\"1638\", 32], [\"1639\", 32], [\"1640\", 32], [\"1641\", 32], [\"65960\", 32], [\"2924\", 32], [\"2330\", 32], [\"2331\", 32], [\"2333\", 32], [\"2334\", 32], [\"2335\", 32], [\"2336\", 32], [\"2345\", 32], [\"2346\", 32], [\"2347\", 32], [\"2348\", 32], [\"2350\", 32], [\"2351\", 32], [\"2395\", 32], [\"369\", 32], [\"2354\", 32], [\"2355\", 32], [\"2356\", 32], [\"2357\", 32], [\"2358\", 32], [\"2359\", 32], [\"2360\", 32], [\"2361\", 32], [\"2362\", 32], [\"2363\", 32], [\"2364\", 32], [\"2392\", 32], [\"2393\", 32], [\"2394\", 32], [\"2401\", 32], [\"66147\", 32], [\"66252\", 32], [\"2366\", 32], [\"2673\", 32], [\"65936\", 32], [\"2368\", 32], [\"2369\", 32], [\"2370\", 32], [\"2371\", 32], [\"3025\", 32], [\"3026\", 32], [\"3027\", 32], [\"3028\", 32], [\"3038\", 32], [\"2402\", 32], [\"2403\", 32], [\"2404\", 32], [\"2405\", 32], [\"65864\", 32], [\"65927\", 32], [\"66254\", 32], [\"66713\", 32], [\"2669\", 32], [\"2670\", 32], [\"2773\", 32], [\"2902\", 32], [\"2903\", 32], [\"65781\", 32], [\"65873\", 32], [\"65874\", 32], [\"65875\", 32], [\"65876\", 32], [\"66028\", 32], [\"66207\", 32], [\"66208\", 32], [\"66209\", 32], [\"66210\", 32], [\"66211\", 32], [\"66213\", 32], [\"66214\", 32], [\"66216\", 32], [\"66235\", 32], [\"66301\", 32], [\"66315\", 32], [\"65537\", 32], [\"65732\", 32], [\"65733\", 32], [\"65734\", 32], [\"65735\", 32], [\"65935\", 32], [\"66329\", 32], [\"65863\", 32], [\"66215\", 32], [\"66274\", 32], [\"66731\", 32], [\"66026\", 32], [\"66285\", 32], [\"66286\", 32], [\"66287\", 32], [\"66343\", 32], [\"66372\", 32], [\"66373\", 32], [\"66400\", 32], [\"66478\", 32], [\"66704\", 32], [\"66600\", 32], [\"66601\", 32], [\"66602\", 32], [\"66615\", 32], [\"66616\", 32], [\"66617\", 32], [\"66618\", 32], [\"66628\", 32], [\"66629\", 32], [\"2520\", 37], [\"2521\", 37], [\"2522\", 37], [\"2523\", 37], [\"2524\", 37], [\"2527\", 37], [\"2884\", 37], [\"2885\", 37], [\"2939\", 37], [\"3115\", 37], [\"66141\", 37], [\"2936\", 37], [\"3001\", 37], [\"3002\", 37], [\"3003\", 37], [\"3004\", 37], [\"3005\", 37], [\"3006\", 37], [\"66234\", 37], [\"2539\", 37], [\"2553\", 37], [\"2554\", 37], [\"2940\", 37], [\"2941\", 37], [\"65669\", 37], [\"2568\", 37], [\"66093\", 37], [\"66094\", 37], [\"2574\", 37], [\"2578\", 37], [\"2581\", 37], [\"2625\", 37], [\"2588\", 37], [\"2589\", 37], [\"2590\", 37], [\"2591\", 37], [\"66241\", 37], [\"2611\", 37], [\"2612\", 37], [\"65763\", 37], [\"65974\", 37], [\"66192\", 37], [\"66193\", 37], [\"2617\", 37], [\"2618\", 37], [\"2620\", 37], [\"2769\", 37], [\"66136\", 37], [\"66137\", 37], [\"66138\", 37], [\"66139\", 37], [\"66140\", 37], [\"2774\", 37], [\"2775\", 37], [\"2776\", 37], [\"2777\", 37], [\"2778\", 37], [\"2779\", 37], [\"65952\", 37], [\"66300\", 37], [\"2890\", 37], [\"2892\", 37], [\"2893\", 37], [\"2925\", 37], [\"2926\", 37], [\"2927\", 37], [\"2928\", 37], [\"2929\", 37], [\"2938\", 37], [\"65684\", 37], [\"66066\", 37], [\"66068\", 37], [\"66086\", 37], [\"66087\", 37], [\"3048\", 37], [\"3049\", 37], [\"3050\", 37], [\"3051\", 37], [\"3116\", 37], [\"3117\", 37], [\"3118\", 37], [\"3119\", 37], [\"65933\", 37], [\"65673\", 37], [\"65674\", 37], [\"65924\", 37], [\"65724\", 37], [\"65946\", 37], [\"65947\", 37], [\"65948\", 37], [\"65949\", 37], [\"65978\", 37], [\"66135\", 37], [\"66181\", 37], [\"66242\", 37], [\"66308\", 37], [\"66062\", 37], [\"66063\", 37], [\"66064\", 37], [\"66065\", 37], [\"66095\", 37], [\"66245\", 37], [\"66246\", 37], [\"66247\", 37], [\"66248\", 37], [\"66249\", 37], [\"66250\", 37], [\"66251\", 37], [\"2641\", 38], [\"66186\", 38], [\"66187\", 38], [\"2645\", 38], [\"66183\", 38], [\"66184\", 38], [\"2648\", 38], [\"2649\", 38], [\"2650\", 38], [\"2651\", 38], [\"65663\", 38], [\"66182\", 38], [\"66312\", 38], [\"2662\", 38], [\"2663\", 38], [\"66481\", 38], [\"2664\", 38], [\"2772\", 38], [\"2805\", 38], [\"2806\", 38], [\"2807\", 38], [\"2897\", 38], [\"2898\", 38], [\"2911\", 38], [\"66402\", 38], [\"66403\", 38], [\"66482\", 38], [\"66708\", 38], [\"66807\", 38], [\"3014\", 38], [\"65905\", 38], [\"65906\", 38], [\"65907\", 38], [\"65535\", 38], [\"65727\", 38], [\"65728\", 38], [\"65730\", 38], [\"66185\", 38], [\"65853\", 38], [\"65854\", 38], [\"65856\", 38], [\"65857\", 38], [\"65858\", 38], [\"65859\", 38], [\"65861\", 38], [\"65956\", 38], [\"66396\", 38], [\"66706\", 38], [\"66707\", 38], [\"66719\", 38], [\"66720\", 38], [\"66743\", 38], [\"65754\", 65747], [\"66712\", 65747], [\"65817\", 65811], [\"65818\", 65811], [\"65819\", 65811], [\"65821\", 65811], [\"65824\", 65811], [\"65826\", 65811], [\"65827\", 65811], [\"65828\", 65811], [\"65829\", 65811], [\"65848\", 65811], [\"65830\", 65811], [\"65831\", 65811], [\"65833\", 65811], [\"65834\", 65811], [\"65849\", 65811], [\"65835\", 65811], [\"65836\", 65811], [\"65837\", 65811], [\"65838\", 65811], [\"65842\", 65811], [\"65839\", 65811], [\"65841\", 65811], [\"65865\", 65811], [\"66024\", 65811], [\"66166\", 65811], [\"66226\", 65811], [\"66483\", 65811], [\"65844\", 65811], [\"65845\", 65811], [\"65846\", 65811], [\"65847\", 65811], [\"66685\", 65811], [\"66703\", 65811], [\"66709\", 65811], [\"66710\", 65811], [\"66730\", 65811], [\"66732\", 65811], [\"66733\", 65811], [\"65916\", 65811], [\"66055\", 65811], [\"66056\", 65811], [\"66057\", 65811], [\"66058\", 65811], [\"66059\", 65811], [\"66534\", 66523], [\"66535\", 66523], [\"66536\", 66523], [\"66537\", 66523], [\"66538\", 66523], [\"66539\", 66523], [\"66540\", 66523], [\"66541\", 66523], [\"66545\", 66523], [\"66717\", 66523], [\"66542\", 66523], [\"66543\", 66523], [\"66544\", 66523], [\"66546\", 66523], [\"66547\", 66523], [\"66548\", 66523], [\"66549\", 66523], [\"66550\", 66523], [\"66551\", 66523], [\"66552\", 66523], [\"66553\", 66523], [\"66554\", 66523], [\"66555\", 66523], [\"66556\", 66523], [\"66557\", 66523], [\"66558\", 66523], [\"66559\", 66523], [\"66560\", 66523], [\"66561\", 66523], [\"66562\", 66523], [\"66563\", 66523], [\"66564\", 66523], [\"66565\", 66523], [\"66566\", 66523], [\"66567\", 66523], [\"66568\", 66523], [\"66569\", 66523], [\"66570\", 66523], [\"66572\", 66523], [\"66573\", 66523], [\"66574\", 66523], [\"66575\", 66523], [\"66576\", 66523], [\"66594\", 66523], [\"66595\", 66523], [\"66577\", 66523], [\"66579\", 66523], [\"66580\", 66523], [\"66581\", 66523], [\"66582\", 66523], [\"66583\", 66523], [\"66584\", 66523], [\"66586\", 66523], [\"66587\", 66523], [\"66588\", 66523], [\"66589\", 66523], [\"66590\", 66523], [\"66591\", 66523], [\"66592\", 66523], [\"66593\", 66523], [\"66744\", 66523], [\"66745\", 66523], [\"66746\", 66523], [\"66756\", 66523], [\"66585\", 66523], [\"66632\", 66630], [\"66633\", 66630], [\"66634\", 66630], [\"66636\", 66630], [\"66637\", 66630], [\"66638\", 66630], [\"66639\", 66630], [\"66640\", 66630], [\"66642\", 66630], [\"66643\", 66630], [\"66645\", 66630], [\"66646\", 66630], [\"66648\", 66630], [\"66649\", 66630], [\"66650\", 66630], [\"66651\", 66630], [\"66661\", 66630], [\"66662\", 66630], [\"66741\", 66630], [\"66742\", 66630], [\"66763\", 66630], [\"66764\", 66630], [\"66765\", 66630], [\"66770\", 66630], [\"66771\", 66630], [\"66772\", 66630], [\"66773\", 66630], [\"66774\", 66630], [\"66775\", 66630], [\"66777\", 66630], [\"66778\", 66630], [\"66779\", 66630], [\"66780\", 66630], [\"66781\", 66630], [\"66783\", 66630], [\"66784\", 66630], [\"66785\", 66630], [\"66786\", 66630], [\"66787\", 66630], [\"66789\", 66630], [\"66790\", 66630], [\"66791\", 66630], [\"66793\", 66630], [\"66794\", 66630], [\"66795\", 66630], [\"66796\", 66630], [\"66797\", 66630], [\"66798\", 66630], [\"66799\", 66630], [\"66800\", 66630], [\"66808\", 66630], [\"66810\", 66630], [\"66811\", 66630], [\"66812\", 66630], [\"66813\", 66630], [\"66814\", 66630], [\"66815\", 66630]];\n\nconst CAT_MAP = {\n  22:{c:4,e:128},25:{c:11,e:132},26:{c:11,e:132},27:{c:11,e:132},\n  30:{c:94,e:143},32:{c:516,e:137},37:{c:7,e:131},38:{c:9,e:129},\n  65747:{c:14,e:128},65811:{c:10,e:133},66523:{c:167,e:132},66630:{c:516,e:137}\n};\nconst UOM = {\"Pieza\":44,\"Piezas\":44,\"pieza\":44,\"pza\":44,\"Pza\":44,\"PZA\":44,\"Unidad\":27,\"Metro\":5,\"Metros\":5,\"Rollo\":39,\"Kit\":44,\"Set\":44,\"Par\":44,\"Juego\":44};\n\nasync function rpc(model,method,args,kw) {\n  if(!kw)kw={};\n  var r=await helpers.httpRequest({method:\"POST\",url:ODOO_URL,json:true,\n    body:{jsonrpc:\"2.0\",method:\"call\",id:Date.now(),\n      params:{service:\"object\",method:\"execute_kw\",args:[DB,UID,PWD,model,method,args],kwargs:kw}}});\n  if(r.error)throw new Error(JSON.stringify(r.error.data||r.error).substring(0,400));\n  return r.result;\n}\n\nasync function getToken() {\n  var r=await helpers.httpRequest({method:\"POST\",url:\"https://developers.syscom.mx/oauth/token\",\n    headers:{\"Content-Type\":\"application/x-www-form-urlencoded\"},\n    body:\"client_id=zq2u2Zr1VFGam5IzAg5UolwmeSnsChP7&client_secret=thdUXtjZunSRT4IB1ascUHIZlWsA5PhtIL9mBWVz&grant_type=client_credentials\"});\n  return r.access_token;\n}\n\nasync function imgB64(url) {\n  if(!url)return null;\n  try{var r=await helpers.httpRequest({method:\"GET\",url:url,encoding:\"arraybuffer\",options:{timeout:12000}});\n    if(r&&r.length>500)return Buffer.from(r).toString(\"base64\");return null;}catch(e){return null;}\n}\n\nvar num=function(v,d){if(d===undefined)d=0;var n=Number(v);return Number.isFinite(n)?n:d;};\nvar sd=$getWorkflowStaticData(\"global\");\nvar body=($input.all()[0]&&$input.all()[0].json&&$input.all()[0].json.body)||($input.all()[0]&&$input.all()[0].json)||{};\nif(body.action===\"reset\"){Object.keys(sd).forEach(function(k){delete sd[k]});return [{json:{_reset:true}}];}\n\nvar subIdx=sd.subIdx||0,pagina=sd.pagina||1;\nif(!sd.cycle)sd.cycle=0;if(!sd.created)sd.created=0;if(!sd.scanned)sd.scanned=0;if(!sd.errs)sd.errs=0;if(!sd.newList)sd.newList=[];\n\nif(subIdx>=SUBS.length){\n  var r2={_cycleComplete:true,cycle:sd.cycle+1,scanned:sd.scanned,created:sd.created,errors:sd.errs,newProducts:(sd.newList||[]).slice(0,30)};\n  sd.subIdx=0;sd.pagina=1;sd.cycle=(sd.cycle||0)+1;sd.created=0;sd.scanned=0;sd.errs=0;sd.newList=[];\n  return [{json:r2}];\n}\n\nvar syscomSubId=SUBS[subIdx][0],mainCatId=SUBS[subIdx][1];\nvar cm=CAT_MAP[mainCatId]||{c:14,e:128};\nvar token;\ntry{token=await getToken();}catch(e){return [{json:{status:\"error\",error:\"Token: \"+e.message}}];}\n\nvar productos=[],lastPage=false;\ntry{\n  var resp=await helpers.httpRequest({method:\"GET\",\n    url:\"https://developers.syscom.mx/api/v1/productos?categoria=\"+syscomSubId+\"&pagina=\"+pagina+\"&moneda=MXN\",\n    headers:{Authorization:\"Bearer \"+token},json:true,options:{timeout:30000}});\n  productos=resp.productos||[];\n  var tp=resp.paginas||0;\n  if(tp>0&&pagina>=tp)lastPage=true;\n  if(!productos.length)lastPage=true;\n}catch(e){sd.subIdx=subIdx+1;sd.pagina=1;return [{json:{status:\"skip\"}}];}\n\nif(!productos.length){sd.subIdx=subIdx+1;sd.pagina=1;return [{json:{_empty:true}}];}\nif(productos.length>BATCH)productos=productos.slice(0,BATCH);\n\nvar created=0,errs=0;\n\nfor(var i=0;i<productos.length;i++){\n  var p=productos[i];\n  var sku=String(p.modelo||\"\").trim();\n  if(!sku)continue;\n  sd.scanned=(sd.scanned||0)+1;\n  \n  try{\n    // Check if exists in Odoo\n    var ex=await rpc(\"product.template\",\"search_read\",[[[\"default_code\",\"=\",sku]]],{fields:[\"id\"],limit:1});\n    if(ex&&ex.length)continue; // Already exists\n    \n    // Also check barcode\n    var ex2=await rpc(\"product.template\",\"search_read\",[[[\"barcode\",\"=\",sku]]],{fields:[\"id\"],limit:1});\n    if(ex2&&ex2.length)continue;\n    \n    // NEW PRODUCT \u2014 create it\n    var costo=num(p.precios&&(p.precios.precio_descuento||p.precios.precio_1),0);\n    var lp=costo>0?Math.round(((costo*1.16)/0.7)*100)/100:0;\n    var uomId=UOM[(p.unidad_de_medida&&p.unidad_de_medida.nombre)||\"Pieza\"]||44;\n    var satKey=String(p.sat_key||\"\");\n    \n    var vals={name:String(p.titulo||\"Sin nombre\"),default_code:sku,barcode:sku,\n      standard_price:costo,list_price:lp,categ_id:cm.c,uom_id:uomId,is_storable:true,\n      property_account_income_id:INCOME,property_account_expense_id:cm.e,\n      sale_ok:true,purchase_ok:true};\n    if(p.marca)vals.description_sale=\"Marca: \"+p.marca;\n    \n    // SAT code\n    if(satKey&&satKey.length>=4&&satKey!==\"null\"){\n      try{var sat=await rpc(\"product.unspsc.code\",\"search_read\",[[[\"code\",\"=\",satKey]]],{fields:[\"id\"],limit:1});\n        if(sat&&sat.length)vals.unspsc_code_id=sat[0].id;}catch(e){}\n    }\n    \n    // Image\n    var imgUrl=String(p.img_portada||\"\");\n    if(imgUrl){var img=await imgB64(imgUrl);if(img){vals.image_1920=img;img=null;}}\n    \n    try{\n      var prodId=await rpc(\"product.template\",\"create\",[vals]);\n      created++;sd.created=(sd.created||0)+1;\n      if((sd.newList||[]).length<50){\n        sd.newList.push({sku:sku,name:String(p.titulo||\"\").substring(0,40),price:lp});\n      }\n    }catch(ce){\n      var em=String(ce.message);\n      if(em.indexOf(\"barcode\")>=0||em.indexOf(\"Codigo\")>=0){\n        delete vals.barcode;\n        try{await rpc(\"product.template\",\"create\",[vals]);created++;sd.created=(sd.created||0)+1;}\n        catch(e2){errs++;sd.errs=(sd.errs||0)+1;}\n      }else{errs++;sd.errs=(sd.errs||0)+1;}\n    }\n    delete vals.image_1920;\n  }catch(e){errs++;sd.errs=(sd.errs||0)+1;}\n}\n\nif(lastPage||productos.length<BATCH){sd.subIdx=subIdx+1;sd.pagina=1;}\nelse{sd.pagina=pagina+1;}\n\nreturn [{json:{_summary:true,subIdx:subIdx,pagina:pagina,batch:productos.length,created:created,errs:errs,\n  global:{sub:sd.subIdx,scanned:sd.scanned,created:sd.created,errs:sd.errs,cycle:sd.cycle,newCount:(sd.newList||[]).length}\n}}];\n"
                },
                "id": "c1",
                "name": "Detect New",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    470,
                    400
                ]
            }
        ],
        "connections": {
            "Daily 1am CST": {
                "main": [
                    [
                        {
                            "node": "Detect New",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Detect New",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Felipe De Alba",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-30T17:30:14.647Z",
                "id": 378,
                "workflowId": "IHbypZWRzHURVkK0",
                "versionId": "6627423e-8605-47b3-9676-a722589b7e14",
                "event": "activated",
                "userId": "0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"
            },
            {
                "createdAt": "2026-03-30T17:30:14.630Z",
                "id": 377,
                "workflowId": "IHbypZWRzHURVkK0",
                "versionId": "6627423e-8605-47b3-9676-a722589b7e14",
                "event": "deactivated",
                "userId": "0bbf9c16-bcd0-4def-9bb3-af04f5d4721d"
            }
        ]
    }
}
